flow.json
[{"id":"6fd85d06.559ee4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f8800613.50fa18","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a394e0db.62c7c","type":"inject","z":"6fd85d06.559ee4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":120,"wires":[["d2c9b8ab.0d2a98"]]},{"id":"d2c9b8ab.0d2a98","type":"debug","z":"6fd85d06.559ee4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":120,"wires":[]},{"id":"2f80d26a.e03cae","type":"mqtt in","z":"6fd85d06.559ee4","name":"","topic":"One","qos":"2","datatype":"auto","broker":"f8800613.50fa18","x":380,"y":180,"wires":[[]]}]