flow.json
[{"id":"1cb4172f.3acd49","type":"tab","label":"Digital Outputs","disabled":false,"info":""},{"id":"31f19c31.186964","type":"tab","label":"Digital Input","disabled":false,"info":""},{"id":"b973af28.b2f18","type":"tab","label":"Analog Alarms","disabled":false,"info":""},{"id":"a7fcc05f.55719","type":"tab","label":"Analog Scale","disabled":false,"info":""},{"id":"d476fb96.1ec018","type":"tab","label":"Control Panel","disabled":false,"info":""},{"id":"e74bbf29.9c2e6","type":"tab","label":"DB Connections","disabled":false,"info":""},{"id":"6278caa3.28b6a4","type":"tab","label":"OS","disabled":false,"info":""},{"id":"be2a4676.74b8a8","type":"tab","label":"System","disabled":false,"info":""},{"id":"f88a7849.b8aab8","type":"tab","label":"Firmware","disabled":false,"info":""},{"id":"acf6edd5.00ea1","type":"tab","label":"Remote","disabled":false,"info":""},{"id":"a27eb0d8.3c2fa","type":"influxdb","z":"","hostname":"localhost","port":"8886","protocol":"http","database":"monicon_sess","name":"","usetls":false,"tls":""},{"id":"cb1b82bc.a26ae","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"us-central1-1.gcp.cloud2.influxdata.com","port":"443","tls":true},{"id":"45a7d85a.401588","type":"ui_tab","z":"","name":"Control Panel","icon":"dashboard","disabled":false,"hidden":false},{"id":"4fe51183.62334","type":"ui_group","z":"","name":"Equipment Identification","tab":"45a7d85a.401588","order":4,"disp":true,"width":"6","collapse":false},{"id":"1e88062a.770d7a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5d3de38b.30602c","type":"ui_group","z":"","name":"Scale Factor (k)","tab":"45a7d85a.401588","order":5,"disp":true,"width":"6","collapse":false},{"id":"ea8e7f4c.f8bcc","type":"ui_group","z":"","name":"Device Locator","tab":"45a7d85a.401588","order":1,"disp":true,"width":"6","collapse":false},{"id":"22362b2b.e9a1e4","type":"ui_group","z":"","name":"Digital Inputs","tab":"da91f024.78ee3","order":3,"disp":true,"width":"6","collapse":false},{"id":"da91f024.78ee3","type":"ui_tab","z":"","name":"IO Measurements","icon":"dashboard","disabled":false,"hidden":false},{"id":"682affd.438e7","type":"ui_group","z":"","name":"Device Locator","tab":"da91f024.78ee3","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f5898a7.07fa48","type":"ui_group","z":"","name":"4..20mA Signals - 20sec Updates","tab":"da91f024.78ee3","order":4,"disp":true,"width":"6","collapse":false},{"id":"bf96246c.d919c8","type":"ui_group","z":"","name":"PT100 Signals - 20sec Updates","tab":"da91f024.78ee3","order":5,"disp":true,"width":"6","collapse":false},{"id":"2753fe30.136152","type":"ui_group","z":"","name":"Digital Outputs","tab":"da91f024.78ee3","order":2,"disp":true,"width":"6","collapse":false},{"id":"d342ae97.3b2ec","type":"ui_group","z":"","name":"Thresholds","tab":"45a7d85a.401588","order":6,"disp":true,"width":"6","collapse":false},{"id":"d8647c59.12493","type":"ui_tab","z":"","name":"Alarms","icon":"dashboard","disabled":false,"hidden":false},{"id":"18b9ac28.263ce4","type":"ui_group","z":"","name":"4n20mA HIGH Alarms","tab":"d8647c59.12493","order":3,"disp":true,"width":"6","collapse":false},{"id":"25e1adcb.525a02","type":"ui_group","z":"","name":"Device Locator","tab":"d8647c59.12493","order":1,"disp":true,"width":"6","collapse":false},{"id":"bbe1e6e.c044218","type":"ui_group","z":"","name":"4n20mA LOW Alarms","tab":"d8647c59.12493","order":2,"disp":true,"width":"6","collapse":false},{"id":"a0ab591e.494fc8","type":"ui_group","z":"","name":"PT100 LOW Alarms","tab":"d8647c59.12493","order":4,"disp":true,"width":"6","collapse":false},{"id":"5a0ef1e2.ddb77","type":"ui_group","z":"","name":"PT100 HIGH Alarms","tab":"d8647c59.12493","order":5,"disp":true,"width":"6","collapse":false},{"id":"1c5e7bce.dafe64","type":"ui_tab","z":"","name":"Parameters","icon":"dashboard","disabled":false,"hidden":false},{"id":"c9c66b1f.63bdc8","type":"ui_group","z":"","name":"4n20mA - LOW Parameter","tab":"1c5e7bce.dafe64","order":2,"disp":true,"width":"6","collapse":false},{"id":"d41c1003.34b84","type":"ui_group","z":"","name":"4n20mA - HIGH Parameter","tab":"1c5e7bce.dafe64","order":3,"disp":true,"width":"6","collapse":false},{"id":"64e82ef2.ffce3","type":"ui_group","z":"","name":"PT100 - LOW Parameter","tab":"1c5e7bce.dafe64","order":4,"disp":true,"width":"6","collapse":false},{"id":"d6b5f6cc.ac6ab8","type":"ui_group","z":"","name":"PT100 - HIGH Parameter","tab":"1c5e7bce.dafe64","order":5,"disp":true,"width":"6","collapse":false},{"id":"4952bdf6.d526e4","type":"ui_group","z":"","name":"Device Locator","tab":"1c5e7bce.dafe64","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e9493b.19b276c","type":"ui_group","z":"","name":"Device Info","tab":"45a7d85a.401588","order":2,"disp":true,"width":"6","collapse":false},{"id":"e3d48d50.fae3f","type":"ui_group","z":"","name":"System Info","tab":"45a7d85a.401588","order":3,"disp":true,"width":"6","collapse":false},{"id":"1f86c7fe.575f98","type":"ui_group","z":"","name":"PT100 - LOW Active Alarm","tab":"1140bc77.403c34","order":8,"disp":true,"width":"6","collapse":false},{"id":"1053e3d8.f35acc","type":"ui_group","z":"","name":"PT100 - HIGH Active Alarm","tab":"1140bc77.403c34","order":9,"disp":true,"width":"6","collapse":false},{"id":"9cc24926.921388","type":"ui_group","z":"","name":"4n20 - LOW Active Alarm","tab":"1140bc77.403c34","order":6,"disp":true,"width":"6","collapse":false},{"id":"1c35732b.c16ddd","type":"ui_group","z":"","name":"4n20 - HIGH Active Alarm","tab":"1140bc77.403c34","order":7,"disp":true,"width":"6","collapse":false},{"id":"1140bc77.403c34","type":"ui_tab","z":"","name":"Alarm Config","icon":"dashboard","disabled":false,"hidden":false},{"id":"97964936.2f6b58","type":"ui_group","z":"","name":"Device Locator","tab":"1140bc77.403c34","order":5,"disp":true,"width":"6","collapse":false},{"id":"4da4ea34.630684","type":"influxdb","z":"","hostname":"localhost","port":"8886","protocol":"http","database":"monicon_sess","name":"","usetls":false,"tls":""},{"id":"da535876.280af8","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"us-central1-1.gcp.cloud2.influxdata.com","port":"443","tls":true},{"id":"87e78a20.98ffc8","type":"ui_tab","z":"","name":"Control Panel","icon":"dashboard","disabled":false,"hidden":false},{"id":"5c1e3a03.f96f14","type":"ui_group","z":"","name":"Equipment Identification","tab":"87e78a20.98ffc8","order":4,"disp":true,"width":"6","collapse":false},{"id":"4d64fa3d.ad0334","type":"mqtt-broker","z":"","name":"","broker":"tailor.cloudmqtt.com","port":"10287","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"17102250.63705e","type":"ui_group","z":"","name":"Scale Factor (k)","tab":"87e78a20.98ffc8","order":5,"disp":true,"width":"6","collapse":false},{"id":"6fb0f864.ab50a8","type":"ui_group","z":"","name":"Device Locator","tab":"87e78a20.98ffc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1eb39dcf.402d42","type":"ui_group","z":"","name":"Digital Inputs","tab":"e30c5524.3b03b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e30c5524.3b03b8","type":"ui_tab","z":"","name":"IO Measurements","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ccf8783.a39388","type":"ui_group","z":"","name":"Device Locator","tab":"e30c5524.3b03b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c272663b.a14478","type":"ui_group","z":"","name":"4..20mA Signals - 20sec Updates","tab":"e30c5524.3b03b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"72834d19.0b2444","type":"ui_group","z":"","name":"PT100 Signals - 20sec Updates","tab":"e30c5524.3b03b8","order":5,"disp":true,"width":"6","collapse":false},{"id":"7c778399.916a2c","type":"ui_group","z":"","name":"Digital Outputs","tab":"e30c5524.3b03b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc99a385.0e3b2","type":"ui_group","z":"","name":"Thresholds","tab":"87e78a20.98ffc8","order":6,"disp":true,"width":"6","collapse":false},{"id":"c287c0e5.10e9b","type":"ui_tab","z":"","name":"Alarms","icon":"dashboard","disabled":false,"hidden":false},{"id":"b237d978.a14268","type":"ui_group","z":"","name":"4n20mA HIGH Alarms","tab":"c287c0e5.10e9b","order":3,"disp":true,"width":"6","collapse":false},{"id":"ddf1255a.a41838","type":"ui_group","z":"","name":"Device Locator","tab":"c287c0e5.10e9b","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2b9ab7b.2c0768","type":"ui_group","z":"","name":"4n20mA LOW Alarms","tab":"c287c0e5.10e9b","order":2,"disp":true,"width":"6","collapse":false},{"id":"6d37b4c5.91432c","type":"ui_group","z":"","name":"PT100 LOW Alarms","tab":"c287c0e5.10e9b","order":4,"disp":true,"width":"6","collapse":false},{"id":"7374f39a.81f2fc","type":"ui_group","z":"","name":"PT100 HIGH Alarms","tab":"c287c0e5.10e9b","order":5,"disp":true,"width":"6","collapse":false},{"id":"5e5f0080.da32c","type":"ui_tab","z":"","name":"Parameters","icon":"dashboard","disabled":false,"hidden":false},{"id":"100a187b.33f1a8","type":"ui_group","z":"","name":"4n20mA - LOW Parameter","tab":"5e5f0080.da32c","order":2,"disp":true,"width":"6","collapse":false},{"id":"3f923ce4.4e7424","type":"ui_group","z":"","name":"4n20mA - HIGH Parameter","tab":"5e5f0080.da32c","order":3,"disp":true,"width":"6","collapse":false},{"id":"61e2dc9d.93fca4","type":"ui_group","z":"","name":"PT100 - LOW Parameter","tab":"5e5f0080.da32c","order":4,"disp":true,"width":"6","collapse":false},{"id":"ac436fe4.bafe","type":"ui_group","z":"","name":"PT100 - HIGH Parameter","tab":"5e5f0080.da32c","order":5,"disp":true,"width":"6","collapse":false},{"id":"21a017d8.e1e498","type":"ui_group","z":"","name":"Device Locator","tab":"5e5f0080.da32c","order":1,"disp":true,"width":"6","collapse":false},{"id":"50eaefba.c2b8","type":"ui_group","z":"","name":"Device Info","tab":"87e78a20.98ffc8","order":2,"disp":true,"width":"6","collapse":false},{"id":"1865bad3.468e45","type":"ui_group","z":"","name":"System Info","tab":"87e78a20.98ffc8","order":3,"disp":true,"width":"6","collapse":false},{"id":"f3836776.24a948","type":"ui_group","z":"","name":"PT100 - LOW Active Alarm","tab":"2543fd32.5de642","order":8,"disp":true,"width":"6","collapse":false},{"id":"f848f227.646ba","type":"ui_group","z":"","name":"PT100 - HIGH Active Alarm","tab":"2543fd32.5de642","order":9,"disp":true,"width":"6","collapse":false},{"id":"3680207b.60e1c","type":"ui_group","z":"","name":"4n20 - LOW Active Alarm","tab":"2543fd32.5de642","order":6,"disp":true,"width":"6","collapse":false},{"id":"8b02168c.0a4558","type":"ui_group","z":"","name":"4n20 - HIGH Active Alarm","tab":"2543fd32.5de642","order":7,"disp":true,"width":"6","collapse":false},{"id":"2543fd32.5de642","type":"ui_tab","z":"","name":"Alarm Config","icon":"dashboard","disabled":false,"hidden":false},{"id":"9e65150.45f55e8","type":"ui_group","z":"","name":"Device Locator","tab":"2543fd32.5de642","order":5,"disp":true,"width":"6","collapse":false},{"id":"7e73cdd4.e0b814","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"https://us-central1-1.gcp.cloud2.influxdata.com","verifyservercert":true},{"id":"7dc9807f.d7441","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6661790b.eaab08","type":"inject","z":"e74bbf29.9c2e6","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":80,"wires":[["73b85d54.a43ab4"]]},{"id":"cd1ef7aa.4b7fc8","type":"inject","z":"e74bbf29.9c2e6","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":300,"wires":[["ccad836f.f8c6e"]]},{"id":"6a988784.6420c8","type":"comment","z":"e74bbf29.9c2e6","name":"RESET DATABASES","info":"","x":120,"y":40,"wires":[]},{"id":"ce4a1cd3.ca342","type":"comment","z":"e74bbf29.9c2e6","name":"CREATES DATABASES","info":"","x":130,"y":260,"wires":[]},{"id":"7e49ebb5.b7fb84","type":"comment","z":"e74bbf29.9c2e6","name":"PT100 Analog Signals","info":"","x":120,"y":500,"wires":[]},{"id":"646d11a9.79109","type":"function","z":"e74bbf29.9c2e6","name":"Remote Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n/*\noutput[0] = AI-0 // PT100\noutput[1] = AI-1 // PT100\noutput[2] = AI-2 // PT100\noutput[3] = AI-3 // PT100\noutput[4] = AI-4 // 4..20mA\noutput[5] = AI-5 // 4..20mA\noutput[6] = AI-6 // 4..20mA\noutput[7] = AI-7 // 4..20mA \noutput[8] = Device ID\noutput[9] = Location \n*/\n\n// Lighting\n//if (output.length > 4) {\n//    if (output[3].includes(\"Light\")) {\n//        output[4] = output[4].replace(/\\s+/g, '_')\n//        output[4] = output[4].concat(\".Lt\")\n//\t} else if (output[3].includes(\"Power\")) {\n//\t\toutput[4] = output[4].replace(/\\s+/g, '_')\n//\t\toutput[4] = output[4].concat(\".Pwr\")\n//\t}\n//}\n\n//output[1] = (output[1] / 1000).toFixed(2);\n\nstructureObject();\n\nreturn msg;\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tAnalogs: msg.topic\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\t_4n20_7: parseFloat(output[0]),\n\t\t\t\t_4n20_6: parseFloat(output[1]),\n\t\t\t\t_4n20_5: parseFloat(output[2]),\n\t\t\t\t_4n20_4: parseFloat(output[3]),\n\t\t\t\t_4n20_3: parseFloat(output[4]),\n\t\t\t\t_4n20_2: parseFloat(output[5]),\n\t\t\t\t_4n20_1: parseFloat(output[6]),\n\t\t\t\t_4n20_0: parseFloat(output[7]),\n\t\t\t\t_ID: \"\\\"\" + output[8] + \"\\\"\",\n\t\t\t\t_Location: \"\\\"\" + output[9] + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":460,"wires":[["4edc5987.033b08"]]},{"id":"6d420cef.60b5e4","type":"function","z":"e74bbf29.9c2e6","name":"Local Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\nmsg.payload = [\n    {\n        measurement: siteID,\n\n        fields: {\n\t\t\t_4n20_7: parseFloat(output[0]),\n\t\t\t_4n20_6: parseFloat(output[1]),\n\t\t\t_4n20_5: parseFloat(output[2]),\n\t\t\t_4n20_4: parseFloat(output[3]),\n\t\t\t_4n20_3: parseFloat(output[4]),\n\t\t\t_4n20_2: parseFloat(output[5]),\n\t\t\t_4n20_1: parseFloat(output[6]),\n\t\t\t_4n20_0: parseFloat(output[7]),\n\t\t\t_ID: output[8],\n\t\t\t_Location: output[9]\n\t\t},\n\t\t\n        tags:{\n            Analogs: msg.topic\n        },\n        //timestamp: Date.now()\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":420,"wires":[["d14491b2.94319"]]},{"id":"ef006fcc.6feb9","type":"mqtt in","z":"6278caa3.28b6a4","name":"","topic":"MONICON/CMD/OS/","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":140,"y":160,"wires":[["d8ad3aaf.33b8c8","aeb599fd.4ed968","26e0637d.06ee3c","3b531eeb.cecb42","219ed7ca.44e9e8","6b9868ec.ea9ee8"]]},{"id":"958f6c30.050cb","type":"function","z":"6278caa3.28b6a4","name":"IP Addr","func":"var data = msg.payload.networkInterfaces.wlan0[0].address\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/IP\" };\nreturn msg1;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["e08aef44.ce47e","a90be9b8.a97028"]]},{"id":"d752cb5b.e498e8","type":"function","z":"6278caa3.28b6a4","name":"Uptime","func":"var data = msg.payload.uptime\n\nlet days = parseInt(data / 86400)\nlet hours = parseInt((data % 86400) / 3600)\nlet minutes = parseInt(((data % 86400) % 3600) / 60)\nlet secs = parseInt(((data % 86400) % 3600) % 60)\n\nlet msg1 = {payload: \"Days[\" + days + \"] Hours[\" + hours + \"] Mins[\" + minutes + \"] Sec[\" + secs + \"]\", topic: \"MONICON/STAT/OS/UPTIME\"}\n\nreturn msg1\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":360,"wires":[["e08aef44.ce47e","77a9619c.e4e8","e189def.4aaca2"]]},{"id":"e08aef44.ce47e","type":"mqtt out","z":"6278caa3.28b6a4","name":"","topic":"","qos":"","retain":"","broker":"7dc9807f.d7441","x":870,"y":60,"wires":[]},{"id":"1b878c59.a3df94","type":"function","z":"6278caa3.28b6a4","name":"Model","func":"var data = msg.payload.cpus[0].model\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/MODEL\" };\nreturn msg1;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["e08aef44.ce47e","108c9c7b.cc7614"]]},{"id":"835dd2f1.1e3b","type":"function","z":"6278caa3.28b6a4","name":"Disk Size (GB)","func":"var data = msg.payload[0]\n\nvar diskSize = String((data.size / 1000000).toFixed(2)) + \",\" + String((data.used / 1000000).toFixed(2)) + \",\" + String((data.available / 1000000).toFixed(2)) + \",\" + String((data.capacity * 100).toFixed(0))\n\nvar msg1 = { payload: diskSize, topic: \"MONICON/STAT/OS/DISK\" }\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":200,"wires":[["e08aef44.ce47e","484c7a93.ebc0b4","81a0896a.1b1c98"]]},{"id":"828bae35.20edf","type":"function","z":"6278caa3.28b6a4","name":"RAM (MB)","func":"var data = msg.payload\n\nvar ramSize = String((data.totalmem / 1000000).toFixed(2)) + \",\" + String((data.freemem / 1000000).toFixed(2)) + \",\" + String(parseFloat(data.memusage).toFixed(0))\n\nvar msg1 = { payload: ramSize, topic: \"MONICON/STAT/OS/RAM\" }\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":120,"wires":[["e08aef44.ce47e","fe299f6e.8b517"]]},{"id":"484c7a93.ebc0b4","type":"function","z":"6278caa3.28b6a4","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nvar output = msg.payload.split(\",\");\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\n        \n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            TotalMem: parseFloat(output[0]),\n            UsedMem: parseFloat(output[1]),\n            FreeMem: parseFloat(output[2]),\n            PercentMem: parseFloat(output[3])\n        },\n        tags:{\n            System: \"HDD\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"HDD\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tTotalMem: parseFloat(output[0]),\n                UsedMem: parseFloat(output[1]),\n                FreeMem: parseFloat(output[2]),\n                PercentMem: parseFloat(output[3])\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":160,"wires":[["c56057bb.e9e9c8"],["c965c6c3.d2a4c8"]]},{"id":"65ae715f.6dd2a","type":"inject","z":"6278caa3.28b6a4","name":"30sec Cycle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":140,"y":40,"wires":[["3e3410dd.29e3a"]]},{"id":"108c9c7b.cc7614","type":"function","z":"6278caa3.28b6a4","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n    //msg.payload = msg.payload.replace(/\\s+/g, '_')\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Model: msg.payload\n        },\n        tags:{\n            System: \"Model\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"Model\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tModel: \"\\\"\" + msg.payload[0].fields.Model + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":280,"wires":[["6ec2fa0.71fb408"],["84f23acd.8623c8"]]},{"id":"a90be9b8.a97028","type":"function","z":"6278caa3.28b6a4","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            IPAddr: msg.payload\n        },\n        tags:{\n            System: \"IP\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"IP\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tIPAddr: \"\\\"\" + msg.payload[0].fields.IPAddr + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":320,"wires":[["6ec2fa0.71fb408"],["84f23acd.8623c8"]]},{"id":"77a9619c.e4e8","type":"function","z":"6278caa3.28b6a4","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nlet deploys = global.get(\"deploys\") || 0;\n\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Uptime: msg.payload,\n            Deploys: parseFloat(deploys)\n        },\n        tags:{\n            System: \"UPTIME\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"UPTIME\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tUptime: \"\\\"\" + msg.payload[0].fields.Uptime + \"\\\"\",\n\t\t\t\tDeploys: parseFloat(deploys)\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":360,"wires":[["6ec2fa0.71fb408"],["84f23acd.8623c8"]]},{"id":"3ec467c1.8e3ce8","type":"function","z":"6278caa3.28b6a4","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Hostname: msg.payload,\n        },\n        tags:{\n            System: \"Hostname\",\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"Hostname\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tHostname: \"\\\"\" + String(msg.payload[0].fields.Hostname) + \"\\\"\",\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":240,"wires":[["6ec2fa0.71fb408"],["84f23acd.8623c8"]]},{"id":"fe299f6e.8b517","type":"function","z":"6278caa3.28b6a4","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nvar output = msg.payload.split(\",\");\n\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            TotalRam: parseFloat(output[0]),\n            FreeRam: parseFloat(output[1]),\n            PercentRam: parseFloat(output[2])\n        },\n        tags:{\n            System: \"RAM\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"RAM\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tTotalRam: parseFloat(output[0]),\n                FreeRam: parseFloat(output[1]),\n                PercentRam: parseFloat(output[2])\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":120,"wires":[["c56057bb.e9e9c8"],["c965c6c3.d2a4c8"]]},{"id":"3478afe9.f5f56","type":"function","z":"6278caa3.28b6a4","name":"Hostname","func":"var data = msg.payload.hostname\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/Hostname\" };\nreturn msg1;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["3ec467c1.8e3ce8"]]},{"id":"e5bda25f.f4325","type":"exec","z":"be2a4676.74b8a8","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":750,"y":180,"wires":[[],[],[]]},{"id":"9e970a9f.0648d8","type":"inject","z":"be2a4676.74b8a8","name":"12hr Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":180,"wires":[["e5bda25f.f4325"]]},{"id":"1e62f0cb.72687f","type":"function","z":"6278caa3.28b6a4","name":"Temperature","func":"var data = msg.payload\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/Temperature\" };\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":440,"wires":[["9397e427.312428","e08aef44.ce47e","86b271e0.f7096"]]},{"id":"9397e427.312428","type":"function","z":"6278caa3.28b6a4","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"  \n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Temperature: msg.payload,\n        },\n        tags:{\n            System: \"Temperature\",\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"Temperature\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tTemperature: parseFloat(msg.payload[0].fields.Temperature),\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":440,"wires":[["4d2e68a3.eb5598"],["c43f7c34.85ef1"]]},{"id":"4edc5987.033b08","type":"Stackhero-InfluxDB-v2-write","z":"e74bbf29.9c2e6","server":"da535876.280af8","name":"SESS_ID001","x":950,"y":460,"wires":[[]]},{"id":"aba911e.9fcacf","type":"influxdb out","z":"e74bbf29.9c2e6","influxdb":"4da4ea34.630684","name":"","measurement":"","precision":"","retentionPolicy":"","x":1010,"y":80,"wires":[]},{"id":"2ccbf86.8840a08","type":"influxdb out","z":"e74bbf29.9c2e6","influxdb":"4da4ea34.630684","name":"","measurement":"","precision":"","retentionPolicy":"","x":990,"y":300,"wires":[]},{"id":"d14491b2.94319","type":"influxdb batch","z":"e74bbf29.9c2e6","influxdb":"4da4ea34.630684","precision":"","retentionPolicy":"","name":"","x":1010,"y":420,"wires":[]},{"id":"73b85d54.a43ab4","type":"influxdb in","z":"e74bbf29.9c2e6","influxdb":"4da4ea34.630684","name":"monicon.sess","query":"DROP DATABASE monicon_sess","rawOutput":false,"precision":"","retentionPolicy":"","x":760,"y":80,"wires":[["aba911e.9fcacf"]]},{"id":"ccad836f.f8c6e","type":"influxdb in","z":"e74bbf29.9c2e6","influxdb":"4da4ea34.630684","name":"monicon.sess","query":"CREATE DATABASE monicon_sess","rawOutput":false,"precision":"","retentionPolicy":"","x":740,"y":300,"wires":[["2ccbf86.8840a08"]]},{"id":"683655c6.41ef2c","type":"string","z":"e74bbf29.9c2e6","name":"Sectionaliser ","methods":[{"name":"getRightMost","params":[{"type":"str","value":"ProPower-ESP/Device/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":290,"y":420,"wires":[["646d11a9.79109","6d420cef.60b5e4"]]},{"id":"26e0637d.06ee3c","type":"OS","z":"6278caa3.28b6a4","name":"","x":370,"y":240,"wires":[["3478afe9.f5f56"]]},{"id":"3b531eeb.cecb42","type":"Drives","z":"6278caa3.28b6a4","name":"","x":370,"y":200,"wires":[["835dd2f1.1e3b"]]},{"id":"6b9868ec.ea9ee8","type":"Uptime","z":"6278caa3.28b6a4","name":"","x":380,"y":360,"wires":[["d752cb5b.e498e8"]]},{"id":"aeb599fd.4ed968","type":"CPUs","z":"6278caa3.28b6a4","name":"","x":370,"y":280,"wires":[["1b878c59.a3df94"]]},{"id":"219ed7ca.44e9e8","type":"Memory","z":"6278caa3.28b6a4","name":"","x":380,"y":120,"wires":[["828bae35.20edf"]]},{"id":"d8ad3aaf.33b8c8","type":"NetworkIntf","z":"6278caa3.28b6a4","name":"","x":390,"y":320,"wires":[["958f6c30.050cb"]]},{"id":"37c1b39e.ac82ec","type":"cpu","z":"6278caa3.28b6a4","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":390,"y":440,"wires":[["1e62f0cb.72687f"]]},{"id":"176cfbf0.e89df4","type":"comment","z":"e74bbf29.9c2e6","name":"4n20 Analog Signals","info":"","x":110,"y":380,"wires":[]},{"id":"c40c2fc9.7ee3b","type":"function","z":"e74bbf29.9c2e6","name":"Remote Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n\n/*\noutput[0] = AI-0 // PT100\noutput[1] = AI-1 // PT100\noutput[2] = AI-2 // PT100\noutput[3] = AI-3 // PT100\noutput[4] = AI-4 // 4..20mA\noutput[5] = AI-5 // 4..20mA\noutput[6] = AI-6 // 4..20mA\noutput[7] = AI-7 // 4..20mA \noutput[8] = Device ID\noutput[9] = Location \n*/\n\n// Lighting\n//if (output.length > 4) {\n//    if (output[3].includes(\"Light\")) {\n//        output[4] = output[4].replace(/\\s+/g, '_')\n//        output[4] = output[4].concat(\".Lt\")\n//\t} else if (output[3].includes(\"Power\")) {\n//\t\toutput[4] = output[4].replace(/\\s+/g, '_')\n//\t\toutput[4] = output[4].concat(\".Pwr\")\n//\t}\n//}\n\n//output[1] = (output[1] / 1000).toFixed(2);\n\nstructureObject();\n\nreturn msg;\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tAnalogs: msg.topic\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\t_PT100_7: parseFloat(output[0]),\n\t\t\t\t_PT100_6: parseFloat(output[1]),\n\t\t\t\t_PT100_5: parseFloat(output[2]),\n\t\t\t\t_PT100_4: parseFloat(output[3]),\n\t\t\t\t_PT100_3: parseFloat(output[4]),\n\t\t\t\t_PT100_2: parseFloat(output[5]),\n\t\t\t\t_PT100_1: parseFloat(output[6]),\n\t\t\t\t_PT100_0: parseFloat(output[7]),\n\t\t\t\t_ID: \"\\\"\" + output[8] + \"\\\"\",\n\t\t\t\t_Location: \"\\\"\" + output[9] + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["ebae7.890215198"]]},{"id":"b74624c8.95ecb8","type":"function","z":"e74bbf29.9c2e6","name":"Local Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\nmsg.payload = [\n    {\n        measurement: siteID,\n\n        fields: {\n\t\t\t_PT100_7: parseFloat(output[0]),\n\t\t\t_PT100_6: parseFloat(output[1]),\n\t\t\t_PT100_5: parseFloat(output[2]),\n\t\t\t_PT100_4: parseFloat(output[3]),\n\t\t\t_PT100_3: parseFloat(output[4]),\n\t\t\t_PT100_2: parseFloat(output[5]),\n\t\t\t_PT100_1: parseFloat(output[6]),\n\t\t\t_PT100_0: parseFloat(output[7]),\n\t\t\t_ID: output[8],\n\t\t\t_Location: output[9]\n\t\t},\n        tags:{\n            Analogs: msg.topic\n        },\n        //timestamp: Date.now()\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":540,"wires":[["755e161.32f3ee8"]]},{"id":"ebae7.890215198","type":"Stackhero-InfluxDB-v2-write","z":"e74bbf29.9c2e6","server":"da535876.280af8","name":"SESS_ID001","x":950,"y":580,"wires":[[]]},{"id":"755e161.32f3ee8","type":"influxdb batch","z":"e74bbf29.9c2e6","influxdb":"4da4ea34.630684","precision":"","retentionPolicy":"","name":"","x":1010,"y":540,"wires":[]},{"id":"1f93c232.71a06e","type":"string","z":"e74bbf29.9c2e6","name":"Sectionaliser ","methods":[{"name":"getRightMost","params":[{"type":"str","value":"ProPower-ESP/Device/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":290,"y":540,"wires":[["c40c2fc9.7ee3b","b74624c8.95ecb8"]]},{"id":"7293e4d5.3903dc","type":"exec","z":"6278caa3.28b6a4","command":"iw dev | grep ssid | awk '{print $2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SSID","x":370,"y":540,"wires":[["6a6add98.562ab4"],[],[]]},{"id":"d319237c.5f4ce","type":"function","z":"6278caa3.28b6a4","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nvar msg1 = {};\n\n    msg1.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            SSID: msg.payload,\n            SiteID: siteID\n        },\n        tags:{\n            System: \"SSID\",\n        }\n    }];\n    \nvar msg2 = {};\n\nstructureObject();\n\nreturn [[msg1], [msg2]];\n        \nfunction structureObject() {\n\tmsg2.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"SSID\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tSSID: \"\\\"\" + msg.payload + \"\\\"\",\n\t\t\t\tSiteID: \"\\\"\" + siteID + \"\\\"\",\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":520,"wires":[["4d2e68a3.eb5598"],["c43f7c34.85ef1"]]},{"id":"6a6add98.562ab4","type":"function","z":"6278caa3.28b6a4","name":"SSID","func":"var data = String(msg.payload.replace(/[\\n\\r]+/g, ' ').replace(/\\s{2,}/g,' ').replace(/^\\s+|\\s+$/,'') )\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":520,"wires":[["d319237c.5f4ce"]]},{"id":"b6c7521f.b3195","type":"mqtt in","z":"a7fcc05f.55719","name":"","topic":"MONICON-PLC/Device/AI_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":80,"wires":[["4e8d879b.8b25c8","ca7c3d26.d792e"]]},{"id":"35264dd3.e231f2","type":"mqtt in","z":"a7fcc05f.55719","name":"","topic":"MONICON-PLC/Device/AI_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":160,"wires":[["f2db9112.edf1a","ca7c3d26.d792e"]]},{"id":"4e8d879b.8b25c8","type":"link out","z":"a7fcc05f.55719","name":"L-OUT-AI_4n20","links":["311cc9da.295866","3e649a44.6ae766","8ccca261.a9095","fb825d88.14935","e4b05cb6.755b4","61980d7c.a4f6f4","88c2d23c.6ec84"],"x":655,"y":80,"wires":[]},{"id":"f2db9112.edf1a","type":"link out","z":"a7fcc05f.55719","name":"L-OUT-AI_PT100","links":["d40653c7.effc4","284382ad.80da5e","86a52f8.d751fd","809e3c8c.14b8c","88c2d23c.6ec84"],"x":655,"y":160,"wires":[]},{"id":"8ccca261.a9095","type":"link in","z":"e74bbf29.9c2e6","name":"","links":["4e8d879b.8b25c8"],"x":35,"y":420,"wires":[["683655c6.41ef2c"]]},{"id":"284382ad.80da5e","type":"link in","z":"e74bbf29.9c2e6","name":"","links":["f2db9112.edf1a"],"x":35,"y":540,"wires":[["1f93c232.71a06e"]]},{"id":"cc59c6d1.e10ed8","type":"mqtt in","z":"31f19c31.186964","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_00/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":80,"wires":[["e5461bbd.785688"]]},{"id":"9a8864fd.8a1d08","type":"mqtt in","z":"1cb4172f.3acd49","name":"","topic":"MONICON-PLC/STAT/DigitalOutputStatus/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":80,"wires":[["a6839ead.52f05"]]},{"id":"82423ba9.a52358","type":"mqtt in","z":"31f19c31.186964","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_01/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":140,"wires":[["e5461bbd.785688"]]},{"id":"272f7080.a3176","type":"mqtt in","z":"31f19c31.186964","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_02/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":200,"wires":[["e5461bbd.785688"]]},{"id":"f1d1bca9.8779c","type":"mqtt in","z":"31f19c31.186964","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_03/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":260,"wires":[["e5461bbd.785688"]]},{"id":"3367b3cb.fec0fc","type":"mqtt in","z":"31f19c31.186964","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_04/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":320,"wires":[["e5461bbd.785688"]]},{"id":"9f5fe4bc.33b528","type":"mqtt in","z":"31f19c31.186964","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_05/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":380,"wires":[["e5461bbd.785688"]]},{"id":"4cba31c1.b7a6e","type":"mqtt in","z":"31f19c31.186964","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_06/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":440,"wires":[["e5461bbd.785688"]]},{"id":"8490ba9b.3aa578","type":"comment","z":"1cb4172f.3acd49","name":"Digital Output Status","info":"","x":110,"y":40,"wires":[]},{"id":"1ea49b36.6a03f5","type":"comment","z":"31f19c31.186964","name":"Digital Input Status Bits","info":"","x":120,"y":40,"wires":[]},{"id":"8f8fdc2b.e7d15","type":"e-mail","z":"d476fb96.1ec018","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"monicon.sess@gmail.com","dname":"monicon.sess@gmail.com","x":960,"y":160,"wires":[]},{"id":"ffaabadd.03c028","type":"comment","z":"d476fb96.1ec018","name":"Send Email Notification","info":"","x":140,"y":40,"wires":[]},{"id":"7e70457c.2f5a0c","type":"mqtt in","z":"b973af28.b2f18","name":"","topic":"MONICON-PLC/Device/4n20_Flags/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":170,"y":200,"wires":[["fef07649.9f6fa8","4f5b406c.6efc3"]]},{"id":"83b65937.772308","type":"mqtt in","z":"b973af28.b2f18","name":"","topic":"MONICON-PLC/Device/PT100_Flags/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":170,"y":80,"wires":[["f6496e2c.7fcb7","4f5b406c.6efc3"]]},{"id":"35578391.ee6aac","type":"comment","z":"b973af28.b2f18","name":"Analog Alarms 1st <8x PT100 LOW Alarms> | 2nd <8x PT100 HIGH Alarms>","info":"","x":290,"y":40,"wires":[]},{"id":"ff168a93.ef0008","type":"mqtt in","z":"b973af28.b2f18","name":"","topic":"MONICON-PLC/Device/Alarm_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":170,"y":420,"wires":[["5eb6df23.fe1d"]]},{"id":"f16a9076.668e4","type":"mqtt in","z":"b973af28.b2f18","name":"","topic":"MONICON-PLC/Device/Alarm_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":170,"y":340,"wires":[["5965907d.8b7f9"]]},{"id":"967d4130.6c3c6","type":"comment","z":"b973af28.b2f18","name":"4n20mA Low Alarm - Rising Edge Trigger | <AI-ID> | <Limit-Type> | <Equip-Name>","info":"","x":310,"y":300,"wires":[]},{"id":"5965907d.8b7f9","type":"link out","z":"b973af28.b2f18","name":"L-ALM-PT100","links":["23f6e449.275aec"],"x":475,"y":340,"wires":[]},{"id":"5eb6df23.fe1d","type":"link out","z":"b973af28.b2f18","name":"L-ALM-4n20","links":["878a2366.75109"],"x":475,"y":420,"wires":[]},{"id":"23f6e449.275aec","type":"link in","z":"d476fb96.1ec018","name":"","links":["5965907d.8b7f9"],"x":75,"y":120,"wires":[["ec298aeb.cc4968"]]},{"id":"2b0ba8ad.6c4f28","type":"comment","z":"d476fb96.1ec018","name":"Alarm PT100","info":"","x":110,"y":80,"wires":[]},{"id":"1e7fdc2d.e6a994","type":"comment","z":"d476fb96.1ec018","name":"Alarm 4n20","info":"","x":110,"y":180,"wires":[]},{"id":"878a2366.75109","type":"link in","z":"d476fb96.1ec018","name":"","links":["5eb6df23.fe1d"],"x":75,"y":240,"wires":[["9ab73e04.0d62d"]]},{"id":"ec298aeb.cc4968","type":"function","z":"d476fb96.1ec018","name":"Email Setup - PT100 Alarms","func":"/*\ndata[0] = PIN_ID\ndata[1] = Alarm Status\ndata[2] = PV\ndata[3] = Threshold Parameter\ndata[4] = Equipment ID\ndata[5] = Software Version\n\ntopic[0] = PLC_ID\ntopic[1] = CMD\ntopic[2] = Subject\ntopic[3] = Serial_ID\n*/\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n\nlet subjectMSg_PT100 = global.get(\"subjectMSg_PT100\") || \"null\";                    //String\nlet bodyMSg_PT100 = global.get(\"bodyMSg_PT100\") || \"null\";                          //String\nlet addrTo_PT100 = global.get(\"addrTo_PT100\") || \"monicon.sess@gmail.com\";                            //String\nlet addrCc_PT100 = global.get(\"addrCc_PT100\") || \"\";                            //Strng\nlet addrBcc_PT100 = global.get(\"addrBcc_PT100\") || \"\";                          //String\nlet subjectParameters_PT100 = global.get(\"subjectParameters_PT100\") || \"null\";      //String of bools\nlet bodyParameters_PT100 = global.get(\"bodyParameters_PT100\") || \"null\";            //String of bools\n\n// Data splitting\nvar data = msg.payload.split(',')\nvar topic = msg.topic.split('/')\nlet subPara = subjectParameters_PT100.split('=');\nlet bodyPara = bodyParameters_PT100.split('=');\n\n// Subject Concatenation\nvar subject = subjectMSg_PT100;\nsubject += subPara[5] == \"1\" ? \" | Sensor Type - PT100 Alm\" : \"\";\nsubject += subPara[4] == \"1\" ? \" | Alarm Status - \" + data[1] : \"\";\nsubject += subPara[1] == \"1\" ? \" | Analog No. - \" + data[0] : \"\";\nsubject += subPara[2] == \"1\" ? \" | Site ID - \" + siteID : \"\";\nsubject += subPara[3] == \"1\" ? \" | Equipment ID - \" + data[4] : \"\";\nsubject += subPara[0] == \"1\" ? \" | Date & Time - \" + Date().toString() : \"\";\n\n// Subject Concatenation\nvar body = bodyMSg_PT100 + \"\\n\";\nbody += bodyPara[0] == \"1\" ? \"\\nDate & Time -\\t \" + Date().toString() : \"\";\nbody += bodyPara[5] == \"1\" ? \"\\nSensor Type -\\t PT100 Alm\" : \"\";\nbody += bodyPara[4] == \"1\" ? \"\\nAlarm Status -\\t \" + data[1] : \"\";\nbody += bodyPara[1] == \"1\" ? \"\\nAnalog No. -\\t \" + data[0] : \"\";\nbody += bodyPara[2] == \"1\" ? \"\\nSite ID -\\t \" + siteID : \"\";\nbody += bodyPara[3] == \"1\" ? \"\\nEquipment ID -\\t \" + data[4] : \"\";\nbody += bodyPara[9] == \"1\" ? \"\\nProcess Value -\\t \" + data[2] : \"\";\nbody += bodyPara[6] == \"1\" ? \"\\nThreshold Parameter -\\t \" + data[3] : \"\";\nbody += bodyPara[7] == \"1\" ? \"\\nSerial No. -\\t \" + topic[3] : \"\";\nbody += bodyPara[8] == \"1\" ? \"\\nSoftware Version -\\t \" + data[5] : \"\";\n\n// New Email Message\nmsg = {\n    payload: body,\n    topic: subject,\n    to: addrTo_PT100,\n    cc: addrCc_PT100,\n    bcc: addrBcc_PT100\n}\n\n// Old Email Message\n// msg = {\n//     payload : \"PT100 Alarm has been triggered.\\n\" +\n//     \"Equipment ID[\" + data[4] + \"]\\n\" + \n//     \"PT100 Sensor - AI[\" + data[0] + \"]\\n\" +\n//     \"Alarm Status[\" + data[1] +\"]\\n\" +\n//     \"Timestamp[\" + Date().toString() + \"]\" + \n//     \"Site_BS001\\n\" +\n//     \"AI Process Value[\" + data[2] + \"]\\n\" +\n//     \"Threshold Parameter[\" + data[3] + \"]\\n\" + \n//     \"Equipment ID[\" + data[4] + \"]\\n\\n\" +\n//     \"PLC_Model[\" + topic[0] + \"]\\n\" + \n//     \"Command Header[\" + topic[1] + \"]\\n\" +\n//     \"Command Subject[\" + topic[2] + \"]\\n\" +\n//     \"Device Serial No.[\" + topic[3] + \"]\\n\\n\" , // Body\n//     topic : \"Alarm Notification | PT100 Sensor - AI[\" + data[0] + \"] | Status[\" + data[1] +\"] | \" + \"Timestamp[\" + Date().toString() + \"]\", //Subject\n//     to : \"monicon.sess@gmail.com\",\n//     bcc : \"monicon.sys@gmail.com\"\n// };\n\nreturn msg;\n\n// let parameters = msg.payload.split('+');\n\n// if (parameters[5] == \"1\") // PT100 Configuration Parameters\n// {\n//     global.set(\"subjectMSg_PT100\", parameters[0]);            //String\n//     global.set(\"bodyMSg_PT100\", parameters[1]);               //String\n//     global.set(\"addrTo_PT100\", parameters[2]);                //String\n//     global.set(\"addrCc_PT100\", parameters[3]);                //Strng\n//     global.set(\"addrBcc_PT100\", parameters[4]);               //String\n//     global.set(\"subjectParameters_PT100\", parameters[6]);     //String of bools\n//     global.set(\"bodyParameters_PT100\", parameters[7]);        //String of bools\n// } else {\n//     global.set(\"subjectMSg_4n20\", parameters[0]);            //String\n//     global.set(\"bodyMSg_4n20\", parameters[1]);               //String\n//     global.set(\"addrTo_4n20\", parameters[2]);                //String\n//     global.set(\"addrCc_4n20\", parameters[3]);                //Strng\n//     global.set(\"addrBcc_4n20\", parameters[4]);               //String\n//     global.set(\"subjectParameters_4n20\", parameters[6]);     //String of bools\n//     global.set(\"bodyParameters_4n20\", parameters[7]);        //String of bools    \n// }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":120,"wires":[["8f8fdc2b.e7d15"]]},{"id":"f6496e2c.7fcb7","type":"link out","z":"b973af28.b2f18","name":"L-PT100-ALM_FLAGS","links":["3184a127.75ebfe","a10bac4a.3ef4b","b4007e9b.4946c"],"x":475,"y":80,"wires":[]},{"id":"fef07649.9f6fa8","type":"link out","z":"b973af28.b2f18","name":"L-4n20-ALM_FLAGS","links":["35875a5a.263686"],"x":475,"y":200,"wires":[]},{"id":"aac2f9b3.da2208","type":"ui_text","z":"6278caa3.28b6a4","group":"1865bad3.468e45","order":3,"width":0,"height":0,"name":"","label":"Total Disk Space (GB)","format":"{{msg.payload}} GB","layout":"row-spread","x":1320,"y":180,"wires":[]},{"id":"81a0896a.1b1c98","type":"function","z":"6278caa3.28b6a4","name":"Disk Size (GB)","func":"var data = msg.payload.split(',')\n\nvar msg1 = {payload: data[0]}\nvar msg2 = {payload: data[3]}\n\nreturn [[msg1], [msg2]];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":900,"y":200,"wires":[["aac2f9b3.da2208"],["78940aa8.744bc4"]]},{"id":"78940aa8.744bc4","type":"ui_text","z":"6278caa3.28b6a4","group":"1865bad3.468e45","order":4,"width":0,"height":0,"name":"","label":"Used Disk Space %","format":"{{msg.payload}} %","layout":"row-spread","x":1320,"y":220,"wires":[]},{"id":"e189def.4aaca2","type":"ui_text","z":"6278caa3.28b6a4","group":"1865bad3.468e45","order":1,"width":0,"height":0,"name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":400,"wires":[]},{"id":"86b271e0.f7096","type":"ui_text","z":"6278caa3.28b6a4","group":"1865bad3.468e45","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} ","layout":"row-spread","x":890,"y":480,"wires":[]},{"id":"544d87ba.7a11f8","type":"function","z":"be2a4676.74b8a8","name":"reboot Counter","func":"var deploys = global.get(\"deploys\") || 0;\ndeploys = deploys + 1;\nglobal.set(\"deploys\", deploys);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[[]]},{"id":"4ab25131.50e9b","type":"inject","z":"be2a4676.74b8a8","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":480,"wires":[["544d87ba.7a11f8"]]},{"id":"9d3b8b07.eb6a38","type":"function","z":"e74bbf29.9c2e6","name":"Remote Database","func":"var output = msg.payload.split(\",\");\nvar topic = msg.topic.split(\"/\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nlet depolys = global.get(\"depolys\") || 0\n\n// var msg1 = { payload : data[0] };   // RSSI\n// var msg2 = { payload : data[1] };   // WiFi Diconnection Counter\n// var msg3 = { payload : data[2] };   // MQTT Diconnection Counter\n// var msg4 = { payload : data[3] };   // Device IP\n\nstructureObject();\n\nreturn msg;\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tInfo: msg.topic\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tRSSI: parseFloat(output[0]),\n\t\t\t\tWIFI_DC: parseFloat(output[1]),\n    \t\t\tMQTT_DC: parseFloat(output[2]),\n    \t\t\tDEVICE_IP: \"\\\"\" + output[3] + \"\\\"\",\n    \t\t\tserialNo: parseFloat(topic[3]),\n    \t\t\tESP_Temp: parseFloat(output[4]),\n    \t\t\ttwentySecLoop: parseFloat(output[5])\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":700,"wires":[["ef8ae43f.3171c8"]]},{"id":"6d216975.e48fd8","type":"function","z":"e74bbf29.9c2e6","name":"Local Database","func":"var output = msg.payload.split(\",\");\nvar topic = msg.topic.split(\"/\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nlet depolys = global.get(\"depolys\") || 0\n// Display data\n// var data = msg.payload.split(',')\n// var msg1 = { payload : data[0] };   // RSSI\n// var msg2 = { payload : data[1] };   // WiFi Diconnection Counter\n// var msg3 = { payload : data[2] };   // MQTT Diconnection Counter\n// var msg4 = { payload : data[3] };   // Device IP\n\n\nmsg.payload = [\n    {\n        measurement: siteID,\n\n        fields: {\n\t\t\tRSSI: parseFloat(output[0]),\n\t\t\tWIFI_DC: parseFloat(output[1]),\n\t\t\tMQTT_DC: parseFloat(output[2]),\n\t\t\tDEVICE_IP: String(output[3]),\n\t\t\tSerialNo: String(topic[3]),\n\t\t\tESP_Temp: parseFloat(output[4]),\n\t\t\ttwentySecLoop: parseFloat(output[5]),\n\t\t\tSoftwareVersion: output[6]\n\n\t\t},\n        tags:{\n            Analogs: msg.topic\n        },\n        //timestamp: Date.now()\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":660,"wires":[["20cbff45.9f9ac"]]},{"id":"ef8ae43f.3171c8","type":"Stackhero-InfluxDB-v2-write","z":"e74bbf29.9c2e6","server":"da535876.280af8","name":"SESS_ID001","x":950,"y":700,"wires":[[]]},{"id":"20cbff45.9f9ac","type":"influxdb batch","z":"e74bbf29.9c2e6","influxdb":"4da4ea34.630684","precision":"","retentionPolicy":"","name":"","x":1010,"y":660,"wires":[]},{"id":"a29e7adc.1b6d98","type":"mqtt in","z":"e74bbf29.9c2e6","name":"","topic":"MONICON-PLC/Device/Status/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":150,"y":680,"wires":[["6d216975.e48fd8","9d3b8b07.eb6a38"]]},{"id":"c4bb8634.b64508","type":"function","z":"6278caa3.28b6a4","name":"Used mem(SSD)","func":"let msg1 = {payload : \"df -h | grep -i sda1 | awk '{print $3\\\"/\\\"}';df -h | grep -i sda1 | awk '{print $2}'\", topic :\"Used mem(SSD)\"}\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":600,"wires":[["f6296da5.d79d4"]]},{"id":"f6296da5.d79d4","type":"exec","z":"6278caa3.28b6a4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":600,"wires":[["ad6fa7c2.35e378","bbb74512.8fb898"],[],[]]},{"id":"bbb74512.8fb898","type":"ui_text","z":"6278caa3.28b6a4","group":"1865bad3.468e45","order":4,"width":0,"height":0,"name":"","label":"Used mem(SSD)","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":640,"wires":[]},{"id":"ad6fa7c2.35e378","type":"function","z":"6278caa3.28b6a4","name":"Used mem(SSD)","func":"if(msg.topic != \"Used mem(SSD)\") {\n    return\n}\n\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nlet data = msg.payload.split('/')\n\n//return msg;\n\nvar msg1 = {};\n\n    msg1.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            SSD_Used: data[0],//.replace(/\\D/g,'')), //removes non numerical characters\n            SSD_Total: data[1],//.replace(/\\D/g,'')), //removes non numerical characters\n        },\n        tags:{\n            System: \"SSD\",\n        }\n    }];\n    \nvar msg2 = {};\n\nstructureObject();\n\nreturn [[msg1], [msg2]];\n        \nfunction structureObject() {\n\tmsg2.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"SSD\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tSSD_Used: \"\\\"\" + data[0] + \"\\\"\",\n\t\t\t\tSSD_Total: \"\\\"\" + data[1] + \"\\\"\",\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":910,"y":600,"wires":[["4d2e68a3.eb5598"],["c43f7c34.85ef1"]]},{"id":"26662e.fcf909d2","type":"file in","z":"f88a7849.b8aab8","name":"","filename":"","format":"","sendError":true,"x":950,"y":40,"wires":[["291c1b43.3f4284","a9996819.46f5e8"]]},{"id":"670cef95.23e4c","type":"switch","z":"f88a7849.b8aab8","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"ESP32-http-Update","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":290,"y":40,"wires":[[],["93e3b576.bf8298"]]},{"id":"8b395dd8.9c967","type":"http in","z":"f88a7849.b8aab8","name":"OTA Request","url":"/firmwareUpdate","method":"get","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["670cef95.23e4c"]]},{"id":"3112ddf.46c2222","type":"debug","z":"f88a7849.b8aab8","name":"msg.mostRecentFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"mostRecentFile","x":1000,"y":260,"wires":[]},{"id":"291c1b43.3f4284","type":"http response","z":"f88a7849.b8aab8","name":"OTA Response","statusCode":"","headers":{},"x":1120,"y":40,"wires":[]},{"id":"35b00240.44934e","type":"function","z":"f88a7849.b8aab8","name":"","func":"///// \n\n\n//msg.filename = \"/home/pi/Firmware/PowerProV2.3.2.ino.nodemcu.bin\"\n//return msg\n\n//List of files from RPI Github\nvar firmwares = msg.files;\n//TRUC_VERSION DATA from ESP\nvar version = msg.req.headers;\n//Version Data\nvar currentFile = version[\"x-esp32-version\"];\n//Extract Device Type PowerPro or LightPro\nvar deviceType = currentFile.substring(0,currentFile.indexOf(\"V\")+1)\nmsg.deviceType = deviceType;\n\n//Extracts Github file that matches current ESP version ID\nvar existingFile = firmwares.filter(item=> item.includes(currentFile)).pop();\n//Filters out any incorrect device types ie PowerPro or LightPro\nvar firmwareNames = firmwares.filter(item=> item.includes(msg.deviceType));\n//Sorts out list of files\nvar comparer = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});\nfirmwareNames.sort(comparer.compare)[firmwareNames.length-1];\n\nvar mostRecentFile;\n//Pops off most recent file\nmsg.mostRecentFile = firmwareNames.pop();\nmsg.existingFile = existingFile;\n//Compares ESP version to most recent developed file\n//if((msg.existingFile.localeCompare(msg.mostRecentFile)) < 0)\n//{\n    msg.filename = \"/home/pi/Firmware/\" + msg.mostRecentFile;\n// }\n// else\n// {\n//     msg.filename = undefined;\n//     msg.payload = \"No New File Exists\"\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":40,"wires":[["3112ddf.46c2222","1d7a1004.8e943","26662e.fcf909d2"]]},{"id":"1d7a1004.8e943","type":"debug","z":"f88a7849.b8aab8","name":"msg.existingFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"existingFile","x":980,"y":220,"wires":[]},{"id":"93e3b576.bf8298","type":"fs-ops-dir","z":"f88a7849.b8aab8","name":"","path":"/home/pi/Firmware","pathType":"str","filter":".bin","filterType":"str","dir":"files","dirType":"msg","x":540,"y":40,"wires":[["35b00240.44934e"]]},{"id":"6d940998.075dd8","type":"comment","z":"acf6edd5.00ea1","name":"MQTTCloud => MONICON.LOCAL","info":"","x":160,"y":40,"wires":[]},{"id":"9d6b569d.8a9398","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":140,"y":180,"wires":[["4839e010.54ecb"]]},{"id":"a6839ead.52f05","type":"function","z":"1cb4172f.3acd49","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":80,"wires":[["2acb4794.64d508"]]},{"id":"e5461bbd.785688","type":"function","z":"31f19c31.186964","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":80,"wires":[["a7a21389.31635"]]},{"id":"e77629c.57153d8","type":"function","z":"acf6edd5.00ea1","name":"System & Device Info","func":"let macAddr = global.get(\"macAddr\") || \"NotSet\";\n\nif (macAddr === \"NotSet\") {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":840,"y":180,"wires":[["c35b92f0.95107"],["65b48c14.5b91a4"]]},{"id":"799816c.06bd3e8","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"MONICON-PLC/STAT/System/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":150,"y":80,"wires":[["5bf640e9.00d8d"]]},{"id":"4839e010.54ecb","type":"string","z":"acf6edd5.00ea1","name":"Deconcatenate(USER)","methods":[{"name":"getRightMost","params":[{"type":"str","value":"sess/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":540,"y":180,"wires":[["e77629c.57153d8"]]},{"id":"c35b92f0.95107","type":"exec","z":"acf6edd5.00ea1","command":"cat /sys/class/net/eth0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"MAC Addr","x":1070,"y":120,"wires":[["187a6959.a37c17"],[],[]]},{"id":"187a6959.a37c17","type":"function","z":"acf6edd5.00ea1","name":"Set macAddr","func":"var macAddr = msg.payload.replace(/\\W/g,\"\");\nglobal.set(\"macAddr\", macAddr);\n\nlet siteID = global.get(\"siteID\") || \"SiteIDxxx\";\n\nvar data = macAddr + \",\" + siteID + \",\" + msg.payload + \",\";\n\nmsg.payload = data;\nmsg.topic = \"sess/\" + msg.topic;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":120,"wires":[["65b48c14.5b91a4"]]},{"id":"37a259d9.cffd66","type":"comment","z":"acf6edd5.00ea1","name":"Set MacAddress if NOT already Set","info":"","x":960,"y":60,"wires":[]},{"id":"5bf640e9.00d8d","type":"function","z":"acf6edd5.00ea1","name":"System Data","func":"let siteID = global.get(\"siteID\") || \"SiteIDxxx\";\nlet macAddr = global.get(\"macAddr\") || \"NotSet\";\nlet serverVersion = global.get(\"serverVersion\") || \"MONICON-PLC_ServerV0.0.0\"\n\nvar data = macAddr + \",\" + siteID + \",\" + msg.payload;\n\nmsg.payload = data + \",\" + serverVersion;\nmsg.topic = \"sess/\" + msg.topic;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[["ff4d7010.b5962"]]},{"id":"65b48c14.5b91a4","type":"mqtt out","z":"acf6edd5.00ea1","name":"MQTT Local","topic":"","qos":"","retain":"","broker":"7dc9807f.d7441","x":1430,"y":120,"wires":[]},{"id":"26aef632.b19cea","type":"mqtt in","z":"be2a4676.74b8a8","name":"","topic":"sess/MONICON-PLC/CMD/Reboot/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":160,"y":300,"wires":[["56bcaa2b.f72664"]]},{"id":"56bcaa2b.f72664","type":"function","z":"be2a4676.74b8a8","name":"Check Server Address","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":300,"wires":[["e5bda25f.f4325","d7d10a0e.8f6048"]]},{"id":"2f7b24bf.a3064c","type":"influxdb in","z":"acf6edd5.00ea1","influxdb":"4da4ea34.630684","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":850,"y":340,"wires":[["257038ba.49a548"]]},{"id":"257038ba.49a548","type":"function","z":"acf6edd5.00ea1","name":"\\n\\r Filter","func":"var data = String(msg.payload[0].last);\ndata = data.replace(/[\\n\\r]+/g, '');\nlet macAddr = global.get(\"macAddr\") || \"nSet\";\nmsg.topic = \"sess/MONICON-PLC/STAT/Query/\" + macAddr;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":340,"wires":[["ff79f755.251df8"]]},{"id":"579e56bb.d30108","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/Query/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":160,"y":340,"wires":[["275c0e2.34b93f2"]]},{"id":"275c0e2.34b93f2","type":"function","z":"acf6edd5.00ea1","name":"Add to Query","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\nlet query = msg.payload;\nlet msg1 = {query:  String(query) };\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":340,"wires":[["8e60a8e7.4b6328","7535272d.7b2428"]]},{"id":"ff79f755.251df8","type":"join","z":"acf6edd5.00ea1","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1210,"y":340,"wires":[["8f06ef10.2428d"]]},{"id":"8e60a8e7.4b6328","type":"delay","z":"acf6edd5.00ea1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":340,"wires":[["2f7b24bf.a3064c"]]},{"id":"e364df25.180b9","type":"comment","z":"acf6edd5.00ea1","name":"Remote System Status Query","info":"","x":140,"y":300,"wires":[]},{"id":"d1cfdd79.c5682","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/SiteID/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":160,"y":500,"wires":[["f58f8b8e.5391d8"]]},{"id":"f58f8b8e.5391d8","type":"function","z":"acf6edd5.00ea1","name":"Set Site ID","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nlet siteID = msg.payload;\nglobal.set(\"siteID\", siteID);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":500,"wires":[["1ff7a059.e87aa"]]},{"id":"e3d1438f.3e3d8","type":"comment","z":"acf6edd5.00ea1","name":"Remote Set Site ID","info":"","x":110,"y":460,"wires":[]},{"id":"91be7910.2fb5b8","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/UpdateEquipID/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":190,"y":660,"wires":[["37e6f6a6.1b697a"]]},{"id":"f4f1150d.473c18","type":"comment","z":"acf6edd5.00ea1","name":"Remote Set Equipment ID","info":"","x":130,"y":620,"wires":[]},{"id":"37e6f6a6.1b697a","type":"string","z":"acf6edd5.00ea1","name":"Deconcatenate(USER)","methods":[{"name":"getRightMost","params":[{"type":"str","value":"sess/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":700,"y":660,"wires":[["cde77289.03af","2515a9cc.df4216"]]},{"id":"2515a9cc.df4216","type":"mqtt out","z":"acf6edd5.00ea1","name":"MQTT Local","topic":"","qos":"","retain":"","broker":"7dc9807f.d7441","x":950,"y":740,"wires":[]},{"id":"5a74e691.b4ec28","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/UploadFirmware/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":190,"y":820,"wires":[["bb5a0988.bb98d8"]]},{"id":"bb5a0988.bb98d8","type":"string","z":"acf6edd5.00ea1","name":"Deconcatenate(USER)","methods":[{"name":"getRightMost","params":[{"type":"str","value":"sess/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":700,"y":820,"wires":[["2515a9cc.df4216","f0fa3a5f.2c0618"]]},{"id":"4836ff52.e88ae","type":"exec","z":"acf6edd5.00ea1","command":"sudo rm /home/pi/Firmware -r","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Delete Firmware Dir","x":900,"y":980,"wires":[["d7f9fb98.bf0a38","65fcdadd.ddb494"],[],[]]},{"id":"d7f9fb98.bf0a38","type":"exec","z":"acf6edd5.00ea1","command":" sudo git clone https://github.com/jimmy232/Firmware.git","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Download github bin files","x":1210,"y":980,"wires":[["1414a5b0.06885a"],[],[]]},{"id":"a6f6d26e.8d355","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"MONICON-PLC/CMD/DownloadUploadFirmware/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":210,"y":980,"wires":[["1531c2.edb4ae3e"]]},{"id":"1531c2.edb4ae3e","type":"function","z":"acf6edd5.00ea1","name":"Alt Topic","func":"var data = msg.topic\ndata = data.replace(\"DownloadUploadFirmware\", \"UploadFirmware\");\nmsg.topic = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":980,"wires":[["4836ff52.e88ae","ba880f0d.f2b66"]]},{"id":"66029382.5c441c","type":"comment","z":"acf6edd5.00ea1","name":"Download new ESP32 Firmware and Upload to Device on request","info":"","x":250,"y":940,"wires":[]},{"id":"6ca91016.10597","type":"comment","z":"acf6edd5.00ea1","name":"Download new ESP32 Firmware and Upload to Device on request","info":"","x":250,"y":780,"wires":[]},{"id":"2074f056.9e782","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/AnalogTimer/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":180,"y":1080,"wires":[["7959e66b.8ee6a8","2837354b.f1f75a"]]},{"id":"7959e66b.8ee6a8","type":"function","z":"acf6edd5.00ea1","name":"Set Timer Enable","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nvar AnalogTimer = global.get(\"AnalogTimer\") || \"0\";\nif(msg.payload == \"0\")\n{\n    global.set(\"AnalogTimer\", \"0\");\n    AnalogTimer = \"0\";\n    msg.payload = \"Analog Timer Inactive\";\n} else {\n    global.set(\"AnalogTimer\", \"1\");\n    AnalogTimer = \"1\";\n    msg.payload = \"Analog Timer Active\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1180,"wires":[["fcbada41.8ca238"]]},{"id":"ca7c3d26.d792e","type":"function","z":"a7fcc05f.55719","name":"Check MQTT Timer Enable","func":"var AnalogTimer = global.get(\"AnalogTimer\") || \"0\";\nif(AnalogTimer == \"1\")\n{\nmsg.topic = msg.topic.replace(\"Device\", \"STAT\");\n    msg.topic = \"sess/\" + msg.topic;\n    return msg;\n} else {\n    return;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":120,"wires":[["4b89cbc0.2552f4"]]},{"id":"2837354b.f1f75a","type":"function","z":"acf6edd5.00ea1","name":"Global Overide Timer Off","func":"var AnalogTimer = global.get(\"AnalogTimer\") || \"0\";\nif(msg.payload == \"0\")\n{\n    global.set(\"AnalogTimer\", \"0\");\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1220,"wires":[[]]},{"id":"30fa0167.1a22ee","type":"mqtt in","z":"a7fcc05f.55719","name":"","topic":"MONICON-PLC/STAT/Scale_Single_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":300,"wires":[["ef052fae.4d8db"]]},{"id":"a2e8eb57.12a278","type":"mqtt in","z":"a7fcc05f.55719","name":"","topic":"MONICON-PLC/STAT/Scale_Single_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":380,"wires":[["ef052fae.4d8db"]]},{"id":"6935b1f6.e4f01","type":"comment","z":"a7fcc05f.55719","name":"Scale Parameters","info":"","x":110,"y":260,"wires":[]},{"id":"512ecb36.96b9f4","type":"comment","z":"a7fcc05f.55719","name":"Analog Input Values","info":"","x":110,"y":40,"wires":[]},{"id":"ef052fae.4d8db","type":"function","z":"a7fcc05f.55719","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":340,"wires":[["4b89cbc0.2552f4"]]},{"id":"ac074e24.ade3d","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/AlarmTimer/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":180,"y":1280,"wires":[["cb0b1d10.47af4","b18f4bad.54c708"]]},{"id":"cb0b1d10.47af4","type":"function","z":"acf6edd5.00ea1","name":"Set Timer Enable","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nvar AlarmTimer = global.get(\"AlarmTimer\") || \"0\";\nif(msg.payload == \"0\")\n{\n    global.set(\"AlarmTimer\", \"0\");\n    AlarmTimer = \"0\";\n    msg.payload = \"Alarm Timer Inactive\";\n} else {\n    global.set(\"AlarmTimer\", \"1\");\n    AlarmTimer = \"1\";\n    msg.payload = \"Alarm Timer Active\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1340,"wires":[["c389baad.5a9768"]]},{"id":"b18f4bad.54c708","type":"function","z":"acf6edd5.00ea1","name":"Global Overide Timer Off","func":"var AnalogTimer = global.get(\"AlarmTimer\") || \"0\";\nif(msg.payload == \"0\")\n{\n    global.set(\"AlarmTimer\", \"0\");\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1380,"wires":[[]]},{"id":"4f5b406c.6efc3","type":"function","z":"b973af28.b2f18","name":"Check MQTT Timer Enable","func":"var AlarmTimer = global.get(\"AlarmTimer\") || \"0\";\nif(AlarmTimer == \"1\")\n{\nmsg.topic = msg.topic.replace(\"Device\", \"STAT\");\n    msg.topic = \"sess/\" + msg.topic;\n    return msg;\n} else {\n    return;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":140,"wires":[["ca79c590.affa18"]]},{"id":"7a0fe9f.14b1a18","type":"mqtt in","z":"b973af28.b2f18","name":"","topic":"MONICON-PLC/STAT/Alarm_En_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":520,"wires":[["f94bbe7a.80156"]]},{"id":"a6242d4d.3c9be","type":"mqtt in","z":"b973af28.b2f18","name":"","topic":"MONICON-PLC/STAT/Alarm_En_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":600,"wires":[["f94bbe7a.80156"]]},{"id":"f94bbe7a.80156","type":"function","z":"b973af28.b2f18","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":560,"wires":[["ca79c590.affa18"]]},{"id":"b6ab245b.b080f8","type":"comment","z":"acf6edd5.00ea1","name":"Define Email Parameters","info":"","x":130,"y":1420,"wires":[]},{"id":"2a2240cc.5bd82","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/EmailDefinition/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":190,"y":1460,"wires":[["b1413e5b.dee7c"]]},{"id":"b1413e5b.dee7c","type":"function","z":"acf6edd5.00ea1","name":"Email Parameters","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nlet parameters = msg.payload.split('+');\n\nif (parameters[5] == \"1\") // PT100 Configuration Parameters\n{\n    global.set(\"subjectMSg_PT100\", parameters[0]);            //String\n    global.set(\"bodyMSg_PT100\", parameters[1]);               //String\n    global.set(\"addrTo_PT100\", parameters[2]);                //String\n    global.set(\"addrCc_PT100\", parameters[3]);                //Strng\n    global.set(\"addrBcc_PT100\", parameters[4]);               //String\n    global.set(\"subjectParameters_PT100\", parameters[6]);     //String of bools\n    global.set(\"bodyParameters_PT100\", parameters[7]);        //String of bools\n} else {\n    global.set(\"subjectMSg_4n20\", parameters[0]);            //String\n    global.set(\"bodyMSg_4n20\", parameters[1]);               //String\n    global.set(\"addrTo_4n20\", parameters[2]);                //String\n    global.set(\"addrCc_4n20\", parameters[3]);                //Strng\n    global.set(\"addrBcc_4n20\", parameters[4]);               //String\n    global.set(\"subjectParameters_4n20\", parameters[6]);     //String of bools\n    global.set(\"bodyParameters_4n20\", parameters[7]);        //String of bools    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1520,"wires":[["b1d508ea.eaea38"]]},{"id":"9ab73e04.0d62d","type":"function","z":"d476fb96.1ec018","name":"Email Setup - 4..20mA Alarms","func":"/*\ndata[0] = PIN_ID\ndata[1] = Alarm Status\ndata[2] = PV\ndata[3] = Threshold Parameter\ndata[4] = Equipment ID\ndata[5] = Software Version\n\ntopic[0] = PLC_ID\ntopic[1] = CMD\ntopic[2] = Subject\ntopic[3] = Serial_ID\n*/\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n\nlet subjectMSg_4n20 = global.get(\"subjectMSg_4n20\") || \"null\";                    //String\nlet bodyMSg_4n20 = global.get(\"bodyMSg_4n20\") || \"null\";                          //String\nlet addrTo_4n20 = global.get(\"addrTo_4n20\") || \"monicon.sess@gmail.com\";                            //String\nlet addrCc_4n20 = global.get(\"addrCc_4n20\") || \"\";                            //Strng\nlet addrBcc_4n20 = global.get(\"addrBcc_4n20\") || \"\";                          //String\nlet subjectParameters_4n20 = global.get(\"subjectParameters_4n20\") || \"null\";      //String of bools\nlet bodyParameters_4n20 = global.get(\"bodyParameters_4n20\") || \"null\";            //String of bools\n\n// Data splitting\nvar data = msg.payload.split(',')\nvar topic = msg.topic.split('/')\nlet subPara = subjectParameters_4n20.split('=');\nlet bodyPara = bodyParameters_4n20.split('=');\n\n// Subject Concatenation\nvar subject = subjectMSg_4n20;\nsubject += subPara[5] == \"1\" ? \" | Sensor Type - 4n20 Alm\" : \"\";\nsubject += subPara[4] == \"1\" ? \" | Alarm Status - \" + data[1] : \"\";\nsubject += subPara[1] == \"1\" ? \" | Analog No. - \" + data[0] : \"\";\nsubject += subPara[2] == \"1\" ? \" | Site ID - \" + siteID : \"\";\nsubject += subPara[3] == \"1\" ? \" | Equipment ID - \" + data[4] : \"\";\nsubject += subPara[0] == \"1\" ? \" | Date & Time - \" + Date().toString() : \"\";\n\n// Subject Concatenation\nvar body = bodyMSg_4n20 + \"\\n\";\nbody += bodyPara[0] == \"1\" ? \"\\nDate & Time -\\t \" + Date().toString() : \"\";\nbody += bodyPara[5] == \"1\" ? \"\\nSensor Type -\\t 4n20 Alm\" : \"\";\nbody += bodyPara[4] == \"1\" ? \"\\nAlarm Status -\\t \" + data[1] : \"\";\nbody += bodyPara[1] == \"1\" ? \"\\nAnalog No. -\\t \" + data[0] : \"\";\nbody += bodyPara[2] == \"1\" ? \"\\nSite ID -\\t \" + siteID : \"\";\nbody += bodyPara[3] == \"1\" ? \"\\nEquipment ID -\\t \" + data[4] : \"\";\nbody += bodyPara[9] == \"1\" ? \"\\nProcess Value -\\t \" + data[2] : \"\";\nbody += bodyPara[6] == \"1\" ? \"\\nThreshold Parameter -\\t \" + data[3] : \"\";\nbody += bodyPara[7] == \"1\" ? \"\\nSerial No. -\\t \" + topic[3] : \"\";\nbody += bodyPara[8] == \"1\" ? \"\\nSoftware Version -\\t \" + data[5] : \"\";\n\n// New Email Message\nmsg = {\n    payload: body,\n    topic: subject,\n    to: addrTo_4n20,\n    cc: addrCc_4n20,\n    bcc: addrBcc_4n20\n}\n\n// Old Email Message\n// msg = {\n//     payload : \"PT100 Alarm has been triggered.\\n\" +\n//     \"Equipment ID[\" + data[4] + \"]\\n\" + \n//     \"PT100 Sensor - AI[\" + data[0] + \"]\\n\" +\n//     \"Alarm Status[\" + data[1] +\"]\\n\" +\n//     \"Timestamp[\" + Date().toString() + \"]\" + \n//     \"Site_BS001\\n\" +\n//     \"AI Process Value[\" + data[2] + \"]\\n\" +\n//     \"Threshold Parameter[\" + data[3] + \"]\\n\" + \n//     \"Equipment ID[\" + data[4] + \"]\\n\\n\" +\n//     \"PLC_Model[\" + topic[0] + \"]\\n\" + \n//     \"Command Header[\" + topic[1] + \"]\\n\" +\n//     \"Command Subject[\" + topic[2] + \"]\\n\" +\n//     \"Device Serial No.[\" + topic[3] + \"]\\n\\n\" , // Body\n//     topic : \"Alarm Notification | PT100 Sensor - AI[\" + data[0] + \"] | Status[\" + data[1] +\"] | \" + \"Timestamp[\" + Date().toString() + \"]\", //Subject\n//     to : \"monicon.sess@gmail.com\",\n//     bcc : \"monicon.sys@gmail.com\"\n// };\n\nreturn msg;\n\n// let parameters = msg.payload.split('+');\n\n// if (parameters[5] == \"1\") // PT100 Configuration Parameters\n// {\n//     global.set(\"subjectMSg_PT100\", parameters[0]);            //String\n//     global.set(\"bodyMSg_PT100\", parameters[1]);               //String\n//     global.set(\"addrTo_PT100\", parameters[2]);                //String\n//     global.set(\"addrCc_PT100\", parameters[3]);                //Strng\n//     global.set(\"addrBcc_PT100\", parameters[4]);               //String\n//     global.set(\"subjectParameters_PT100\", parameters[6]);     //String of bools\n//     global.set(\"bodyParameters_PT100\", parameters[7]);        //String of bools\n// } else {\n//     global.set(\"subjectMSg_4n20\", parameters[0]);            //String\n//     global.set(\"bodyMSg_4n20\", parameters[1]);               //String\n//     global.set(\"addrTo_4n20\", parameters[2]);                //String\n//     global.set(\"addrCc_4n20\", parameters[3]);                //Strng\n//     global.set(\"addrBcc_4n20\", parameters[4]);               //String\n//     global.set(\"subjectParameters_4n20\", parameters[6]);     //String of bools\n//     global.set(\"bodyParameters_4n20\", parameters[7]);        //String of bools    \n// }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":240,"wires":[["8f8fdc2b.e7d15"]]},{"id":"e9776dbc.f08c7","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":140,"y":240,"wires":[["4839e010.54ecb"]]},{"id":"17851cd8.63dbf3","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/Query/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":400,"wires":[["275c0e2.34b93f2"]]},{"id":"6c261926.3c0848","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/SiteID/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":560,"wires":[["f58f8b8e.5391d8"]]},{"id":"20af12b6.f7a5fe","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/UpdateEquipID/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":720,"wires":[["37e6f6a6.1b697a"]]},{"id":"b79cc5f6.743388","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/UploadFirmware/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":880,"wires":[["bb5a0988.bb98d8"]]},{"id":"62b9bbeb.b19474","type":"comment","z":"acf6edd5.00ea1","name":"Enable Analog Timer to Stream values to Broker","info":"","x":200,"y":1040,"wires":[]},{"id":"587ac91b.674048","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/AnalogTimer/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":1140,"wires":[["7959e66b.8ee6a8","2837354b.f1f75a"]]},{"id":"e16c2db7.7d183","type":"comment","z":"acf6edd5.00ea1","name":"Enable Alarm Timer to Stream values to Broker","info":"","x":200,"y":1240,"wires":[]},{"id":"6fab25ae.0b903c","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/AlarmTimer/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":1340,"wires":[["cb0b1d10.47af4","b18f4bad.54c708"]]},{"id":"e95ceccf.4dea6","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/EmailDefinition/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":1520,"wires":[["b1413e5b.dee7c"]]},{"id":"2f406154.40967e","type":"comment","z":"acf6edd5.00ea1","name":"Search Email Parameters","info":"","x":130,"y":1600,"wires":[]},{"id":"ceda4c11.be6ac","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/EmailSearch/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":180,"y":1640,"wires":[["9dd375bd.7b8278"]]},{"id":"8d85b2d8.b2591","type":"mqtt in","z":"acf6edd5.00ea1","name":"","topic":"sess/MONICON-PLC/CMD/EmailSearch/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":1700,"wires":[["9dd375bd.7b8278"]]},{"id":"9dd375bd.7b8278","type":"function","z":"acf6edd5.00ea1","name":"Email Parameters Template","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nmsg.topic = msg.topic.replace(\"CMD\", \"STAT\");\n\nlet message = \"\";\n\nif (msg.payload == \"PT100SensorType\") // PT100 Configuration Parameters\n{\n    message = global.get(\"subjectMSg_PT100\");            //String\n    message += \",\";\n    message += global.get(\"bodyMSg_PT100\");               //String\n    message += \",\";\n    message += global.get(\"addrTo_PT100\");                //String\n    message += \",\";\n    message += global.get(\"addrCc_PT100\");                //Strng\n    message += \",\";\n    message += global.get(\"addrBcc_PT100\");               //String\n    message += \",\";\n    message += global.get(\"subjectParameters_PT100\");     //String of bools\n    message += \",\";\n    message += global.get(\"bodyParameters_PT100\");        //String of bools\n} else {\n    message = global.get(\"subjectMSg_4n20\");            //String\n    message += \",\";\n    message += global.get(\"bodyMSg_4n20\");               //String\n    message += \",\";\n    message += global.get(\"addrTo_4n20\");                //String\n    message += \",\";\n    message += global.get(\"addrCc_4n20\");                //Strng\n    message += \",\";\n    message += global.get(\"addrBcc_4n20\");               //String\n    message += \",\";\n    message += global.get(\"subjectParameters_4n20\");     //String of bools\n    message += \",\";\n    message += global.get(\"bodyParameters_4n20\");        //String of bools    \n}\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":1700,"wires":[["1414a5b0.06885a"]]},{"id":"1791fe10.76d0c2","type":"rpi-gpio out","z":"be2a4676.74b8a8","name":"ESP32 Reset","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1000,"y":600,"wires":[]},{"id":"2c7f0f4d.4f04a","type":"trigger","z":"be2a4676.74b8a8","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":800,"y":600,"wires":[["1791fe10.76d0c2","1e724fea.7a4bc"]]},{"id":"3d02d20e.9b7a8e","type":"mqtt in","z":"be2a4676.74b8a8","name":"","topic":"sess/MONICON-PLC/CMD/RebootEsp/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":180,"y":600,"wires":[["95d4d8ef.660df8"]]},{"id":"7c870cdc.792b44","type":"mqtt in","z":"be2a4676.74b8a8","name":"","topic":"sess/MONICON-PLC/CMD/Reboot/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":360,"wires":[["56bcaa2b.f72664"]]},{"id":"3b7e3af6.bc0bb6","type":"comment","z":"be2a4676.74b8a8","name":"System Reboot Counter","info":"","x":120,"y":440,"wires":[]},{"id":"669af843.614038","type":"comment","z":"be2a4676.74b8a8","name":"Remote Reboot CMD - Esp32 Physical Reboot","info":"","x":200,"y":560,"wires":[]},{"id":"dbea8d0c.40d81","type":"comment","z":"be2a4676.74b8a8","name":"System Reboot every 12hrs","info":"","x":140,"y":140,"wires":[]},{"id":"ec16c6a2.e1c3f8","type":"comment","z":"be2a4676.74b8a8","name":"Remote Reboot","info":"","x":100,"y":260,"wires":[]},{"id":"ebf9e73.78dc918","type":"mqtt in","z":"be2a4676.74b8a8","name":"","topic":"sess/MONICON-PLC/CMD/RebootEsp/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":660,"wires":[["95d4d8ef.660df8"]]},{"id":"95d4d8ef.660df8","type":"function","z":"be2a4676.74b8a8","name":"Check Server macAddr","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nmsg.topic = \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Local Esp32 Physical Reboot was Successful.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":600,"wires":[["2c7f0f4d.4f04a"]]},{"id":"d7d10a0e.8f6048","type":"function","z":"be2a4676.74b8a8","name":"Return Message","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\n\nmsg.topic = \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Server Reboot was Successful.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":300,"wires":[["2fdebff6.443b8"]]},{"id":"a9996819.46f5e8","type":"function","z":"f88a7849.b8aab8","name":"RTM","func":"let macAddr = global.get(\"macAddr\")\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Uploading Outstation with new File: <\" + msg.filename + \">\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":120,"wires":[["22d55db7.f41612"]]},{"id":"b1d508ea.eaea38","type":"function","z":"acf6edd5.00ea1","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Email template loaded successfully\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1520,"wires":[["1414a5b0.06885a"]]},{"id":"ba880f0d.f2b66","type":"function","z":"acf6edd5.00ea1","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Clearing Server File Directory...\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1140,"wires":[["1414a5b0.06885a"]]},{"id":"65fcdadd.ddb494","type":"function","z":"acf6edd5.00ea1","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Downloading new Firmware...\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1100,"wires":[["1414a5b0.06885a"]]},{"id":"f0fa3a5f.2c0618","type":"function","z":"acf6edd5.00ea1","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Uploading new Firmware...\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":820,"wires":[["91998d60.92fb9"]]},{"id":"c389baad.5a9768","type":"function","z":"acf6edd5.00ea1","name":"RTM","func":"let macAddr = global.get(\"macAddr\") || \"\";\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1340,"wires":[["1414a5b0.06885a"]]},{"id":"1ff7a059.e87aa","type":"function","z":"acf6edd5.00ea1","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nlet siteID = global.get(\"siteID\", siteID);\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"SiteID updated <\" + siteID + \">\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":500,"wires":[["8f06ef10.2428d"]]},{"id":"fcbada41.8ca238","type":"function","z":"acf6edd5.00ea1","name":"RTM","func":"let macAddr = global.get(\"macAddr\") || \"\";\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1180,"wires":[["1414a5b0.06885a"]]},{"id":"7535272d.7b2428","type":"function","z":"acf6edd5.00ea1","name":"RTM","func":"let macAddr = global.get(\"macAddr\")\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Query on Local Database Executed Successfully\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":400,"wires":[["8f06ef10.2428d"]]},{"id":"cde77289.03af","type":"function","z":"acf6edd5.00ea1","name":"RTM","func":"let macAddr = global.get(\"macAddr\")\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"New Equipment ID has been issued to Outstation.\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":660,"wires":[["91998d60.92fb9"]]},{"id":"303bd99e.f85c46","type":"mqtt in","z":"be2a4676.74b8a8","name":"","topic":"sess/MONICON-PLC/CMD/ServerFirmwareUpdate/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":210,"y":800,"wires":[["92f817da.e32c08"]]},{"id":"576356ab.790e78","type":"comment","z":"be2a4676.74b8a8","name":"Download new NODE-RED Firmware and Upload","info":"","x":200,"y":740,"wires":[]},{"id":"352302a1.ac7dbe","type":"mqtt in","z":"be2a4676.74b8a8","name":"","topic":"sess/MONICON-PLC/CMD/ServerFirmwareUpdate/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":210,"y":860,"wires":[["92f817da.e32c08"]]},{"id":"1397fca4.8a5e33","type":"function","z":"be2a4676.74b8a8","name":"RTM","func":"let macAddr = global.get(\"macAddr\")\nlet serverVersion = global.get(\"serverVersion\") || \"nVersion\";\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Installing new Server Firmware with Version <\" + serverVersion + \">\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":880,"wires":[["a8ab7067.f4a9a"]]},{"id":"f63d402b.a055c","type":"exec","z":"be2a4676.74b8a8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":950,"y":800,"wires":[[],[],[]]},{"id":"92f817da.e32c08","type":"function","z":"be2a4676.74b8a8","name":"Download new NODE RED Firmware","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n// eg. \"MONICON-PLC_ServerV0.1.1\"\n// global.set(\"serverVersion\", \"MONICON-PLC_ServerV\" + msg.payload);\n\nmsg.payload = \"sudo /home/pi/JC/update-SESS_BS_ID001.sh\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":800,"wires":[["1397fca4.8a5e33","f63d402b.a055c"]]},{"id":"49a78bf2.4d9764","type":"mqtt out","z":"acf6edd5.00ea1","name":"MQTT Local","topic":"","qos":"","retain":"","broker":"7dc9807f.d7441","x":270,"y":1780,"wires":[]},{"id":"99821dc3.929a9","type":"mqtt out","z":"acf6edd5.00ea1","name":"MQTT Cloud","topic":"","qos":"","retain":"","broker":"4d64fa3d.ad0334","x":270,"y":1840,"wires":[]},{"id":"b74e5339.7e65b","type":"link in","z":"acf6edd5.00ea1","name":"MQTT Local | Remote","links":["1414a5b0.06885a","91998d60.92fb9","8f06ef10.2428d","22d55db7.f41612","a8ab7067.f4a9a","1e724fea.7a4bc","2fdebff6.443b8","4b89cbc0.2552f4","ca79c590.affa18","a7a21389.31635","2acb4794.64d508","ef43d9d4.15c658","ab276d31.8fc06","6cd53687.8d7c78","ff4d7010.b5962"],"x":135,"y":1800,"wires":[["99821dc3.929a9","49a78bf2.4d9764"]]},{"id":"1414a5b0.06885a","type":"link out","z":"acf6edd5.00ea1","name":"","links":["b74e5339.7e65b"],"x":1415,"y":1340,"wires":[]},{"id":"91998d60.92fb9","type":"link out","z":"acf6edd5.00ea1","name":"","links":["b74e5339.7e65b"],"x":1395,"y":740,"wires":[]},{"id":"8f06ef10.2428d","type":"link out","z":"acf6edd5.00ea1","name":"","links":["b74e5339.7e65b"],"x":1395,"y":340,"wires":[]},{"id":"22d55db7.f41612","type":"link out","z":"f88a7849.b8aab8","name":"","links":["b74e5339.7e65b"],"x":1175,"y":120,"wires":[]},{"id":"a8ab7067.f4a9a","type":"link out","z":"be2a4676.74b8a8","name":"","links":["b74e5339.7e65b"],"x":1035,"y":880,"wires":[]},{"id":"1e724fea.7a4bc","type":"link out","z":"be2a4676.74b8a8","name":"","links":["b74e5339.7e65b"],"x":935,"y":680,"wires":[]},{"id":"2fdebff6.443b8","type":"link out","z":"be2a4676.74b8a8","name":"","links":["b74e5339.7e65b"],"x":875,"y":300,"wires":[]},{"id":"4b89cbc0.2552f4","type":"link out","z":"a7fcc05f.55719","name":"","links":["b74e5339.7e65b"],"x":835,"y":240,"wires":[]},{"id":"ca79c590.affa18","type":"link out","z":"b973af28.b2f18","name":"","links":["b74e5339.7e65b"],"x":935,"y":420,"wires":[]},{"id":"a7a21389.31635","type":"link out","z":"31f19c31.186964","name":"","links":["b74e5339.7e65b"],"x":655,"y":80,"wires":[]},{"id":"2acb4794.64d508","type":"link out","z":"1cb4172f.3acd49","name":"","links":["b74e5339.7e65b"],"x":675,"y":80,"wires":[]},{"id":"1606e3f6.46137c","type":"link in","z":"6278caa3.28b6a4","name":"","links":["54864ba6.1b4cf4"],"x":135,"y":360,"wires":[["219ed7ca.44e9e8","3b531eeb.cecb42","26e0637d.06ee3c","aeb599fd.4ed968","d8ad3aaf.33b8c8","6b9868ec.ea9ee8","37c1b39e.ac82ec","7293e4d5.3903dc","c4bb8634.b64508"]]},{"id":"54864ba6.1b4cf4","type":"link out","z":"6278caa3.28b6a4","name":"30SecCycle","links":["1606e3f6.46137c"],"x":615,"y":80,"wires":[]},{"id":"c56057bb.e9e9c8","type":"link out","z":"6278caa3.28b6a4","name":"","links":["64d7ef2d.c01e7"],"x":1115,"y":80,"wires":[]},{"id":"a610f2cf.9a9f2","type":"influxdb batch","z":"e74bbf29.9c2e6","influxdb":"4da4ea34.630684","precision":"","retentionPolicy":"","name":"","x":1010,"y":820,"wires":[]},{"id":"64d7ef2d.c01e7","type":"link in","z":"e74bbf29.9c2e6","name":"Local InfluxDB","links":["c56057bb.e9e9c8","6ec2fa0.71fb408","4d2e68a3.eb5598"],"x":35,"y":820,"wires":[["a610f2cf.9a9f2"]]},{"id":"1d7cdf0a.55f421","type":"comment","z":"e74bbf29.9c2e6","name":"Local InfluxDb Link","info":"","x":110,"y":780,"wires":[]},{"id":"d5f2da88.799248","type":"Stackhero-InfluxDB-v2-write","z":"e74bbf29.9c2e6","server":"da535876.280af8","name":"SESS","x":930,"y":900,"wires":[[]]},{"id":"6dd0a81f.620ec8","type":"link in","z":"e74bbf29.9c2e6","name":"Remote FluxDB","links":["c965c6c3.d2a4c8","84f23acd.8623c8","c43f7c34.85ef1"],"x":35,"y":900,"wires":[["d5f2da88.799248"]]},{"id":"5006c287.2e9e5c","type":"comment","z":"e74bbf29.9c2e6","name":"Remote FluxDb Link","info":"","x":110,"y":860,"wires":[]},{"id":"c965c6c3.d2a4c8","type":"link out","z":"6278caa3.28b6a4","name":"","links":["6dd0a81f.620ec8"],"x":1115,"y":160,"wires":[]},{"id":"6ec2fa0.71fb408","type":"link out","z":"6278caa3.28b6a4","name":"","links":["64d7ef2d.c01e7"],"x":1115,"y":240,"wires":[]},{"id":"4d2e68a3.eb5598","type":"link out","z":"6278caa3.28b6a4","name":"","links":["64d7ef2d.c01e7"],"x":1115,"y":440,"wires":[]},{"id":"84f23acd.8623c8","type":"link out","z":"6278caa3.28b6a4","name":"","links":["6dd0a81f.620ec8"],"x":1115,"y":360,"wires":[]},{"id":"c43f7c34.85ef1","type":"link out","z":"6278caa3.28b6a4","name":"","links":["6dd0a81f.620ec8"],"x":1115,"y":600,"wires":[]},{"id":"5b035601.4fabf8","type":"debug","z":"6278caa3.28b6a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":760,"wires":[]},{"id":"fad0f0d3.b15a9","type":"function","z":"6278caa3.28b6a4","name":"System & Device Info","func":"let macAddr = global.get(\"macAddr\") || \"NotSet\";\n\nif (macAddr === \"NotSet\") {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":760,"wires":[["6908b8de.8132e8"],["5b035601.4fabf8"]]},{"id":"6908b8de.8132e8","type":"exec","z":"6278caa3.28b6a4","command":"cat /sys/class/net/eth0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"MAC Addr","x":690,"y":720,"wires":[["ea8660f2.d23bb"],[],[]]},{"id":"ea8660f2.d23bb","type":"function","z":"6278caa3.28b6a4","name":"Set macAddr","func":"var macAddr = msg.payload.replace(/\\W/g,\"\");\nglobal.set(\"macAddr\", macAddr);\n\nmsg.payload = macAddr;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":720,"wires":[["5b035601.4fabf8"]]},{"id":"3e3410dd.29e3a","type":"function","z":"6278caa3.28b6a4","name":"Developer macAddr Block","func":"let macAddr = global.get(\"macAddr\") || \"nSet\";\nif(macAddr == \"b827ebf15f4e\" || macAddr == \"b827eba5dff3\") {\n    return\n} \nelse if (macAddr == \"nSet\") {\n    return [[msg], [null]];\n} else {\n    return [[null], [msg]];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":350,"y":40,"wires":[["8d16ddc.3147d2"],["54864ba6.1b4cf4"]]},{"id":"4c6462fc.46168c","type":"comment","z":"6278caa3.28b6a4","name":"Get local macaddr","info":"","x":130,"y":720,"wires":[]},{"id":"8d16ddc.3147d2","type":"link out","z":"6278caa3.28b6a4","name":"Get macAddr if Not Defined","links":["23d99cc5.fb1304"],"x":615,"y":40,"wires":[]},{"id":"23d99cc5.fb1304","type":"link in","z":"6278caa3.28b6a4","name":"","links":["8d16ddc.3147d2"],"x":75,"y":760,"wires":[["fad0f0d3.b15a9"]]},{"id":"11cedb10.2b8cd5","type":"inject","z":"be2a4676.74b8a8","name":"MONICON-PLC_ServerV0.0.10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"MONICON-PLC_ServerV0.0.10","payloadType":"str","x":170,"y":80,"wires":[["2c0e5e08.682a32"]]},{"id":"3e0a8ead.e9dcc2","type":"comment","z":"be2a4676.74b8a8","name":"Set Server Version","info":"","x":110,"y":40,"wires":[]},{"id":"2c0e5e08.682a32","type":"function","z":"be2a4676.74b8a8","name":"Set Server Version","func":"// eg. \"MONICON-PLC_ServerV0.1.1\"\nglobal.set(\"serverVersion\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":80,"wires":[[]]},{"id":"a684edeb.0cafc","type":"mqtt in","z":"e74bbf29.9c2e6","name":"","topic":"sess/MONICON-PLC/CMD/DeleteCreateLocalDB/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":210,"y":120,"wires":[["7f587ace.06c8c4"]]},{"id":"e9109e46.9d054","type":"mqtt in","z":"e74bbf29.9c2e6","name":"","topic":"sess/MONICON-PLC/CMD/DeleteCreateLocalDB/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":210,"y":200,"wires":[["7f587ace.06c8c4"]]},{"id":"a4280098.023ba","type":"delay","z":"e74bbf29.9c2e6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":240,"wires":[["ccad836f.f8c6e"]]},{"id":"7f587ace.06c8c4","type":"function","z":"e74bbf29.9c2e6","name":"Check Server macAddr","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nmsg.topic = \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Local Database has been reset.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":160,"wires":[["73b85d54.a43ab4","a4280098.023ba","ab276d31.8fc06"]]},{"id":"ab276d31.8fc06","type":"link out","z":"e74bbf29.9c2e6","name":"","links":["b74e5339.7e65b"],"x":815,"y":160,"wires":[]},{"id":"a4dd54cd.7c26c8","type":"mqtt in","z":"b973af28.b2f18","name":"","topic":"MONICON-PLC/STAT/Thresholds_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":680,"wires":[["ffbdfb99.d8d618","5ac6a7a0.d0a838"]]},{"id":"978cfcd4.5859f","type":"mqtt in","z":"b973af28.b2f18","name":"","topic":"MONICON-PLC/STAT/Thresholds_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":800,"wires":[["756eae3b.49cbf","5ac6a7a0.d0a838"]]},{"id":"ffbdfb99.d8d618","type":"link out","z":"b973af28.b2f18","name":"L-Thres_PT100-Para","links":[],"x":475,"y":680,"wires":[]},{"id":"756eae3b.49cbf","type":"link out","z":"b973af28.b2f18","name":"L-Thres_4n20-Para","links":["7010bf18.67104"],"x":475,"y":800,"wires":[]},{"id":"5ac6a7a0.d0a838","type":"function","z":"b973af28.b2f18","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":740,"wires":[["ca79c590.affa18"]]},{"id":"ff4d7010.b5962","type":"link out","z":"acf6edd5.00ea1","name":"","links":["b74e5339.7e65b"],"x":575,"y":80,"wires":[]},{"id":"87e7b94d.b844b8","type":"comment","z":"acf6edd5.00ea1","name":"GLOBAL DEVICE SEARCH","info":"","x":140,"y":140,"wires":[]}]