flow.json
[{"id":"947dd654.86f7d8","type":"tab","label":"DB - Master","disabled":false,"info":""},{"id":"d371a3fc.ccd77","type":"tab","label":"DB - CP","disabled":false,"info":""},{"id":"1580baa6.0458b5","type":"tab","label":"DB - IOMes","disabled":false,"info":""},{"id":"e9f72c5e.22b5c","type":"tab","label":"DB - ALMS","disabled":false,"info":""},{"id":"75dfc913.da6408","type":"tab","label":"DB - PARA","disabled":false,"info":""},{"id":"e92774ea.3697d8","type":"tab","label":"Digital Outputs","disabled":false,"info":""},{"id":"c1cfccba.acae3","type":"tab","label":"Digital Input","disabled":false,"info":""},{"id":"365b303e.30dd2","type":"tab","label":"Analog Alarms","disabled":false,"info":""},{"id":"d9b8d25c.7ef16","type":"tab","label":"Analog Scale","disabled":false,"info":""},{"id":"50deef7f.2a16c","type":"tab","label":"Control Panel","disabled":false,"info":""},{"id":"fb032ae4.cfa398","type":"tab","label":"DB Connections","disabled":false,"info":""},{"id":"ab5bce01.6160c","type":"tab","label":"OS","disabled":false,"info":""},{"id":"3a0b80d5.6c8ce","type":"tab","label":"Sysem Performance","disabled":false,"info":""},{"id":"fec238df.25bb18","type":"tab","label":"Firmware","disabled":false,"info":""},{"id":"a27eb0d8.3c2fa","type":"influxdb","z":"","hostname":"localhost","port":"8886","protocol":"http","database":"monicon_sess","name":"","usetls":false,"tls":""},{"id":"cb1b82bc.a26ae","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"us-central1-1.gcp.cloud2.influxdata.com","port":"443","tls":true},{"id":"45a7d85a.401588","type":"ui_tab","z":"","name":"Control Panel","icon":"dashboard","disabled":false,"hidden":false},{"id":"4fe51183.62334","type":"ui_group","z":"","name":"Equipment Identification","tab":"45a7d85a.401588","order":4,"disp":true,"width":"6","collapse":false},{"id":"1e88062a.770d7a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"89b97fb2.1ec7d","type":"mqtt-broker","z":"","name":"","broker":"tailor.cloudmqtt.com","port":"10287","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"11c21f0e.d49831","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5d3de38b.30602c","type":"ui_group","z":"","name":"Scale Factor (k)","tab":"45a7d85a.401588","order":5,"disp":true,"width":"6","collapse":false},{"id":"ea8e7f4c.f8bcc","type":"ui_group","z":"","name":"Device Locator","tab":"45a7d85a.401588","order":1,"disp":true,"width":"6","collapse":false},{"id":"22362b2b.e9a1e4","type":"ui_group","z":"","name":"Digital Inputs","tab":"da91f024.78ee3","order":3,"disp":true,"width":"6","collapse":false},{"id":"da91f024.78ee3","type":"ui_tab","z":"","name":"IO Measurements","icon":"dashboard","disabled":false,"hidden":false},{"id":"682affd.438e7","type":"ui_group","z":"","name":"Device Locator","tab":"da91f024.78ee3","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f5898a7.07fa48","type":"ui_group","z":"","name":"4..20mA Signals - 20sec Updates","tab":"da91f024.78ee3","order":4,"disp":true,"width":"6","collapse":false},{"id":"bf96246c.d919c8","type":"ui_group","z":"","name":"PT100 Signals - 20sec Updates","tab":"da91f024.78ee3","order":5,"disp":true,"width":"6","collapse":false},{"id":"2753fe30.136152","type":"ui_group","z":"","name":"Digital Outputs","tab":"da91f024.78ee3","order":2,"disp":true,"width":"6","collapse":false},{"id":"d342ae97.3b2ec","type":"ui_group","z":"","name":"Thresholds","tab":"45a7d85a.401588","order":6,"disp":true,"width":"6","collapse":false},{"id":"d8647c59.12493","type":"ui_tab","z":"","name":"Alarms","icon":"dashboard","disabled":false,"hidden":false},{"id":"18b9ac28.263ce4","type":"ui_group","z":"","name":"4n20mA HIGH Alarms","tab":"d8647c59.12493","order":3,"disp":true,"width":"6","collapse":false},{"id":"25e1adcb.525a02","type":"ui_group","z":"","name":"Device Locator","tab":"d8647c59.12493","order":1,"disp":true,"width":"6","collapse":false},{"id":"bbe1e6e.c044218","type":"ui_group","z":"","name":"4n20mA LOW Alarms","tab":"d8647c59.12493","order":2,"disp":true,"width":"6","collapse":false},{"id":"a0ab591e.494fc8","type":"ui_group","z":"","name":"PT100 LOW Alarms","tab":"d8647c59.12493","order":4,"disp":true,"width":"6","collapse":false},{"id":"5a0ef1e2.ddb77","type":"ui_group","z":"","name":"PT100 HIGH Alarms","tab":"d8647c59.12493","order":5,"disp":true,"width":"6","collapse":false},{"id":"1c5e7bce.dafe64","type":"ui_tab","z":"","name":"Parameters","icon":"dashboard","disabled":false,"hidden":false},{"id":"c9c66b1f.63bdc8","type":"ui_group","z":"","name":"4n20mA - LOW Parameter","tab":"1c5e7bce.dafe64","order":2,"disp":true,"width":"6","collapse":false},{"id":"d41c1003.34b84","type":"ui_group","z":"","name":"4n20mA - HIGH Parameter","tab":"1c5e7bce.dafe64","order":3,"disp":true,"width":"6","collapse":false},{"id":"64e82ef2.ffce3","type":"ui_group","z":"","name":"PT100 - LOW Parameter","tab":"1c5e7bce.dafe64","order":4,"disp":true,"width":"6","collapse":false},{"id":"d6b5f6cc.ac6ab8","type":"ui_group","z":"","name":"PT100 - HIGH Parameter","tab":"1c5e7bce.dafe64","order":5,"disp":true,"width":"6","collapse":false},{"id":"4952bdf6.d526e4","type":"ui_group","z":"","name":"Device Locator","tab":"1c5e7bce.dafe64","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e9493b.19b276c","type":"ui_group","z":"","name":"Device Info","tab":"45a7d85a.401588","order":2,"disp":true,"width":"6","collapse":false},{"id":"e3d48d50.fae3f","type":"ui_group","z":"","name":"System Info","tab":"45a7d85a.401588","order":3,"disp":true,"width":"6","collapse":false},{"id":"1f86c7fe.575f98","type":"ui_group","z":"","name":"PT100 - LOW Active Alarm","tab":"1140bc77.403c34","order":8,"disp":true,"width":"6","collapse":false},{"id":"1053e3d8.f35acc","type":"ui_group","z":"","name":"PT100 - HIGH Active Alarm","tab":"1140bc77.403c34","order":9,"disp":true,"width":"6","collapse":false},{"id":"9cc24926.921388","type":"ui_group","z":"","name":"4n20 - LOW Active Alarm","tab":"1140bc77.403c34","order":6,"disp":true,"width":"6","collapse":false},{"id":"1c35732b.c16ddd","type":"ui_group","z":"","name":"4n20 - HIGH Active Alarm","tab":"1140bc77.403c34","order":7,"disp":true,"width":"6","collapse":false},{"id":"1140bc77.403c34","type":"ui_tab","z":"","name":"Alarm Config","icon":"dashboard","disabled":false,"hidden":false},{"id":"97964936.2f6b58","type":"ui_group","z":"","name":"Device Locator","tab":"1140bc77.403c34","order":5,"disp":true,"width":"6","collapse":false},{"id":"e226c2c9.fec2c","type":"debug","z":"c1cfccba.acae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":420,"wires":[]},{"id":"40149a6c.084244","type":"inject","z":"fb032ae4.cfa398","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":80,"wires":[["73763f01.ed6eb"]]},{"id":"7dc0efc0.680b3","type":"inject","z":"fb032ae4.cfa398","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":200,"wires":[["23576f3b.bdb57"]]},{"id":"da2133d0.1090a","type":"comment","z":"fb032ae4.cfa398","name":"RESET DATABASES","info":"","x":120,"y":40,"wires":[]},{"id":"f5053aa5.d464e8","type":"comment","z":"fb032ae4.cfa398","name":"CREATES DATABASES","info":"","x":130,"y":160,"wires":[]},{"id":"b4b52537.6dc2b8","type":"comment","z":"fb032ae4.cfa398","name":"PT100 Analog Signals","info":"","x":120,"y":420,"wires":[]},{"id":"2af10cd7.577654","type":"function","z":"fb032ae4.cfa398","name":"Remote Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n/*\noutput[0] = AI-0 // PT100\noutput[1] = AI-1 // PT100\noutput[2] = AI-2 // PT100\noutput[3] = AI-3 // PT100\noutput[4] = AI-4 // 4..20mA\noutput[5] = AI-5 // 4..20mA\noutput[6] = AI-6 // 4..20mA\noutput[7] = AI-7 // 4..20mA \noutput[8] = Device ID\noutput[9] = Location \n*/\n\n// Lighting\n//if (output.length > 4) {\n//    if (output[3].includes(\"Light\")) {\n//        output[4] = output[4].replace(/\\s+/g, '_')\n//        output[4] = output[4].concat(\".Lt\")\n//\t} else if (output[3].includes(\"Power\")) {\n//\t\toutput[4] = output[4].replace(/\\s+/g, '_')\n//\t\toutput[4] = output[4].concat(\".Pwr\")\n//\t}\n//}\n\n//output[1] = (output[1] / 1000).toFixed(2);\n\nstructureObject();\n\nreturn msg;\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tAnalogs: msg.topic\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\t_4n20_7: parseFloat(output[0]),\n\t\t\t\t_4n20_6: parseFloat(output[1]),\n\t\t\t\t_4n20_5: parseFloat(output[2]),\n\t\t\t\t_4n20_4: parseFloat(output[3]),\n\t\t\t\t_4n20_3: parseFloat(output[4]),\n\t\t\t\t_4n20_2: parseFloat(output[5]),\n\t\t\t\t_4n20_1: parseFloat(output[6]),\n\t\t\t\t_4n20_0: parseFloat(output[7]),\n\t\t\t\t_ID: \"\\\"\" + output[8] + \"\\\"\",\n\t\t\t\t_Location: \"\\\"\" + output[9] + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":340,"wires":[[]]},{"id":"33d73d5b.f2dfe2","type":"function","z":"fb032ae4.cfa398","name":"Local Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\nmsg.payload = [\n    {\n        measurement: siteID,\n\n        fields: {\n\t\t\t_4n20_7: parseFloat(output[0]),\n\t\t\t_4n20_6: parseFloat(output[1]),\n\t\t\t_4n20_5: parseFloat(output[2]),\n\t\t\t_4n20_4: parseFloat(output[3]),\n\t\t\t_4n20_3: parseFloat(output[4]),\n\t\t\t_4n20_2: parseFloat(output[5]),\n\t\t\t_4n20_1: parseFloat(output[6]),\n\t\t\t_4n20_0: parseFloat(output[7]),\n\t\t\t_ID: \"\\\"\" + output[8] + \"\\\"\",\n\t\t\t_Location: \"\\\"\" + output[9] + \"\\\"\"\n\t\t},\n\t\t\n        tags:{\n            Analogs: msg.topic\n        },\n        //timestamp: Date.now()\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":300,"wires":[["3e97bdeb.bd6352"]]},{"id":"1de8760a.7eadba","type":"mqtt in","z":"ab5bce01.6160c","name":"","topic":"MONICON/CMD/OS/","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":120,"y":460,"wires":[["4dc73a27.64e184","d3c17aed.8477b8","9a69aee4.27d08","1b557c94.ab4ef3","8d5f3bc1.bf1ff8","be38487e.4b7cd8"]]},{"id":"62bfd099.9e59d","type":"function","z":"ab5bce01.6160c","name":"IP Addr","func":"var data = msg.payload.networkInterfaces.wlan0[0].address\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/IP\" };\nreturn msg1;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["9df11f08.4ce7e","40a8d4a7.db7ecc"]]},{"id":"7cbbac08.5bae94","type":"function","z":"ab5bce01.6160c","name":"Uptime","func":"var data = msg.payload.uptime\n\nlet days = parseInt(data / 86400)\nlet hours = parseInt((data % 86400) / 3600)\nlet minutes = parseInt(((data % 86400) % 3600) / 60)\nlet secs = parseInt(((data % 86400) % 3600) % 60)\n\nlet msg1 = {payload: \"Days[\" + days + \"] Hours[\" + hours + \"] Mins[\" + minutes + \"] Sec[\" + secs + \"]\", topic: \"MONICON/STAT/OS/UPTIME\"}\n\nreturn msg1\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["9df11f08.4ce7e","7dd341ec.1e1c1","4624289f.bfc628"]]},{"id":"9df11f08.4ce7e","type":"mqtt out","z":"ab5bce01.6160c","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":950,"y":40,"wires":[]},{"id":"45c45949.d77138","type":"function","z":"ab5bce01.6160c","name":"Model","func":"var data = msg.payload.cpus[0].model\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/MODEL\" };\nreturn msg1;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["9df11f08.4ce7e","c8b626fa.0226d8"]]},{"id":"ebdd4667.e4faf8","type":"function","z":"ab5bce01.6160c","name":"Disk Size (GB)","func":"var data = msg.payload[0]\n\nvar diskSize = String((data.size / 1000000).toFixed(2)) + \",\" + String((data.used / 1000000).toFixed(2)) + \",\" + String((data.available / 1000000).toFixed(2)) + \",\" + String((data.capacity * 100).toFixed(0))\n\nvar msg1 = { payload: diskSize, topic: \"MONICON/STAT/OS/DISK\" }\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":120,"wires":[["9df11f08.4ce7e","6fc3fa4e.c64ce4","46ea8b37.40d974"]]},{"id":"a305901a.96aa7","type":"function","z":"ab5bce01.6160c","name":"RAM (MB)","func":"var data = msg.payload\n\nvar ramSize = String((data.totalmem / 1000000).toFixed(2)) + \",\" + String((data.freemem / 1000000).toFixed(2)) + \",\" + String(parseFloat(data.memusage).toFixed(0))\n\nvar msg1 = { payload: ramSize, topic: \"MONICON/STAT/OS/RAM\" }\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":80,"wires":[["9df11f08.4ce7e","523ea801.89bb28"]]},{"id":"6fc3fa4e.c64ce4","type":"function","z":"ab5bce01.6160c","name":"Scale","func":"var output = msg.payload.split(\",\");\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\n        \n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            TotalMem: parseFloat(output[0]),\n            UsedMem: parseFloat(output[1]),\n            FreeMem: parseFloat(output[2]),\n            PercentMem: parseFloat(output[3])\n        },\n        tags:{\n            System: \"HDD\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: 'Site_ID001',\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"HDD\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tTotalMem: parseFloat(output[0]),\n                UsedMem: parseFloat(output[1]),\n                FreeMem: parseFloat(output[2]),\n                PercentMem: parseFloat(output[3])\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":950,"y":120,"wires":[["cd518942.cf7028"],[]]},{"id":"db90e82e.d23718","type":"inject","z":"ab5bce01.6160c","name":"","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["1b557c94.ab4ef3","9a69aee4.27d08","d3c17aed.8477b8","8d5f3bc1.bf1ff8","4dc73a27.64e184","be38487e.4b7cd8","5700c32f.da445c","754bc40a.2e12dc","edf50871.9657a8"]]},{"id":"c8b626fa.0226d8","type":"function","z":"ab5bce01.6160c","name":"Scale","func":"    //msg.payload = msg.payload.replace(/\\s+/g, '_')\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Model: msg.payload\n        },\n        tags:{\n            System: \"Model\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: 'Site_ID001',\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"Model\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tModel: \"\\\"\" + msg.payload[0].fields.Model + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"x":950,"y":200,"wires":[["cd518942.cf7028"],[]]},{"id":"40a8d4a7.db7ecc","type":"function","z":"ab5bce01.6160c","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            IPAddr: msg.payload\n        },\n        tags:{\n            System: \"IP\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: 'Site_ID001',\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"IP\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tIPAddr: \"\\\"\" + msg.payload[0].fields.IPAddr + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":950,"y":240,"wires":[["cd518942.cf7028"],[]]},{"id":"7dd341ec.1e1c1","type":"function","z":"ab5bce01.6160c","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Uptime: msg.payload\n        },\n        tags:{\n            System: \"UPTIME\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: 'Site_ID001',\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"UPTIME\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tUptime: \"\\\"\" + msg.payload[0].fields.Uptime + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":950,"y":280,"wires":[["cd518942.cf7028"],[]]},{"id":"2f803c26.c7ef54","type":"function","z":"ab5bce01.6160c","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Hostname: msg.payload,\n        },\n        tags:{\n            System: \"Hostname\",\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: 'Site_ID001',\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"Hostname\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tHostname: \"\\\"\" + String(msg.payload[0].fields.Hostname) + \"\\\"\",\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"x":950,"y":160,"wires":[["cd518942.cf7028"],[]]},{"id":"523ea801.89bb28","type":"function","z":"ab5bce01.6160c","name":"Scale","func":"var output = msg.payload.split(\",\");\n\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            TotalRam: parseFloat(output[0]),\n            FreeRam: parseFloat(output[1]),\n            PercentRam: parseFloat(output[2])\n        },\n        tags:{\n            System: \"RAM\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: 'Site_ID001',\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"RAM\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tTotalRam: parseFloat(output[0]),\n                FreeRam: parseFloat(output[1]),\n                PercentRam: parseFloat(output[2])\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":950,"y":80,"wires":[["cd518942.cf7028"],[]]},{"id":"c79f0f74.7bac2","type":"function","z":"ab5bce01.6160c","name":"Hostname","func":"var data = msg.payload.hostname\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/Hostname\" };\nreturn msg1;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["2f803c26.c7ef54"]]},{"id":"a232706f.85098","type":"exec","z":"3a0b80d5.6c8ce","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":60,"wires":[[],[],[]]},{"id":"83602dc.2e686d","type":"inject","z":"3a0b80d5.6c8ce","name":"12hr Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":200,"y":60,"wires":[["a232706f.85098"]]},{"id":"be245828.82dad8","type":"function","z":"ab5bce01.6160c","name":"Temperature","func":"var data = msg.payload\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/Temperature\" };\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":360,"wires":[["30818f0d.f69c2","9df11f08.4ce7e","8e4a004.10d85"]]},{"id":"30818f0d.f69c2","type":"function","z":"ab5bce01.6160c","name":"Scale","func":"    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Temperature: msg.payload,\n        },\n        tags:{\n            System: \"Temperature\",\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: 'Site_ID001',\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"Temperature\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tTemperature: parseFloat(msg.payload[0].fields.Temperature),\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":950,"y":360,"wires":[["cd518942.cf7028"],[]]},{"id":"900c4e3d.c3b03","type":"Stackhero-InfluxDB-v2-write","z":"fb032ae4.cfa398","server":"cb1b82bc.a26ae","name":"SESS_ID001","x":950,"y":340,"wires":[[]]},{"id":"f2e61ca4.e435c","type":"Stackhero-InfluxDB-v2-write","z":"ab5bce01.6160c","server":"cb1b82bc.a26ae","name":"SESS","x":1490,"y":60,"wires":[[]]},{"id":"996247f7.76e5f8","type":"influxdb out","z":"fb032ae4.cfa398","influxdb":"a27eb0d8.3c2fa","name":"","measurement":"","precision":"","retentionPolicy":"","x":990,"y":80,"wires":[]},{"id":"52886272.c5911c","type":"influxdb out","z":"fb032ae4.cfa398","influxdb":"a27eb0d8.3c2fa","name":"","measurement":"","precision":"","retentionPolicy":"","x":990,"y":200,"wires":[]},{"id":"3e97bdeb.bd6352","type":"influxdb batch","z":"fb032ae4.cfa398","influxdb":"a27eb0d8.3c2fa","precision":"","retentionPolicy":"","name":"","x":1010,"y":300,"wires":[]},{"id":"cd518942.cf7028","type":"influxdb batch","z":"ab5bce01.6160c","influxdb":"a27eb0d8.3c2fa","precision":"","retentionPolicy":"","name":"","x":1570,"y":420,"wires":[]},{"id":"73763f01.ed6eb","type":"influxdb in","z":"fb032ae4.cfa398","influxdb":"a27eb0d8.3c2fa","name":"monicon.sess","query":"DROP DATABASE monicon_sess","rawOutput":false,"precision":"","retentionPolicy":"","x":560,"y":80,"wires":[["996247f7.76e5f8"]]},{"id":"23576f3b.bdb57","type":"influxdb in","z":"fb032ae4.cfa398","influxdb":"a27eb0d8.3c2fa","name":"monicon.sess","query":"CREATE DATABASE monicon_sess","rawOutput":false,"precision":"","retentionPolicy":"","x":560,"y":200,"wires":[["52886272.c5911c"]]},{"id":"c8dfa932.34c278","type":"string","z":"fb032ae4.cfa398","name":"Sectionaliser ","methods":[{"name":"getRightMost","params":[{"type":"str","value":"ProPower-ESP/Device/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":290,"y":300,"wires":[["2af10cd7.577654","33d73d5b.f2dfe2"]]},{"id":"9a69aee4.27d08","type":"OS","z":"ab5bce01.6160c","name":"","x":370,"y":160,"wires":[["c79f0f74.7bac2"]]},{"id":"1b557c94.ab4ef3","type":"Drives","z":"ab5bce01.6160c","name":"","x":370,"y":120,"wires":[["ebdd4667.e4faf8"]]},{"id":"be38487e.4b7cd8","type":"Uptime","z":"ab5bce01.6160c","name":"","x":380,"y":280,"wires":[["7cbbac08.5bae94"]]},{"id":"d3c17aed.8477b8","type":"CPUs","z":"ab5bce01.6160c","name":"","x":370,"y":200,"wires":[["45c45949.d77138"]]},{"id":"8d5f3bc1.bf1ff8","type":"Memory","z":"ab5bce01.6160c","name":"","x":380,"y":80,"wires":[["a305901a.96aa7"]]},{"id":"4dc73a27.64e184","type":"NetworkIntf","z":"ab5bce01.6160c","name":"","x":390,"y":240,"wires":[["62bfd099.9e59d"]]},{"id":"5700c32f.da445c","type":"cpu","z":"ab5bce01.6160c","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":390,"y":360,"wires":[["be245828.82dad8"]]},{"id":"98700505.d772e8","type":"comment","z":"fb032ae4.cfa398","name":"4n20 Analog Signals","info":"","x":110,"y":260,"wires":[]},{"id":"31cc9ffe.46aff","type":"function","z":"fb032ae4.cfa398","name":"Remote Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n\n/*\noutput[0] = AI-0 // PT100\noutput[1] = AI-1 // PT100\noutput[2] = AI-2 // PT100\noutput[3] = AI-3 // PT100\noutput[4] = AI-4 // 4..20mA\noutput[5] = AI-5 // 4..20mA\noutput[6] = AI-6 // 4..20mA\noutput[7] = AI-7 // 4..20mA \noutput[8] = Device ID\noutput[9] = Location \n*/\n\n// Lighting\n//if (output.length > 4) {\n//    if (output[3].includes(\"Light\")) {\n//        output[4] = output[4].replace(/\\s+/g, '_')\n//        output[4] = output[4].concat(\".Lt\")\n//\t} else if (output[3].includes(\"Power\")) {\n//\t\toutput[4] = output[4].replace(/\\s+/g, '_')\n//\t\toutput[4] = output[4].concat(\".Pwr\")\n//\t}\n//}\n\n//output[1] = (output[1] / 1000).toFixed(2);\n\nstructureObject();\n\nreturn msg;\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tAnalogs: msg.topic\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\t_PT100_7: parseFloat(output[0]),\n\t\t\t\t_PT100_6: parseFloat(output[1]),\n\t\t\t\t_PT100_5: parseFloat(output[2]),\n\t\t\t\t_PT100_4: parseFloat(output[3]),\n\t\t\t\t_PT100_3: parseFloat(output[4]),\n\t\t\t\t_PT100_2: parseFloat(output[5]),\n\t\t\t\t_PT100_1: parseFloat(output[6]),\n\t\t\t\t_PT100_0: parseFloat(output[7]),\n\t\t\t\t_ID: \"\\\"\" + output[8] + \"\\\"\",\n\t\t\t\t_Location: \"\\\"\" + output[9] + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":500,"wires":[["88574537.882d98"]]},{"id":"9ac11867.60eb78","type":"function","z":"fb032ae4.cfa398","name":"Local Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\nmsg.payload = [\n    {\n        measurement: siteID,\n\n        fields: {\n\t\t\t_PT100_7: parseFloat(output[0]),\n\t\t\t_PT100_6: parseFloat(output[1]),\n\t\t\t_PT100_5: parseFloat(output[2]),\n\t\t\t_PT100_4: parseFloat(output[3]),\n\t\t\t_PT100_3: parseFloat(output[4]),\n\t\t\t_PT100_2: parseFloat(output[5]),\n\t\t\t_PT100_1: parseFloat(output[6]),\n\t\t\t_PT100_0: parseFloat(output[7]),\n\t\t\t_ID: \"\\\"\" + output[8] + \"\\\"\",\n\t\t\t_Location: \"\\\"\" + output[9] + \"\\\"\"\n\t\t},\n        tags:{\n            Analogs: msg.topic\n        },\n        //timestamp: Date.now()\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":460,"wires":[["28d949f6.f60606"]]},{"id":"491757c4.ebf498","type":"Stackhero-InfluxDB-v2-write","z":"fb032ae4.cfa398","server":"cb1b82bc.a26ae","name":"SESS_ID001","x":950,"y":500,"wires":[[]]},{"id":"28d949f6.f60606","type":"influxdb batch","z":"fb032ae4.cfa398","influxdb":"a27eb0d8.3c2fa","precision":"","retentionPolicy":"","name":"","x":990,"y":460,"wires":[]},{"id":"59431a71.c12634","type":"string","z":"fb032ae4.cfa398","name":"Sectionaliser ","methods":[{"name":"getRightMost","params":[{"type":"str","value":"ProPower-ESP/Device/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":290,"y":460,"wires":[["31cc9ffe.46aff","9ac11867.60eb78"]]},{"id":"754bc40a.2e12dc","type":"exec","z":"ab5bce01.6160c","command":"iw dev | grep ssid | awk '{print $2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SSID","x":370,"y":460,"wires":[["2c81bb93.e57ac4"],[],[]]},{"id":"9042f379.04334","type":"function","z":"ab5bce01.6160c","name":"Scale","func":"var msg1 = {};\n\n    msg1.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            SSID: msg.payload,\n        },\n        tags:{\n            System: \"SSID\",\n        }\n    }];\n    \nvar msg2 = {};\n\nstructureObject();\n\nreturn [[msg1], [msg2]];\n        \nfunction structureObject() {\n\tmsg2.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: 'Site_ID001',\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"SSID\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tSSID: \"\\\"\" + msg.payload + \"\\\"\",\n\t\t\t\tSiteID: \"\\\"\" + \"Site_ID001\" + \"\\\"\",\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":950,"y":440,"wires":[["cd518942.cf7028"],[]]},{"id":"2c81bb93.e57ac4","type":"function","z":"ab5bce01.6160c","name":"SSID","func":"var data = String(msg.payload.replace(/[\\n\\r]+/g, ' ').replace(/\\s{2,}/g,' ').replace(/^\\s+|\\s+$/,'') )\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":440,"wires":[["9042f379.04334"]]},{"id":"cd7644e3.9d2e78","type":"mqtt in","z":"d9b8d25c.7ef16","name":"","topic":"MONICON-PLC/Device/AI_4n20/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":160,"y":40,"wires":[["15360950.616d87","2ffd6e79.837012"]]},{"id":"7ffb453c.9999bc","type":"mqtt in","z":"d9b8d25c.7ef16","name":"","topic":"MONICON-PLC/Device/AI_PT100/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":160,"y":120,"wires":[["c3656753.8cd718","2ffd6e79.837012"]]},{"id":"15360950.616d87","type":"link out","z":"d9b8d25c.7ef16","name":"L-OUT-AI_4n20","links":["311cc9da.295866","3e649a44.6ae766","4b3ca73b.9407c8","fb825d88.14935","95f86c15.e133e","86937695.9d3b98"],"x":655,"y":40,"wires":[]},{"id":"c3656753.8cd718","type":"link out","z":"d9b8d25c.7ef16","name":"L-OUT-AI_PT100","links":["d40653c7.effc4","1e4c392d.0d2eb7","86a52f8.d751fd","35f26cdf.fe9b14"],"x":655,"y":120,"wires":[]},{"id":"4b3ca73b.9407c8","type":"link in","z":"fb032ae4.cfa398","name":"","links":["15360950.616d87"],"x":35,"y":300,"wires":[["c8dfa932.34c278","6e874a89.d71df4"]]},{"id":"1e4c392d.0d2eb7","type":"link in","z":"fb032ae4.cfa398","name":"","links":["c3656753.8cd718"],"x":35,"y":460,"wires":[["59431a71.c12634"]]},{"id":"16858688.d3dec9","type":"mqtt out","z":"d9b8d25c.7ef16","name":"","topic":"MONICON-PLC/CMD/Scale_PT100/2362665425","qos":"","retain":"","broker":"11c21f0e.d49831","x":910,"y":280,"wires":[]},{"id":"78e5b6e0.df3498","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0,1","payloadType":"str","x":150,"y":340,"wires":[["16858688.d3dec9"]]},{"id":"17ae5cf4.850913","type":"comment","z":"d9b8d25c.7ef16","name":"PT100 - Instrument Scaling (0-7, value)","info":"","x":170,"y":200,"wires":[]},{"id":"66d05c4d.0c1e24","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1,1","payloadType":"str","x":150,"y":380,"wires":[["16858688.d3dec9"]]},{"id":"8c90e7f2.421a68","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2,1","payloadType":"str","x":150,"y":420,"wires":[["16858688.d3dec9"]]},{"id":"60e95f15.f239f","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3,1","payloadType":"str","x":150,"y":460,"wires":[["16858688.d3dec9"]]},{"id":"754f9132.f7705","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4,1","payloadType":"str","x":150,"y":500,"wires":[["16858688.d3dec9"]]},{"id":"7f0682d5.c185ec","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5,1","payloadType":"str","x":150,"y":540,"wires":[["16858688.d3dec9"]]},{"id":"22c0a851.f0bc68","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6,1","payloadType":"str","x":150,"y":580,"wires":[["16858688.d3dec9"]]},{"id":"4b87f22d.38648c","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7,1","payloadType":"str","x":150,"y":620,"wires":[["16858688.d3dec9"]]},{"id":"d226eb76.f0e488","type":"mqtt out","z":"d9b8d25c.7ef16","name":"","topic":"MONICON-PLC/CMD/Scale_4n20/2362665425","qos":"","retain":"","broker":"11c21f0e.d49831","x":920,"y":760,"wires":[]},{"id":"c13f54b1.7ac2b8","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0,10","payloadType":"str","x":130,"y":820,"wires":[["d226eb76.f0e488"]]},{"id":"526ec683.9c7328","type":"comment","z":"d9b8d25c.7ef16","name":"4n20 - Instrument Scaling (0-7, value)","info":"","x":170,"y":680,"wires":[]},{"id":"33529140.d342fe","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1,1","payloadType":"str","x":130,"y":860,"wires":[["d226eb76.f0e488"]]},{"id":"c7c71b4e.2f3118","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2,62.75","payloadType":"str","x":130,"y":900,"wires":[["d226eb76.f0e488"]]},{"id":"cd29b873.ab6648","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3,1","payloadType":"str","x":130,"y":940,"wires":[["d226eb76.f0e488"]]},{"id":"ee49bbc9.5ff1a8","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4,62.75","payloadType":"str","x":130,"y":980,"wires":[["d226eb76.f0e488"]]},{"id":"69b5bc96.41a784","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5,1","payloadType":"str","x":130,"y":1020,"wires":[["d226eb76.f0e488"]]},{"id":"8c56ae17.c97ea","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6,1","payloadType":"str","x":130,"y":1060,"wires":[["d226eb76.f0e488"]]},{"id":"22266590.67e54a","type":"inject","z":"d9b8d25c.7ef16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7,1","payloadType":"str","x":130,"y":1100,"wires":[["d226eb76.f0e488"]]},{"id":"19911570.a9826b","type":"mqtt in","z":"c1cfccba.acae3","name":"","topic":"MONICON-PLC/STAT/DI_00/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":140,"y":300,"wires":[["e226c2c9.fec2c","9440c76e.fe20d8"]]},{"id":"4cfbccef.4c47d4","type":"mqtt in","z":"e92774ea.3697d8","name":"","topic":"MONICON-PLC/STAT/DigitalOutputs/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":170,"y":240,"wires":[["caa73f0b.5ddf8"]]},{"id":"e1c72b69.79e968","type":"mqtt in","z":"c1cfccba.acae3","name":"","topic":"MONICON-PLC/STAT/DI_01/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":140,"y":360,"wires":[["b576297.ca3a5d8","9440c76e.fe20d8"]]},{"id":"788be5ab.f61d2c","type":"mqtt in","z":"c1cfccba.acae3","name":"","topic":"MONICON-PLC/STAT/DI_02/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":140,"y":420,"wires":[["b4f5f9d4.64bab8","9440c76e.fe20d8"]]},{"id":"d66b6c9e.79725","type":"mqtt in","z":"c1cfccba.acae3","name":"","topic":"MONICON-PLC/STAT/DI_03/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":140,"y":480,"wires":[["f0f9c49e.c50678","9440c76e.fe20d8"]]},{"id":"72b295b9.31e4fc","type":"mqtt in","z":"c1cfccba.acae3","name":"","topic":"MONICON-PLC/STAT/DI_04/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":140,"y":540,"wires":[["998b23bb.74ee7","9440c76e.fe20d8"]]},{"id":"1066c96a.6e5da7","type":"mqtt in","z":"c1cfccba.acae3","name":"","topic":"MONICON-PLC/STAT/DI_05/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":140,"y":600,"wires":[["ac2ca58b.10bfb8","9440c76e.fe20d8"]]},{"id":"2ed0b298.daed8e","type":"mqtt in","z":"c1cfccba.acae3","name":"","topic":"MONICON-PLC/STAT/DI_06/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":140,"y":660,"wires":[["5a8370de.ef54b","9440c76e.fe20d8"]]},{"id":"f5e6a796.ab9fb8","type":"mqtt out","z":"e92774ea.3697d8","name":"","topic":"MONICON-PLC/CMD/DigitalOutputs/3369298385","qos":"","retain":"","broker":"11c21f0e.d49831","x":910,"y":380,"wires":[]},{"id":"e3c41a72.010198","type":"inject","z":"e92774ea.3697d8","name":"DO-00 - On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0,1","payloadType":"str","x":130,"y":380,"wires":[["f5e6a796.ab9fb8"]]},{"id":"fc83e7d5.461e48","type":"inject","z":"e92774ea.3697d8","name":"DO-00 - Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0,0","payloadType":"str","x":130,"y":420,"wires":[["f5e6a796.ab9fb8"]]},{"id":"908e3320.02f41","type":"inject","z":"e92774ea.3697d8","name":"DO-01 - On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1,1","payloadType":"str","x":130,"y":500,"wires":[["f5e6a796.ab9fb8"]]},{"id":"37aeceb8.0ea9e2","type":"inject","z":"e92774ea.3697d8","name":"DO-01 - Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1,0","payloadType":"str","x":130,"y":540,"wires":[["f5e6a796.ab9fb8"]]},{"id":"479ad7c2.2d5908","type":"inject","z":"e92774ea.3697d8","name":"DO-02 - On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2,1","payloadType":"str","x":130,"y":620,"wires":[["f5e6a796.ab9fb8"]]},{"id":"dff9315f.ba271","type":"inject","z":"e92774ea.3697d8","name":"DO-01 - Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2,0","payloadType":"str","x":130,"y":660,"wires":[["f5e6a796.ab9fb8"]]},{"id":"32630354.cef08c","type":"comment","z":"e92774ea.3697d8","name":"Digital Output Controls","info":"","x":120,"y":340,"wires":[]},{"id":"ebd6fc7.3f98a","type":"comment","z":"e92774ea.3697d8","name":"Digital Output Status","info":"","x":110,"y":200,"wires":[]},{"id":"4a7a271.eef96d8","type":"comment","z":"c1cfccba.acae3","name":"Digital Input Status Bits","info":"","x":120,"y":260,"wires":[]},{"id":"ef4729ca.cc7bb8","type":"inject","z":"50deef7f.2a16c","name":"Steriliser ID003","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/UpdateEquipID/2362665425","payload":"Steriliser ID001","payloadType":"str","x":140,"y":140,"wires":[["8c5ab6cf.e836b8"]]},{"id":"8c5ab6cf.e836b8","type":"mqtt out","z":"50deef7f.2a16c","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":770,"y":80,"wires":[]},{"id":"bd543bbc.d5d5e8","type":"comment","z":"50deef7f.2a16c","name":"Set - Equipment ID","info":"","x":110,"y":40,"wires":[]},{"id":"cd3779f8.a6a0c8","type":"e-mail","z":"50deef7f.2a16c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"monicon.sess@gmail.com","dname":"monicon.sess@gmail.com","x":940,"y":320,"wires":[]},{"id":"9566bdca.76285","type":"comment","z":"50deef7f.2a16c","name":"Send Email Notification","info":"","x":120,"y":200,"wires":[]},{"id":"b66f5bdc.c6f868","type":"mqtt in","z":"50deef7f.2a16c","name":"","topic":"MONICON-PLC/CMD/UpdateEquipID/#","qos":"2","datatype":"auto","broker":"89b97fb2.1ec7d","x":170,"y":80,"wires":[["8c5ab6cf.e836b8"]]},{"id":"9440c76e.fe20d8","type":"mqtt out","z":"c1cfccba.acae3","name":"MQTT Cloud","topic":"","qos":"","retain":"","broker":"89b97fb2.1ec7d","x":1030,"y":300,"wires":[]},{"id":"af2b652.af84e98","type":"inject","z":"c1cfccba.acae3","name":"Request Digital Input Status <2362665425>","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/DigitalInputs/2362665425","payload":"","payloadType":"str","x":210,"y":140,"wires":[["39e51ca7.4e5e04"]]},{"id":"d89efa8c.80ead8","type":"comment","z":"c1cfccba.acae3","name":"Digital Input Status Bits","info":"","x":120,"y":40,"wires":[]},{"id":"b23ff2c0.f56e4","type":"mqtt in","z":"c1cfccba.acae3","name":"","topic":"MONICON-PLC/CMD/DigitalInputs/#","qos":"2","datatype":"auto","broker":"89b97fb2.1ec7d","x":160,"y":80,"wires":[["39e51ca7.4e5e04"]]},{"id":"39e51ca7.4e5e04","type":"mqtt out","z":"c1cfccba.acae3","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":790,"y":80,"wires":[]},{"id":"66d59fda.b7931","type":"inject","z":"e92774ea.3697d8","name":"Request Digital Output Status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":180,"y":140,"wires":[["9630b592.6a0218"]]},{"id":"9630b592.6a0218","type":"mqtt out","z":"e92774ea.3697d8","name":"","topic":"MONICON-PLC/CMD/DigitalOutputs/2362665425","qos":"","retain":"","broker":"11c21f0e.d49831","x":910,"y":80,"wires":[]},{"id":"d903ee53.f474a","type":"comment","z":"e92774ea.3697d8","name":"Request Digital Output Status","info":"","x":140,"y":40,"wires":[]},{"id":"caa73f0b.5ddf8","type":"mqtt out","z":"e92774ea.3697d8","name":"MQTT Cloud","topic":"","qos":"","retain":"","broker":"89b97fb2.1ec7d","x":1030,"y":240,"wires":[]},{"id":"2ffd6e79.837012","type":"mqtt out","z":"d9b8d25c.7ef16","name":"MQTT Cloud","topic":"","qos":"","retain":"","broker":"89b97fb2.1ec7d","x":510,"y":80,"wires":[]},{"id":"9404cee3.29d59","type":"comment","z":"d9b8d25c.7ef16","name":"Linked to <DB Connections>","info":"","x":840,"y":80,"wires":[]},{"id":"71a3ef95.4281b","type":"mqtt in","z":"d9b8d25c.7ef16","name":"","topic":"MONICON-PLC/CMD/Scale_PT100/#","qos":"2","datatype":"auto","broker":"89b97fb2.1ec7d","x":170,"y":280,"wires":[["16858688.d3dec9"]]},{"id":"955bfda.dc83","type":"mqtt in","z":"d9b8d25c.7ef16","name":"","topic":"MONICON-PLC/CMD/Scale_4n20/#","qos":"2","datatype":"auto","broker":"89b97fb2.1ec7d","x":160,"y":760,"wires":[["d226eb76.f0e488"]]},{"id":"42946875.817418","type":"comment","z":"d9b8d25c.7ef16","name":"<Analog ID> | <Scaling Factor>","info":"","x":150,"y":240,"wires":[]},{"id":"5de2002c.ea02e","type":"comment","z":"d9b8d25c.7ef16","name":"<Analog ID> | <Scaling Factor>","info":"","x":150,"y":720,"wires":[]},{"id":"6622ecf3.42f314","type":"ui_text_input","z":"d371a3fc.ccd77","name":"Equipment ID Name","label":"Equipment ID Name","tooltip":"","group":"4fe51183.62334","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"500","topic":"","x":120,"y":120,"wires":[["3756d2dd.97c68e"]]},{"id":"3f139c0a.67c6b4","type":"ui_button","z":"d371a3fc.ccd77","name":"","group":"4fe51183.62334","order":5,"width":0,"height":0,"passthru":false,"label":"Update Equipment Name","tooltip":"Enert new equipment ID name","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":220,"wires":[["d4adcdb9.fc60b"]]},{"id":"3756d2dd.97c68e","type":"function","z":"d371a3fc.ccd77","name":"New Equipment Name","func":"var equipmentName = msg.payload\nglobal.set(\"equipmentName\", equipmentName)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":120,"wires":[[]]},{"id":"d4adcdb9.fc60b","type":"function","z":"d371a3fc.ccd77","name":"Formulate Equipment ID Command","func":"let newName = global.get(\"equipmentName\")\nlet serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/UpdateEquipID/\" + serialID\nmsg.payload = newName\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":220,"wires":[["2750b58a.30658a"]]},{"id":"2750b58a.30658a","type":"mqtt out","z":"d371a3fc.ccd77","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":970,"y":220,"wires":[]},{"id":"81417ae5.f7b4c8","type":"comment","z":"d371a3fc.ccd77","name":"User Input - Add New equipment ID ","info":"","x":160,"y":80,"wires":[]},{"id":"bf068232.6f366","type":"comment","z":"d371a3fc.ccd77","name":"User Input - Update device with new ID","info":"","x":170,"y":180,"wires":[]},{"id":"365d6410.feaa2c","type":"ui_dropdown","z":"d371a3fc.ccd77","name":"","label":"PT100 Calibration","tooltip":"","place":"Select option","group":"5d3de38b.30602c","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"AI-00","value":"7","type":"str"},{"label":"AI-01","value":"6","type":"str"},{"label":"AI-02","value":"5","type":"str"},{"label":"AI-03","value":"4","type":"str"},{"label":"AI-04","value":"3","type":"str"},{"label":"AI-05","value":"2","type":"str"}],"payload":"","topic":"","x":110,"y":340,"wires":[["e08a7a3b.791ad8"]]},{"id":"9d02363d.0fd1c8","type":"comment","z":"d371a3fc.ccd77","name":"User Input - Update ANALOG PT100 (k) Factor","info":"","x":200,"y":300,"wires":[]},{"id":"14b0cafb.1ff1a5","type":"ui_text_input","z":"d371a3fc.ccd77","name":"New Scaling Denominator","label":"New Scaling Denominator","tooltip":"","group":"5d3de38b.30602c","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"500","topic":"","x":790,"y":380,"wires":[["e9961cc0.5fb39"]]},{"id":"e9961cc0.5fb39","type":"function","z":"d371a3fc.ccd77","name":"New Scaling Denominator","func":"var scaleValue_PT100 = msg.payload\nflow.set(\"scaleValue_PT100\", scaleValue_PT100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":380,"wires":[[]]},{"id":"e08a7a3b.791ad8","type":"function","z":"d371a3fc.ccd77","name":"Analog ID","func":"var analogID_PT100 = msg.payload\nflow.set(\"analogID_PT100\", analogID_PT100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":340,"wires":[[]]},{"id":"15188838.f4bc58","type":"ui_button","z":"d371a3fc.ccd77","name":"","group":"5d3de38b.30602c","order":4,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"Enter new analog scaling denominator","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":300,"y":420,"wires":[["da6492b4.422c2"]]},{"id":"957212c2.2bc2","type":"mqtt out","z":"d371a3fc.ccd77","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":970,"y":420,"wires":[]},{"id":"da6492b4.422c2","type":"function","z":"d371a3fc.ccd77","name":"Formulate Analog Scaling Command","func":"let serialID = global.get(\"serialID\")\nlet analogID_PT100 = flow.get(\"analogID_PT100\")\nlet scaleValue_PT100 = flow.get(\"scaleValue_PT100\")\nmsg.topic = \"MONICON-PLC/CMD/Scale_PT100/\" + serialID\nmsg.payload = analogID_PT100 + \",\" + scaleValue_PT100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":420,"wires":[["957212c2.2bc2"]]},{"id":"ab0b15c8.9058e8","type":"ui_text","z":"d371a3fc.ccd77","group":"4fe51183.62334","order":3,"width":0,"height":0,"name":"","label":"Enter New Device ID Name","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":80,"wires":[]},{"id":"d4cd9f4b.6f73b","type":"ui_dropdown","z":"d371a3fc.ccd77","name":"","label":"4..20mA Calibration","tooltip":"","place":"Select option","group":"5d3de38b.30602c","order":5,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"AI-00","value":"7","type":"str"},{"label":"AI-01","value":"6","type":"str"},{"label":"AI-02","value":"5","type":"str"},{"label":"AI-03","value":"4","type":"str"},{"label":"AI-04","value":"3","type":"str"},{"label":"AI-05","value":"2","type":"str"},{"label":"AI-06","value":"1","type":"str"}],"payload":"","topic":"","x":110,"y":540,"wires":[["62c89c19.5c58d4"]]},{"id":"d60dc153.c0da4","type":"comment","z":"d371a3fc.ccd77","name":"User Input - Update ANALOG 4n20mA (k) Factor","info":"","x":200,"y":500,"wires":[]},{"id":"48f6a095.25091","type":"ui_text_input","z":"d371a3fc.ccd77","name":"New Scaling Denominator","label":"New Scaling Denominator","tooltip":"","group":"5d3de38b.30602c","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":"500","topic":"","x":790,"y":580,"wires":[["26619b72.0f0a14"]]},{"id":"26619b72.0f0a14","type":"function","z":"d371a3fc.ccd77","name":"New Scaling Denominator","func":"var scaleValue_4n20 = msg.payload\nflow.set(\"scaleValue_4n20\", scaleValue_4n20)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":580,"wires":[[]]},{"id":"62c89c19.5c58d4","type":"function","z":"d371a3fc.ccd77","name":"Analog ID","func":"var analogID_4n20 = msg.payload\nflow.set(\"analogID_4n20\", analogID_4n20)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":540,"wires":[[]]},{"id":"11e6daab.8e1835","type":"ui_button","z":"d371a3fc.ccd77","name":"","group":"5d3de38b.30602c","order":8,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"Enter new analog scaling denominator","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":300,"y":620,"wires":[["7f343327.3f04fc"]]},{"id":"fd8d831d.4a6af","type":"mqtt out","z":"d371a3fc.ccd77","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":970,"y":620,"wires":[]},{"id":"7f343327.3f04fc","type":"function","z":"d371a3fc.ccd77","name":"Formulate Analog Scaling Command","func":"let serialID = global.get(\"serialID\")\nlet analogID_4n20 = flow.get(\"analogID_4n20\")\nlet scaleValue_4n20 = flow.get(\"scaleValue_4n20\")\nmsg.topic = \"MONICON-PLC/CMD/Scale_4n20/\" + serialID\nmsg.payload = analogID_4n20 + \",\" + scaleValue_4n20\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":620,"wires":[["fd8d831d.4a6af"]]},{"id":"46e3c989.6d8e18","type":"mqtt in","z":"365b303e.30dd2","name":"","topic":"MONICON-PLC/Device/4n20_Flags/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":170,"y":880,"wires":[["aa15b3c3.d4f0e"]]},{"id":"36bb2e1f.a2d562","type":"mqtt in","z":"365b303e.30dd2","name":"","topic":"MONICON-PLC/Device/PT100_Flags/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":170,"y":180,"wires":[["f4a8990d.2cf198"]]},{"id":"e28d2725.c963f8","type":"comment","z":"365b303e.30dd2","name":"Analog Alarms 1st <8x 4n20mA LOW Alarms> | 2nd <8x 4n20mA HIGH Alarms>","info":"","x":300,"y":840,"wires":[]},{"id":"5a47b11d.895c5","type":"comment","z":"365b303e.30dd2","name":"Analog Alarms 1st <8x PT100 LOW Alarms> | 2nd <8x PT100 HIGH Alarms>","info":"","x":290,"y":140,"wires":[]},{"id":"90cb0450.72d128","type":"mqtt in","z":"365b303e.30dd2","name":"","topic":"MONICON-PLC/Device/Alarm_4n20/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":170,"y":780,"wires":[["15b287a3.825488"]]},{"id":"40d26715.7c9c08","type":"mqtt in","z":"365b303e.30dd2","name":"","topic":"MONICON-PLC/Device/Alarm_PT100/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":170,"y":80,"wires":[["aadea7b3.e9d1f8"]]},{"id":"9cf1a89a.3455d8","type":"comment","z":"365b303e.30dd2","name":"4n20mA High Alarm - Rising Edge Trigger | <AI-ID> | <Limit-Type> | <Equip-Name>","info":"","x":310,"y":740,"wires":[]},{"id":"8581aeb3.be9c6","type":"comment","z":"365b303e.30dd2","name":"4n20mA Low Alarm - Rising Edge Trigger | <AI-ID> | <Limit-Type> | <Equip-Name>","info":"","x":310,"y":40,"wires":[]},{"id":"b13c3f50.e72f8","type":"comment","z":"365b303e.30dd2","name":"<Analog ID> | <Lower Limit> | <Upper Limit>","info":"","x":190,"y":280,"wires":[]},{"id":"561f52c5.ef934c","type":"comment","z":"365b303e.30dd2","name":"Set Notification Threshold Limit - PT100","info":"","x":170,"y":240,"wires":[]},{"id":"a280dc8b.a5045","type":"mqtt out","z":"365b303e.30dd2","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":750,"y":320,"wires":[]},{"id":"e4c5fe20.cf4e1","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_PT100/2362665425","payload":"0,0,100","payloadType":"str","x":110,"y":380,"wires":[["a280dc8b.a5045"]]},{"id":"3d96daf8.6a1fa6","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_PT100/2362665425","payload":"1,0,100","payloadType":"str","x":110,"y":420,"wires":[["a280dc8b.a5045"]]},{"id":"d3815e15.d0ab6","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_PT100/2362665425","payload":"2,0,100","payloadType":"str","x":110,"y":460,"wires":[["a280dc8b.a5045"]]},{"id":"d34d227a.e2562","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_PT100/2362665425","payload":"3,0,100","payloadType":"str","x":110,"y":500,"wires":[["a280dc8b.a5045"]]},{"id":"67ee90ce.ddeb5","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_PT100/2362665425","payload":"4,0,100","payloadType":"str","x":110,"y":540,"wires":[["a280dc8b.a5045"]]},{"id":"f3c7388e.d5d9a8","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_PT100/2362665425","payload":"5,0,100","payloadType":"str","x":110,"y":580,"wires":[["a280dc8b.a5045"]]},{"id":"79d4e3dc.802e7c","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_PT100/2362665425","payload":"6,0,100","payloadType":"str","x":110,"y":620,"wires":[["a280dc8b.a5045"]]},{"id":"277fc35b.b13a6c","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_PT100/2362665425","payload":"7,0,100","payloadType":"str","x":110,"y":660,"wires":[["a280dc8b.a5045"]]},{"id":"7f7cdc44.302a54","type":"mqtt in","z":"365b303e.30dd2","name":"","topic":"MONICON-PLC/CMD/Threshold_PT100/#","qos":"2","datatype":"auto","broker":"89b97fb2.1ec7d","x":180,"y":320,"wires":[["a280dc8b.a5045"]]},{"id":"bad627c5.ef5358","type":"comment","z":"365b303e.30dd2","name":"<Analog ID> | <Lower Limit> | <Upper Limit>","info":"","x":190,"y":1000,"wires":[]},{"id":"16be05a7.127baa","type":"comment","z":"365b303e.30dd2","name":"Set Notification Threshold Limit - 4n20mA","info":"","x":180,"y":960,"wires":[]},{"id":"9171a87a.a246a8","type":"mqtt out","z":"365b303e.30dd2","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":770,"y":1040,"wires":[]},{"id":"8070dc0f.fdf34","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_4n20/2362665425","payload":"0,0,10","payloadType":"str","x":110,"y":1100,"wires":[["9171a87a.a246a8"]]},{"id":"1a843c17.effd44","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_4n20/2362665425","payload":"1,0,100","payloadType":"str","x":110,"y":1140,"wires":[["9171a87a.a246a8"]]},{"id":"10bbc115.8e1d1f","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_4n20/2362665425","payload":"2,10,100","payloadType":"str","x":120,"y":1180,"wires":[["9171a87a.a246a8"]]},{"id":"46fdaa9a.3da754","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_4n20/2362665425","payload":"3,0,3","payloadType":"str","x":110,"y":1220,"wires":[["9171a87a.a246a8"]]},{"id":"285a64fd.0fee1c","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_4n20/2362665425","payload":"4,0,100","payloadType":"str","x":110,"y":1260,"wires":[["9171a87a.a246a8"]]},{"id":"54adcc74.bfbcc4","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_4n20/2362665425","payload":"5,0,100","payloadType":"str","x":110,"y":1300,"wires":[["9171a87a.a246a8"]]},{"id":"94ab47d1.24f718","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_4n20/2362665425","payload":"6,0,100","payloadType":"str","x":110,"y":1340,"wires":[["9171a87a.a246a8"]]},{"id":"1d3487bb.47a3e8","type":"inject","z":"365b303e.30dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Threshold_4n20/2362665425","payload":"7,0,100","payloadType":"str","x":110,"y":1380,"wires":[["9171a87a.a246a8"]]},{"id":"6e2041d0.116a9","type":"mqtt in","z":"365b303e.30dd2","name":"","topic":"MONICON-PLC/CMD/Threshold_4n20/#","qos":"2","datatype":"auto","broker":"89b97fb2.1ec7d","x":180,"y":1040,"wires":[["9171a87a.a246a8"]]},{"id":"aadea7b3.e9d1f8","type":"link out","z":"365b303e.30dd2","name":"L-ALM-PT100","links":["b1ed9c1d.51d9d"],"x":955,"y":80,"wires":[]},{"id":"15b287a3.825488","type":"link out","z":"365b303e.30dd2","name":"L-ALM-4n20","links":["7187e666.cc6ba8"],"x":955,"y":780,"wires":[]},{"id":"b1ed9c1d.51d9d","type":"link in","z":"50deef7f.2a16c","name":"","links":["aadea7b3.e9d1f8"],"x":55,"y":280,"wires":[["1593e620.6e796a"]]},{"id":"294f351a.f7aa0a","type":"comment","z":"50deef7f.2a16c","name":"Alarm PT100","info":"","x":90,"y":240,"wires":[]},{"id":"6bd60be7.7e0764","type":"comment","z":"50deef7f.2a16c","name":"Alarm 4n20","info":"","x":90,"y":340,"wires":[]},{"id":"7187e666.cc6ba8","type":"link in","z":"50deef7f.2a16c","name":"","links":["15b287a3.825488"],"x":55,"y":400,"wires":[["55ae6c64.1f0db4"]]},{"id":"1593e620.6e796a","type":"function","z":"50deef7f.2a16c","name":"Email Setup - PT100 Alarms","func":"/*\ndata[0] = PIN_ID\ndata[1] = Alarm Status\ndata[2] = PV\ndata[3] = Threshold Parameter\ndata[4] = Equipment ID\n\ntopic[0] = PLC_ID\ntopic[1] = CMD\ntopic[2] = Subject\ntopic[3] = Serial_ID\n*/\nvar data = msg.payload.split(',')\nvar topic = msg.topic.split('/')\n\nmsg = {\n    payload : \"PT100 Alarm has been triggered.\\n\" +\n    \"Equipment ID[\" + data[4] + \"]\\n\" + \n    \"PT100 Sensor - AI[\" + data[0] + \"]\\n\" +\n    \"Alarm Status[\" + data[1] +\"]\\n\" +\n    \"Timestamp[\" + Date().toString() + \"]\" + \n    \"Site_BS001\\n\" +\n    \"AI Process Value[\" + data[2] + \"]\\n\" +\n    \"Threshold Parameter[\" + data[3] + \"]\\n\" + \n    \"Equipment ID[\" + data[4] + \"]\\n\\n\" +\n    \"PLC_Model[\" + topic[0] + \"]\\n\" + \n    \"Command Header[\" + topic[1] + \"]\\n\" +\n    \"Command Subject[\" + topic[2] + \"]\\n\" +\n    \"Device Serial No.[\" + topic[3] + \"]\\n\\n\" , // Body\n    topic : \"Alarm Notification | PT100 Sensor - AI[\" + data[0] + \"] | Status[\" + data[1] +\"] | \" + \"Timestamp[\" + Date().toString() + \"]\", //Subject\n    to : \"monicon.sess@gmail.com\",\n    bcc : \"monicon.sys@gmail.com\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":280,"wires":[["cd3779f8.a6a0c8"]]},{"id":"55ae6c64.1f0db4","type":"function","z":"50deef7f.2a16c","name":"Email Setup - 4n20mA Alarms","func":"/*\ndata[0] = PIN_ID\ndata[1] = Alarm Status\ndata[2] = PV\ndata[3] = Threshold Parameter\ndata[4] = Equipment ID\n\ntopic[0] = PLC_ID\ntopic[1] = CMD\ntopic[2] = Subject\ntopic[3] = Serial_ID\n*/\nvar data = msg.payload.split(',')\nvar topic = msg.topic.split('/')\n\nmsg = {\n    payload : \"4n20mA Alarm has been triggered.\\n\" +\n    \"Equipment ID[\" + data[4] + \"]\\n\" + \n    \"PT100 Sensor - AI[\" + data[0] + \"]\\n\" +\n    \"Alarm Status[\" + data[1] +\"]\\n\" +\n    \"Timestamp[\" + Date().toString() + \"]\" + \n    \"Site_BS001\\n\" +\n    \"AI Process Value[\" + data[2] + \"]\\n\" +\n    \"Threshold Parameter[\" + data[3] + \"]\\n\" + \n    \"Equipment ID[\" + data[4] + \"]\\n\\n\" +\n    \"PLC_Model[\" + topic[0] + \"]\\n\" + \n    \"Command Header[\" + topic[1] + \"]\\n\" +\n    \"Command Subject[\" + topic[2] + \"]\\n\" +\n    \"Device Serial No.[\" + topic[3] + \"]\\n\\n\" , // Body\n    topic : \"Alarm Notification | 4n20mA Sensor - AI[\" + data[0] + \"] | Status[\" + data[1] +\"] | \" + \"Timestamp[\" + Date().toString() + \"]\", //Subject\n    to : \"monicon.sess@gmail.com\",\n    bcc : \"monicon.sys@gmail.com\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":400,"wires":[["cd3779f8.a6a0c8"]]},{"id":"b576297.ca3a5d8","type":"debug","z":"c1cfccba.acae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":460,"wires":[]},{"id":"b4f5f9d4.64bab8","type":"debug","z":"c1cfccba.acae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":500,"wires":[]},{"id":"f0f9c49e.c50678","type":"debug","z":"c1cfccba.acae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":540,"wires":[]},{"id":"998b23bb.74ee7","type":"debug","z":"c1cfccba.acae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":580,"wires":[]},{"id":"ac2ca58b.10bfb8","type":"debug","z":"c1cfccba.acae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":620,"wires":[]},{"id":"5a8370de.ef54b","type":"debug","z":"c1cfccba.acae3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":660,"wires":[]},{"id":"524edf4a.7093d","type":"comment","z":"d371a3fc.ccd77","name":"-----------------------------------------------------------------------------------------  CONTROL PANEL  ----------------------------------------------------------------------------------------- ","info":"","x":530,"y":40,"wires":[]},{"id":"12a7d435.c257cc","type":"ui_dropdown","z":"947dd654.86f7d8","name":"Control Panel","label":"Local Devices","tooltip":"","place":"Select option","group":"ea8e7f4c.f8bcc","order":1,"width":"0","height":"0","passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":500,"y":400,"wires":[["fec6166.582a0e8","24f060ac.f1582","ef36db6b.8ab6c8"]]},{"id":"95f86c15.e133e","type":"link in","z":"947dd654.86f7d8","name":"","links":["15360950.616d87"],"x":55,"y":400,"wires":[["812a5fff.f02fb"]]},{"id":"812a5fff.f02fb","type":"function","z":"947dd654.86f7d8","name":"Filter Serial Numbers","func":"let deviceSearchActive = global.get(\"deviceSearchActive\") || false\n\n// If search for device is deactiveated, exit function\nif (deviceSearchActive === false) {\n    return\n}\n\n// Split incoming data\nvar data = msg.payload.split(',')\nvar topic = msg.topic.split('/')\n\n// Run conditioning function\nSerialNumbers(topic[3], data[9])\n\n// Clear payload - output for list is delivered on <msg.options>\nmsg.payload = null\n\nreturn msg;\n\n/*\nmsg.payload = \n1.37,\n4.00,\n0.10,\n4.00,\n0.08,\n3.00,\n3.00,\n3.00,\nMoniconPLC_V0.2.3,\nSteriliser ID003\n\nmsg.topic = \nMONICON-PLC/\nDevice/\nAI_4n20/\n2362665425\n*/\n\nfunction SerialNumbers(serial_ID, Name) {\n\nvar SerialNumbers = global.get(\"SerialNo\") || {}\n\nvar noItem = false\n\n/////////////// Action Manifold ///////////////\nfor (let [key, value] of Object.entries(SerialNumbers)) {\n    let serial = key;\n    \n    if (serial == serial_ID && Name != value) {\n        // Name Changed - Now Update Name\n        SerialNumbers[serial_ID] = Name\n        global.set(\"SerialNo\",SerialNumbers)\n        \n    }\n    // Check for new Devices\n    if (serial == serial_ID) {\n        noItem = true\n    }\n}\n\n// If a new device is detected, add to list\nif (!noItem)\n{\n    SerialNumbers[serial_ID] = Name\n    global.set(\"SerialNo\",SerialNumbers)\n}\n\n// First index to create object Array\nvar index = 0;\n\n// Prepare list format\nfor (let [key, value] of Object.entries(SerialNumbers)) {\n    let label = value + \" : \" + key\n    if (index === 0) {\n        msg.options = [{ [label] : key }];\n    } else {\n        msg.options.push({ [label] : key });\n    }\n    index++;\n    \n}\n\n//msg.payload = SerialNumbers\n\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":400,"wires":[["12a7d435.c257cc","7fa2892b.9ef2e8","e98343fc.07d21","61c14f25.03191","d7058eca.dee9"]]},{"id":"c11461ab.cb9bb","type":"ui_switch","z":"947dd654.86f7d8","name":"Control Panel","label":"Refresh List (60 Sec timeout)","tooltip":"","group":"ea8e7f4c.f8bcc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":120,"wires":[["ba61faf0.d44a88","d58c0089.ac5a6"]]},{"id":"92ea79a6.15e538","type":"inject","z":"947dd654.86f7d8","name":"60 Sec Frame","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":140,"y":120,"wires":[["c11461ab.cb9bb","bd8444a1.daef38","7923442f.5c921c","661daf3.d73bc5","6ea2b2ef.f00e1c"]]},{"id":"78c73456.f943cc","type":"comment","z":"947dd654.86f7d8","name":"Refresh list deactivation flow (60 Secs)","info":"","x":190,"y":80,"wires":[]},{"id":"92ea82f1.fc899","type":"comment","z":"947dd654.86f7d8","name":"Incoming devices - Filter Name & Serial No.","info":"","x":210,"y":360,"wires":[]},{"id":"7fa2892b.9ef2e8","type":"ui_dropdown","z":"947dd654.86f7d8","name":"IO Measurements","label":"Local Devices","tooltip":"","place":"Select option","group":"682affd.438e7","order":1,"width":"0","height":"0","passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":490,"y":440,"wires":[["fec6166.582a0e8","24f060ac.f1582","7e7a604f.bbe78"]]},{"id":"bd8444a1.daef38","type":"ui_switch","z":"947dd654.86f7d8","name":"IO Measurements","label":"Refresh List (60 Sec timeout)","tooltip":"","group":"682affd.438e7","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":490,"y":160,"wires":[["ba61faf0.d44a88","d58c0089.ac5a6"]]},{"id":"ba61faf0.d44a88","type":"function","z":"947dd654.86f7d8","name":"Set Device Search State","func":"var deviceSearchActive = msg.payload\nglobal.set(\"deviceSearchActive\", deviceSearchActive)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":120,"wires":[[]]},{"id":"739ce02.b1ad42","type":"ui_text","z":"947dd654.86f7d8","group":"ea8e7f4c.f8bcc","order":3,"width":0,"height":0,"name":"","label":"Equipment ID","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":460,"wires":[]},{"id":"fec6166.582a0e8","type":"function","z":"947dd654.86f7d8","name":"Store Serial ID","func":"var serialID = msg.payload\nglobal.set(\"serialID\", serialID)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":400,"wires":[[]]},{"id":"7d171cec.0858a4","type":"ui_text","z":"947dd654.86f7d8","group":"682affd.438e7","order":3,"width":0,"height":0,"name":"","label":"Equipment ID","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":500,"wires":[]},{"id":"24f060ac.f1582","type":"function","z":"947dd654.86f7d8","name":"Equipment ID Search","func":"var SerialNumbers = global.get(\"SerialNo\") || {}\n\n/////////////// Action Manifold ///////////////\nfor (let [key, value] of Object.entries(SerialNumbers)) {\n    let serial = key;\n    \n    if(serial == msg.payload) {\n        msg.payload = value;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":460,"wires":[["739ce02.b1ad42","7d171cec.0858a4","c275c90f.d31b38","b0f714d1.fc41c8","a6ed6f4a.076f7"]]},{"id":"7e7a604f.bbe78","type":"ui_text","z":"947dd654.86f7d8","group":"682affd.438e7","order":3,"width":0,"height":0,"name":"","label":"Serial No.","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":560,"wires":[]},{"id":"ef36db6b.8ab6c8","type":"ui_text","z":"947dd654.86f7d8","group":"ea8e7f4c.f8bcc","order":3,"width":0,"height":0,"name":"","label":"Serial No.","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":520,"wires":[]},{"id":"d58c0089.ac5a6","type":"function","z":"947dd654.86f7d8","name":"Delete List - ready for next request","func":"if(msg.payload === false) {\n    return\n}\nvar SerialNo = {}\nglobal.set(\"SerialNo\", SerialNo)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":160,"wires":[[]]},{"id":"d902e1c7.974bb","type":"ui_button","z":"1580baa6.0458b5","name":"Request Digital Input Status","group":"22362b2b.e9a1e4","order":8,"width":0,"height":0,"passthru":false,"label":"Request Digital Input Status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":120,"wires":[["c78164ae.a3d9e8"]]},{"id":"49b6608b.2759","type":"comment","z":"1580baa6.0458b5","name":"-------------- DIGITAL INPUTS - Status --------------","info":"","x":220,"y":80,"wires":[]},{"id":"c78164ae.a3d9e8","type":"function","z":"1580baa6.0458b5","name":"Formulate(Request Digital Input Status)","func":"let serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/DigitalInputs/\" + serialID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":120,"wires":[["87e50614.1ca528"]]},{"id":"87e50614.1ca528","type":"mqtt out","z":"1580baa6.0458b5","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":930,"y":120,"wires":[]},{"id":"efe3215f.1ee4c","type":"ui_text","z":"1580baa6.0458b5","group":"22362b2b.e9a1e4","order":1,"width":0,"height":0,"name":"","label":"DI-00","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":180,"wires":[]},{"id":"3acf8ca6.587014","type":"ui_text","z":"1580baa6.0458b5","group":"22362b2b.e9a1e4","order":2,"width":0,"height":0,"name":"","label":"DI-01","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":240,"wires":[]},{"id":"f78ed245.4c9b7","type":"ui_text","z":"1580baa6.0458b5","group":"22362b2b.e9a1e4","order":3,"width":0,"height":0,"name":"","label":"DI-02","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":300,"wires":[]},{"id":"19b237aa.cc6d68","type":"ui_text","z":"1580baa6.0458b5","group":"22362b2b.e9a1e4","order":4,"width":0,"height":0,"name":"","label":"DI-03","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":360,"wires":[]},{"id":"7baf3d4.05074c4","type":"ui_text","z":"1580baa6.0458b5","group":"22362b2b.e9a1e4","order":5,"width":0,"height":0,"name":"","label":"DI-04","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":420,"wires":[]},{"id":"951e42f.a90cbc","type":"ui_text","z":"1580baa6.0458b5","group":"22362b2b.e9a1e4","order":6,"width":0,"height":0,"name":"","label":"DI-05","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":480,"wires":[]},{"id":"7e4900e1.c5d7d","type":"ui_text","z":"1580baa6.0458b5","group":"22362b2b.e9a1e4","order":7,"width":0,"height":0,"name":"","label":"DI-06","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":540,"wires":[]},{"id":"cb01d778.670e68","type":"mqtt in","z":"1580baa6.0458b5","name":"","topic":"MONICON-PLC/STAT/DI_00/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":160,"y":180,"wires":[["efe3215f.1ee4c"]]},{"id":"9ca42c54.3c9e8","type":"mqtt in","z":"1580baa6.0458b5","name":"","topic":"MONICON-PLC/STAT/DI_01/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":160,"y":240,"wires":[["3acf8ca6.587014"]]},{"id":"84c38ba7.47f368","type":"mqtt in","z":"1580baa6.0458b5","name":"","topic":"MONICON-PLC/STAT/DI_02/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":160,"y":300,"wires":[["f78ed245.4c9b7"]]},{"id":"bd88194c.21dd38","type":"mqtt in","z":"1580baa6.0458b5","name":"","topic":"MONICON-PLC/STAT/DI_03/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":160,"y":360,"wires":[["19b237aa.cc6d68"]]},{"id":"82957d78.3b50a","type":"mqtt in","z":"1580baa6.0458b5","name":"","topic":"MONICON-PLC/STAT/DI_04/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":160,"y":420,"wires":[["7baf3d4.05074c4"]]},{"id":"b00b711e.7c09a","type":"mqtt in","z":"1580baa6.0458b5","name":"","topic":"MONICON-PLC/STAT/DI_05/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":160,"y":480,"wires":[["951e42f.a90cbc"]]},{"id":"3b2bc014.307e7","type":"mqtt in","z":"1580baa6.0458b5","name":"","topic":"MONICON-PLC/STAT/DI_06/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":160,"y":540,"wires":[["7e4900e1.c5d7d"]]},{"id":"77df37fa.87a798","type":"comment","z":"1580baa6.0458b5","name":"-----------------------------------------------------------------------------------------  IO Measurements  ----------------------------------------------------------------------------------------- ","info":"","x":540,"y":40,"wires":[]},{"id":"6d770243.9a308c","type":"comment","z":"1580baa6.0458b5","name":"-------------- Analog INPUTS 4n20mA - Status --------------","info":"","x":240,"y":600,"wires":[]},{"id":"a175f578.1a2508","type":"ui_text","z":"1580baa6.0458b5","group":"8f5898a7.07fa48","order":2,"width":0,"height":0,"name":"","label":"AI-00","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":880,"wires":[]},{"id":"86937695.9d3b98","type":"link in","z":"1580baa6.0458b5","name":"","links":["15360950.616d87"],"x":95,"y":700,"wires":[["5d58d8f6.1f38a8"]]},{"id":"5d58d8f6.1f38a8","type":"function","z":"1580baa6.0458b5","name":"4n20mA Signal Splitter <serialID>","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1 = { payload : data[0] };\nvar msg2 = { payload : data[1] };\nvar msg3 = { payload : data[2] };\nvar msg4 = { payload : data[3] };\nvar msg5 = { payload : data[4] };\nvar msg6 = { payload : data[5] };\nvar msg7 = { payload : data[6] };\nvar msg8 = { payload : data[7] };\n\nreturn [[msg1], [msg2], [msg3], [msg4], [msg5], [msg6], [msg7], [msg8]] ;","outputs":8,"noerr":0,"initialize":"","finalize":"","x":500,"y":700,"wires":[[],["ec376224.27f1f"],["75724f82.7bcb2"],["8b4f460e.7b7278"],["3ec5cdd5.a3edc2"],["b289ad14.25ecb"],["663d537c.86e47c"],["a175f578.1a2508"]]},{"id":"663d537c.86e47c","type":"ui_text","z":"1580baa6.0458b5","group":"8f5898a7.07fa48","order":3,"width":0,"height":0,"name":"","label":"AI-01","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":840,"wires":[]},{"id":"b289ad14.25ecb","type":"ui_text","z":"1580baa6.0458b5","group":"8f5898a7.07fa48","order":4,"width":0,"height":0,"name":"","label":"AI-02","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":800,"wires":[]},{"id":"3ec5cdd5.a3edc2","type":"ui_text","z":"1580baa6.0458b5","group":"8f5898a7.07fa48","order":5,"width":0,"height":0,"name":"","label":"AI-03","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":760,"wires":[]},{"id":"8b4f460e.7b7278","type":"ui_text","z":"1580baa6.0458b5","group":"8f5898a7.07fa48","order":6,"width":0,"height":0,"name":"","label":"AI-04","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":720,"wires":[]},{"id":"75724f82.7bcb2","type":"ui_text","z":"1580baa6.0458b5","group":"8f5898a7.07fa48","order":7,"width":0,"height":0,"name":"","label":"AI-05","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":680,"wires":[]},{"id":"ec376224.27f1f","type":"ui_text","z":"1580baa6.0458b5","group":"8f5898a7.07fa48","order":8,"width":0,"height":0,"name":"","label":"AI-06","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":640,"wires":[]},{"id":"a477487a.bfdb38","type":"comment","z":"1580baa6.0458b5","name":"-------------- Analog INPUTS 4n20mA - Status --------------","info":"","x":240,"y":1000,"wires":[]},{"id":"fe1f4f6c.c0632","type":"ui_text","z":"1580baa6.0458b5","group":"bf96246c.d919c8","order":2,"width":0,"height":0,"name":"","label":"AI-00","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1280,"wires":[]},{"id":"35f26cdf.fe9b14","type":"link in","z":"1580baa6.0458b5","name":"","links":["c3656753.8cd718"],"x":95,"y":1100,"wires":[["d4569e3f.a35a4"]]},{"id":"d4569e3f.a35a4","type":"function","z":"1580baa6.0458b5","name":"PT100 Signal Splitter <serialID>","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1 = { payload : data[0] };\nvar msg2 = { payload : data[1] };\nvar msg3 = { payload : data[2] };\nvar msg4 = { payload : data[3] };\nvar msg5 = { payload : data[4] };\nvar msg6 = { payload : data[5] };\nvar msg7 = { payload : data[6] };\nvar msg8 = { payload : data[7] };\n\nreturn [[msg1], [msg2], [msg3], [msg4], [msg5], [msg6], [msg7], [msg8]] ;","outputs":8,"noerr":0,"initialize":"","finalize":"","x":590,"y":1100,"wires":[[],[],["b5ef88bc.ba2a88"],["85f0045b.cf2a28"],["6e27f424.4f301c"],["c67d2957.992108"],["b9844eb0.88151"],["fe1f4f6c.c0632"]]},{"id":"b9844eb0.88151","type":"ui_text","z":"1580baa6.0458b5","group":"bf96246c.d919c8","order":3,"width":0,"height":0,"name":"","label":"AI-01","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1240,"wires":[]},{"id":"c67d2957.992108","type":"ui_text","z":"1580baa6.0458b5","group":"bf96246c.d919c8","order":4,"width":0,"height":0,"name":"","label":"AI-02","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1200,"wires":[]},{"id":"6e27f424.4f301c","type":"ui_text","z":"1580baa6.0458b5","group":"bf96246c.d919c8","order":5,"width":0,"height":0,"name":"","label":"AI-03","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1160,"wires":[]},{"id":"85f0045b.cf2a28","type":"ui_text","z":"1580baa6.0458b5","group":"bf96246c.d919c8","order":6,"width":0,"height":0,"name":"","label":"AI-04","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1120,"wires":[]},{"id":"b5ef88bc.ba2a88","type":"ui_text","z":"1580baa6.0458b5","group":"bf96246c.d919c8","order":7,"width":0,"height":0,"name":"","label":"AI-05","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1080,"wires":[]},{"id":"602cd4a1.0653ec","type":"comment","z":"1580baa6.0458b5","name":"-------------- Digital OUTPUTS - Status --------------","info":"","x":220,"y":1340,"wires":[]},{"id":"e837d87c.01a558","type":"ui_text","z":"1580baa6.0458b5","group":"2753fe30.136152","order":1,"width":0,"height":0,"name":"","label":"DO-00","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1360,"wires":[]},{"id":"80a3a611.f13a48","type":"mqtt in","z":"1580baa6.0458b5","name":"","topic":"MONICON-PLC/STAT/DigitalOutputs/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":190,"y":1400,"wires":[["2ae8be85.cf0042"]]},{"id":"2ae8be85.cf0042","type":"function","z":"1580baa6.0458b5","name":"Digital OUTPUT Splitter <serialID>","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1 = { payload : data[0] };   //Digital Output 0\nvar msg2 = { payload : data[1] };   //Digital Output 1\nvar msg3 = { payload : data[2] };   //Digital Output 2\n\nvar msg4 = { payload : data[3] };   //Equipment ID\n\nreturn [[msg1], [msg2], [msg3], [msg4]] ;","outputs":4,"noerr":0,"initialize":"","finalize":"","x":620,"y":1400,"wires":[["e837d87c.01a558","418a9f73.5fba8"],["f14beeb6.0ffa2","45406e76.25817"],["fdb2e04c.26084","17772028.642f8"],[]]},{"id":"f14beeb6.0ffa2","type":"ui_text","z":"1580baa6.0458b5","group":"2753fe30.136152","order":3,"width":0,"height":0,"name":"","label":"DO-01","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1460,"wires":[]},{"id":"fdb2e04c.26084","type":"ui_text","z":"1580baa6.0458b5","group":"2753fe30.136152","order":5,"width":0,"height":0,"name":"","label":"DO-02","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1560,"wires":[]},{"id":"225c445e.283d7c","type":"ui_button","z":"1580baa6.0458b5","name":"","group":"2753fe30.136152","order":7,"width":0,"height":0,"passthru":false,"label":"Request Digital Output Status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":1680,"wires":[["5c4e9b5.4e7fc64"]]},{"id":"5c4e9b5.4e7fc64","type":"function","z":"1580baa6.0458b5","name":"Formulate(Request Digital Output Status)","func":"let serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/DigitalOutputs/\" + serialID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1680,"wires":[["77fc84a1.50787c"]]},{"id":"77fc84a1.50787c","type":"mqtt out","z":"1580baa6.0458b5","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":930,"y":1680,"wires":[]},{"id":"f4a8990d.2cf198","type":"link out","z":"365b303e.30dd2","name":"L-PT100-ALM_FLAGS","links":["3184a127.75ebfe","f255b689.713f98","c0da46f2.faf568"],"x":955,"y":180,"wires":[]},{"id":"aa15b3c3.d4f0e","type":"link out","z":"365b303e.30dd2","name":"L-4n20-ALM_FLAGS","links":["2fc46491.913bfc"],"x":955,"y":880,"wires":[]},{"id":"dc81aa4d.633c58","type":"ui_dropdown","z":"d371a3fc.ccd77","name":"","label":"PT100 - Threshold","tooltip":"","place":"Select option","group":"d342ae97.3b2ec","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"AI-00","value":"5","type":"str"},{"label":"AI-01","value":"4","type":"str"},{"label":"AI-02","value":"3","type":"str"},{"label":"AI-03","value":"2","type":"str"},{"label":"AI-04","value":"1","type":"str"},{"label":"AI-05","value":"0","type":"str"}],"payload":"","topic":"","x":110,"y":760,"wires":[["75dc5c4.a6b43a4"]]},{"id":"e395372a.1e9678","type":"comment","z":"d371a3fc.ccd77","name":"User Input - Update ANALOG PT100 Threshold","info":"","x":200,"y":720,"wires":[]},{"id":"fb759b88.c6bd18","type":"ui_text_input","z":"d371a3fc.ccd77","name":"","label":"LOW Limit","tooltip":"","group":"d342ae97.3b2ec","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"500","topic":"","x":830,"y":800,"wires":[["1dff240b.210a9c"]]},{"id":"1dff240b.210a9c","type":"function","z":"d371a3fc.ccd77","name":"LOW Limit","func":"var LOW_PT100 = msg.payload\nflow.set(\"LOW_PT100\", LOW_PT100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":800,"wires":[[]]},{"id":"75dc5c4.a6b43a4","type":"function","z":"d371a3fc.ccd77","name":"Analog ID","func":"var THRES_PT100_ID = msg.payload\nflow.set(\"THRES_PT100_ID\", THRES_PT100_ID)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":760,"wires":[[]]},{"id":"de98bf88.960d6","type":"ui_button","z":"d371a3fc.ccd77","name":"","group":"d342ae97.3b2ec","order":5,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"Enter new analog threshold","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":300,"y":880,"wires":[["6358fc08.a54084"]]},{"id":"b9c43cc0.48907","type":"mqtt out","z":"d371a3fc.ccd77","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":970,"y":880,"wires":[]},{"id":"6358fc08.a54084","type":"function","z":"d371a3fc.ccd77","name":"Formulate Analog Threshold Limit","func":"let serialID = global.get(\"serialID\")\nlet THRES_PT100_ID = flow.get(\"THRES_PT100_ID\")\nlet LOW_PT100 = flow.get(\"LOW_PT100\")\nlet HIGH_PT100 = flow.get(\"HIGH_PT100\")\nmsg.topic = \"MONICON-PLC/CMD/Threshold_PT100/\" + serialID\nmsg.payload = THRES_PT100_ID + \",\" + LOW_PT100 + \",\" + HIGH_PT100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":880,"wires":[["b9c43cc0.48907"]]},{"id":"4b4ff324.5b6d7c","type":"ui_text_input","z":"d371a3fc.ccd77","name":"","label":"HIGH Limit","tooltip":"","group":"d342ae97.3b2ec","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"500","topic":"","x":830,"y":840,"wires":[["e3e0bb98.0b6088"]]},{"id":"e3e0bb98.0b6088","type":"function","z":"d371a3fc.ccd77","name":"HIGH Limit","func":"var HIGH_PT100 = msg.payload\nflow.set(\"HIGH_PT100\", HIGH_PT100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":840,"wires":[[]]},{"id":"17a0037f.069f3d","type":"ui_dropdown","z":"d371a3fc.ccd77","name":"","label":"4n20mA - Threshold","tooltip":"","place":"Select option","group":"d342ae97.3b2ec","order":6,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"AI-00","value":"7","type":"str"},{"label":"AI-01","value":"6","type":"str"},{"label":"AI-02","value":"5","type":"str"},{"label":"AI-03","value":"4","type":"str"},{"label":"AI-04","value":"3","type":"str"},{"label":"AI-05","value":"2","type":"str"},{"label":"AI-06","value":"1","type":"str"}],"payload":"","topic":"","x":120,"y":1020,"wires":[["a19fa858.526088"]]},{"id":"aa814ebd.d8979","type":"comment","z":"d371a3fc.ccd77","name":"User Input - Update ANALOG 4n20mA Threshold","info":"","x":200,"y":980,"wires":[]},{"id":"36d73718.b57198","type":"ui_text_input","z":"d371a3fc.ccd77","name":"","label":"LOW Limit","tooltip":"","group":"d342ae97.3b2ec","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"500","topic":"","x":830,"y":1060,"wires":[["bcb2da42.0d28b8"]]},{"id":"bcb2da42.0d28b8","type":"function","z":"d371a3fc.ccd77","name":"LOW Limit","func":"var LOW_4n20 = msg.payload\nflow.set(\"LOW_4n20\", LOW_4n20)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1060,"wires":[[]]},{"id":"a19fa858.526088","type":"function","z":"d371a3fc.ccd77","name":"Analog ID","func":"var THRES_4n20_ID = msg.payload\nflow.set(\"THRES_4n20_ID\", THRES_4n20_ID)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1020,"wires":[[]]},{"id":"383c4e4a.ea2972","type":"ui_button","z":"d371a3fc.ccd77","name":"","group":"d342ae97.3b2ec","order":10,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"Enter new analog threshold","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":300,"y":1160,"wires":[["e28a13f0.a6d93"]]},{"id":"22f2e177.7fa47e","type":"mqtt out","z":"d371a3fc.ccd77","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":970,"y":1160,"wires":[]},{"id":"e28a13f0.a6d93","type":"function","z":"d371a3fc.ccd77","name":"Formulate Analog Threshold Limit","func":"let serialID = global.get(\"serialID\")\nlet THRES_4n20_ID = flow.get(\"THRES_4n20_ID\")\nlet LOW_4n20 = flow.get(\"LOW_4n20\")\nlet HIGH_4n20 = flow.get(\"HIGH_4n20\")\nmsg.topic = \"MONICON-PLC/CMD/Threshold_4n20/\" + serialID\nmsg.payload = THRES_4n20_ID + \",\" + LOW_4n20 + \",\" + HIGH_4n20\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1160,"wires":[["22f2e177.7fa47e"]]},{"id":"edb34a5b.a9fe68","type":"ui_text_input","z":"d371a3fc.ccd77","name":"","label":"HIGH Limit","tooltip":"","group":"d342ae97.3b2ec","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":"500","topic":"","x":830,"y":1100,"wires":[["8a179d0a.d36e6"]]},{"id":"8a179d0a.d36e6","type":"function","z":"d371a3fc.ccd77","name":"HIGH Limit","func":"var HIGH_4n20 = msg.payload\nflow.set(\"HIGH_4n20\", HIGH_4n20)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1100,"wires":[[]]},{"id":"2fc46491.913bfc","type":"link in","z":"e9f72c5e.22b5c","name":"","links":["aa15b3c3.d4f0e"],"x":175,"y":240,"wires":[["5c96ba1.14e7144"]]},{"id":"dc39faf3.f86918","type":"comment","z":"e9f72c5e.22b5c","name":"4n20mA Alarm Flags ----------------------------------","info":"","x":200,"y":80,"wires":[]},{"id":"9fda3f4.f68b0c","type":"ui_text","z":"e9f72c5e.22b5c","group":"bbe1e6e.c044218","order":2,"width":0,"height":0,"name":"","label":"AI-00 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":360,"wires":[]},{"id":"5c96ba1.14e7144","type":"function","z":"e9f72c5e.22b5c","name":"4n20mA Alarm Splitter <serialID>","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1LOW = { payload : data[0] };\nvar msg2LOW = { payload : data[1] };\nvar msg3LOW = { payload : data[2] };\nvar msg4LOW = { payload : data[3] };\nvar msg5LOW = { payload : data[4] };\nvar msg6LOW = { payload : data[5] };\nvar msg7LOW = { payload : data[6] };\nvar msg8LOW = { payload : data[7] };\n\nvar msg1HIGH = { payload : data[8] };\nvar msg2HIGH = { payload : data[9] };\nvar msg3HIGH = { payload : data[10] };\nvar msg4HIGH = { payload : data[11] };\nvar msg5HIGH = { payload : data[12] };\nvar msg6HIGH = { payload : data[13] };\nvar msg7HIGH = { payload : data[14] };\nvar msg8HIGH = { payload : data[15] };\n\nreturn [\n[msg1LOW], [msg2LOW], [msg3LOW], [msg4LOW], \n[msg5LOW], [msg6LOW], [msg7LOW], [msg8LOW],\n[msg1HIGH], [msg2HIGH], [msg3HIGH], [msg4HIGH], \n[msg5HIGH], [msg6HIGH], [msg7HIGH], [msg8HIGH]\n] ;\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":16,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[[],["43008b2.63d0674"],["642ad7ce.c8c0c8"],["38aef11a.41e90e"],["bb921296.a0ae3"],["f81f5ac.a9cf8a8"],["ff3dbf46.fd773"],["25608f3d.475ec"],[],["4f798b9.cb87074"],["108c7bd8.71d794"],["4813f078.aedd9"],["b35ec41e.722868"],["c0b67573.4966e8"],["7cfa2ce2.20cb24"],["9fda3f4.f68b0c"]]},{"id":"7cfa2ce2.20cb24","type":"ui_text","z":"e9f72c5e.22b5c","group":"bbe1e6e.c044218","order":3,"width":0,"height":0,"name":"","label":"AI-01 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":320,"wires":[]},{"id":"c0b67573.4966e8","type":"ui_text","z":"e9f72c5e.22b5c","group":"bbe1e6e.c044218","order":4,"width":0,"height":0,"name":"","label":"AI-02 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":280,"wires":[]},{"id":"b35ec41e.722868","type":"ui_text","z":"e9f72c5e.22b5c","group":"bbe1e6e.c044218","order":5,"width":0,"height":0,"name":"","label":"AI-03 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":240,"wires":[]},{"id":"4813f078.aedd9","type":"ui_text","z":"e9f72c5e.22b5c","group":"bbe1e6e.c044218","order":6,"width":0,"height":0,"name":"","label":"AI-04 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":200,"wires":[]},{"id":"108c7bd8.71d794","type":"ui_text","z":"e9f72c5e.22b5c","group":"bbe1e6e.c044218","order":7,"width":0,"height":0,"name":"","label":"AI-05 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":160,"wires":[]},{"id":"4f798b9.cb87074","type":"ui_text","z":"e9f72c5e.22b5c","group":"bbe1e6e.c044218","order":8,"width":0,"height":0,"name":"","label":"AI-06 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":120,"wires":[]},{"id":"e98343fc.07d21","type":"ui_dropdown","z":"947dd654.86f7d8","name":"Alarms","label":"Local Devices","tooltip":"","place":"Select option","group":"25e1adcb.525a02","order":1,"width":"0","height":"0","passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":520,"y":480,"wires":[["fec6166.582a0e8","24f060ac.f1582","ac3c6082.e55e2"]]},{"id":"ac3c6082.e55e2","type":"ui_text","z":"947dd654.86f7d8","group":"25e1adcb.525a02","order":3,"width":0,"height":0,"name":"","label":"Serial No.","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":600,"wires":[]},{"id":"c275c90f.d31b38","type":"ui_text","z":"947dd654.86f7d8","group":"25e1adcb.525a02","order":3,"width":0,"height":0,"name":"","label":"Equipment ID","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":540,"wires":[]},{"id":"7923442f.5c921c","type":"ui_switch","z":"947dd654.86f7d8","name":"Alarms","label":"Refresh List (60 Sec timeout)","tooltip":"","group":"25e1adcb.525a02","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":200,"wires":[["ba61faf0.d44a88","d58c0089.ac5a6"]]},{"id":"25608f3d.475ec","type":"ui_text","z":"e9f72c5e.22b5c","group":"18b9ac28.263ce4","order":2,"width":0,"height":0,"name":"","label":"AI-00 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":360,"wires":[]},{"id":"ff3dbf46.fd773","type":"ui_text","z":"e9f72c5e.22b5c","group":"18b9ac28.263ce4","order":3,"width":0,"height":0,"name":"","label":"AI-01 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":320,"wires":[]},{"id":"f81f5ac.a9cf8a8","type":"ui_text","z":"e9f72c5e.22b5c","group":"18b9ac28.263ce4","order":4,"width":0,"height":0,"name":"","label":"AI-02 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":280,"wires":[]},{"id":"bb921296.a0ae3","type":"ui_text","z":"e9f72c5e.22b5c","group":"18b9ac28.263ce4","order":5,"width":0,"height":0,"name":"","label":"AI-03 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":240,"wires":[]},{"id":"38aef11a.41e90e","type":"ui_text","z":"e9f72c5e.22b5c","group":"18b9ac28.263ce4","order":6,"width":0,"height":0,"name":"","label":"AI-04 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":200,"wires":[]},{"id":"642ad7ce.c8c0c8","type":"ui_text","z":"e9f72c5e.22b5c","group":"18b9ac28.263ce4","order":7,"width":0,"height":0,"name":"","label":"AI-05 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":160,"wires":[]},{"id":"43008b2.63d0674","type":"ui_text","z":"e9f72c5e.22b5c","group":"18b9ac28.263ce4","order":7,"width":0,"height":0,"name":"","label":"AI-06 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":120,"wires":[]},{"id":"c359c746.c2f698","type":"ui_text","z":"e9f72c5e.22b5c","group":"a0ab591e.494fc8","order":2,"width":0,"height":0,"name":"","label":"AI-00 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":680,"wires":[]},{"id":"f3712068.3da71","type":"function","z":"e9f72c5e.22b5c","name":"PT100 Alarm Splitter <serialID>","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1LOW = { payload : data[0] };\nvar msg2LOW = { payload : data[1] };\nvar msg3LOW = { payload : data[2] };\nvar msg4LOW = { payload : data[3] };\nvar msg5LOW = { payload : data[4] };\nvar msg6LOW = { payload : data[5] };\nvar msg7LOW = { payload : data[6] };\nvar msg8LOW = { payload : data[7] };\n\nvar msg1HIGH = { payload : data[8] };\nvar msg2HIGH = { payload : data[9] };\nvar msg3HIGH = { payload : data[10] };\nvar msg4HIGH = { payload : data[11] };\nvar msg5HIGH = { payload : data[12] };\nvar msg6HIGH = { payload : data[13] };\nvar msg7HIGH = { payload : data[14] };\nvar msg8HIGH = { payload : data[15] };\n\nreturn [\n[msg1LOW], [msg2LOW], [msg3LOW], [msg4LOW], \n[msg5LOW], [msg6LOW], [msg7LOW], [msg8LOW],\n[msg1HIGH], [msg2HIGH], [msg3HIGH], [msg4HIGH], \n[msg5HIGH], [msg6HIGH], [msg7HIGH], [msg8HIGH]\n] ;\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":16,"noerr":0,"initialize":"","finalize":"","x":470,"y":580,"wires":[[],[],["b7d260fc.e50b"],["1364783.8c0a988"],["c8aa2d00.3affd"],["8daaafa.583d85"],["407176ae.c02758"],["341b6a6e.4c9296"],[],[],["236a5b1d.9823b4"],["21b16718.155048"],["8c86ad94.c4575"],["26ac1f6c.9863e"],["6002fea0.f4004"],["c359c746.c2f698"]]},{"id":"6002fea0.f4004","type":"ui_text","z":"e9f72c5e.22b5c","group":"a0ab591e.494fc8","order":3,"width":0,"height":0,"name":"","label":"AI-01 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":640,"wires":[]},{"id":"26ac1f6c.9863e","type":"ui_text","z":"e9f72c5e.22b5c","group":"a0ab591e.494fc8","order":4,"width":0,"height":0,"name":"","label":"AI-02 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":600,"wires":[]},{"id":"8c86ad94.c4575","type":"ui_text","z":"e9f72c5e.22b5c","group":"a0ab591e.494fc8","order":5,"width":0,"height":0,"name":"","label":"AI-03 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":560,"wires":[]},{"id":"21b16718.155048","type":"ui_text","z":"e9f72c5e.22b5c","group":"a0ab591e.494fc8","order":6,"width":0,"height":0,"name":"","label":"AI-04 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":520,"wires":[]},{"id":"236a5b1d.9823b4","type":"ui_text","z":"e9f72c5e.22b5c","group":"a0ab591e.494fc8","order":7,"width":0,"height":0,"name":"","label":"AI-05 LOW ALARM","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":480,"wires":[]},{"id":"341b6a6e.4c9296","type":"ui_text","z":"e9f72c5e.22b5c","group":"5a0ef1e2.ddb77","order":2,"width":0,"height":0,"name":"","label":"AI-00 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":680,"wires":[]},{"id":"407176ae.c02758","type":"ui_text","z":"e9f72c5e.22b5c","group":"5a0ef1e2.ddb77","order":3,"width":0,"height":0,"name":"","label":"AI-01 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":640,"wires":[]},{"id":"8daaafa.583d85","type":"ui_text","z":"e9f72c5e.22b5c","group":"5a0ef1e2.ddb77","order":4,"width":0,"height":0,"name":"","label":"AI-02 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":600,"wires":[]},{"id":"c8aa2d00.3affd","type":"ui_text","z":"e9f72c5e.22b5c","group":"5a0ef1e2.ddb77","order":5,"width":0,"height":0,"name":"","label":"AI-03 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":560,"wires":[]},{"id":"1364783.8c0a988","type":"ui_text","z":"e9f72c5e.22b5c","group":"5a0ef1e2.ddb77","order":6,"width":0,"height":0,"name":"","label":"AI-04 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":520,"wires":[]},{"id":"b7d260fc.e50b","type":"ui_text","z":"e9f72c5e.22b5c","group":"5a0ef1e2.ddb77","order":7,"width":0,"height":0,"name":"","label":"AI-05 HIGH ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":480,"wires":[]},{"id":"f255b689.713f98","type":"link in","z":"e9f72c5e.22b5c","name":"","links":["f4a8990d.2cf198"],"x":175,"y":580,"wires":[["f3712068.3da71"]]},{"id":"3625c4e8.0e3b0c","type":"comment","z":"e9f72c5e.22b5c","name":"PT100 Alarm Flags ----------------------------------","info":"","x":190,"y":420,"wires":[]},{"id":"b1b444eb.d6f518","type":"comment","z":"e9f72c5e.22b5c","name":"-----------------------------------------------------------------------------------------  ALARMS  ----------------------------------------------------------------------------------------- ","info":"","x":500,"y":40,"wires":[]},{"id":"5bf1d5b9.643acc","type":"mqtt in","z":"75dfc913.da6408","name":"","topic":"MONICON-PLC/STAT/Thresholds_PT100/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":210,"y":100,"wires":[["77a76bc4.fe8e74"]]},{"id":"1ae5c5e2.255d3a","type":"mqtt out","z":"75dfc913.da6408","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":1030,"y":240,"wires":[]},{"id":"3afd4af8.97f6f6","type":"inject","z":"75dfc913.da6408","name":"MONICON-PLC/CMD/Thresholds/2362665425","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Thresholds/2362665425","payload":"","payloadType":"str","x":230,"y":300,"wires":[["1ae5c5e2.255d3a"]]},{"id":"5b63e8f7.9b8bd8","type":"link in","z":"75dfc913.da6408","name":"","links":["3bab8ed0.c21b92"],"x":135,"y":580,"wires":[["38a1bca5.9da684"]]},{"id":"7429142b.fae4cc","type":"comment","z":"75dfc913.da6408","name":"4n20mA Alarm Flags ----------------------------------","info":"","x":200,"y":420,"wires":[]},{"id":"eb6aa188.552b3","type":"ui_text","z":"75dfc913.da6408","group":"c9c66b1f.63bdc8","order":2,"width":0,"height":0,"name":"","label":"AI-00 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1000,"wires":[]},{"id":"38a1bca5.9da684","type":"function","z":"75dfc913.da6408","name":"4n20mA Parameter Splitter <serialID>","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1LOW = { payload : data[0] };\nvar msg2LOW = { payload : data[1] };\nvar msg3LOW = { payload : data[2] };\nvar msg4LOW = { payload : data[3] };\nvar msg5LOW = { payload : data[4] };\nvar msg6LOW = { payload : data[5] };\nvar msg7LOW = { payload : data[6] };\nvar msg8LOW = { payload : data[7] };\n\nvar msg1HIGH = { payload : data[8] };\nvar msg2HIGH = { payload : data[9] };\nvar msg3HIGH = { payload : data[10] };\nvar msg4HIGH = { payload : data[11] };\nvar msg5HIGH = { payload : data[12] };\nvar msg6HIGH = { payload : data[13] };\nvar msg7HIGH = { payload : data[14] };\nvar msg8HIGH = { payload : data[15] };\n\nreturn [\n[msg1LOW], [msg2LOW], [msg3LOW], [msg4LOW], \n[msg5LOW], [msg6LOW], [msg7LOW], [msg8LOW],\n[msg1HIGH], [msg2HIGH], [msg3HIGH], [msg4HIGH], \n[msg5HIGH], [msg6HIGH], [msg7HIGH], [msg8HIGH]\n] ;\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":16,"noerr":0,"initialize":"","finalize":"","x":470,"y":580,"wires":[[],["97df8993.41a428"],["da2368d3.967098"],["84900ff7.0258d"],["370b74ce.03091c"],["48d830b0.2e8a2"],["194e66f4.22e9d9"],["62de8c7.2354f74"],[],["66fda27c.daabcc"],["3c4b94e.8b54b6c"],["5b19e3e3.8664dc"],["fe1a8481.554aa8"],["54738d0c.d10664"],["eac0e45b.eb3148"],["eb6aa188.552b3"]]},{"id":"eac0e45b.eb3148","type":"ui_text","z":"75dfc913.da6408","group":"c9c66b1f.63bdc8","order":3,"width":0,"height":0,"name":"","label":"AI-01 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":960,"wires":[]},{"id":"54738d0c.d10664","type":"ui_text","z":"75dfc913.da6408","group":"c9c66b1f.63bdc8","order":4,"width":0,"height":0,"name":"","label":"AI-02 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":920,"wires":[]},{"id":"fe1a8481.554aa8","type":"ui_text","z":"75dfc913.da6408","group":"c9c66b1f.63bdc8","order":5,"width":0,"height":0,"name":"","label":"AI-03 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":880,"wires":[]},{"id":"5b19e3e3.8664dc","type":"ui_text","z":"75dfc913.da6408","group":"c9c66b1f.63bdc8","order":6,"width":0,"height":0,"name":"","label":"AI-04 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":840,"wires":[]},{"id":"3c4b94e.8b54b6c","type":"ui_text","z":"75dfc913.da6408","group":"c9c66b1f.63bdc8","order":7,"width":0,"height":0,"name":"","label":"AI-05 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":800,"wires":[]},{"id":"66fda27c.daabcc","type":"ui_text","z":"75dfc913.da6408","group":"c9c66b1f.63bdc8","order":8,"width":0,"height":0,"name":"","label":"AI-06 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":760,"wires":[]},{"id":"62de8c7.2354f74","type":"ui_text","z":"75dfc913.da6408","group":"d41c1003.34b84","order":2,"width":0,"height":0,"name":"","label":"AI-00 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":700,"wires":[]},{"id":"194e66f4.22e9d9","type":"ui_text","z":"75dfc913.da6408","group":"d41c1003.34b84","order":3,"width":0,"height":0,"name":"","label":"AI-01 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":660,"wires":[]},{"id":"48d830b0.2e8a2","type":"ui_text","z":"75dfc913.da6408","group":"d41c1003.34b84","order":4,"width":0,"height":0,"name":"","label":"AI-02 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":620,"wires":[]},{"id":"370b74ce.03091c","type":"ui_text","z":"75dfc913.da6408","group":"d41c1003.34b84","order":5,"width":0,"height":0,"name":"","label":"AI-03 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":580,"wires":[]},{"id":"84900ff7.0258d","type":"ui_text","z":"75dfc913.da6408","group":"d41c1003.34b84","order":6,"width":0,"height":0,"name":"","label":"AI-04 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":540,"wires":[]},{"id":"da2368d3.967098","type":"ui_text","z":"75dfc913.da6408","group":"d41c1003.34b84","order":7,"width":0,"height":0,"name":"","label":"AI-05 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":500,"wires":[]},{"id":"97df8993.41a428","type":"ui_text","z":"75dfc913.da6408","group":"d41c1003.34b84","order":7,"width":0,"height":0,"name":"","label":"AI-06 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":460,"wires":[]},{"id":"b055dbfb.a1e2e8","type":"comment","z":"75dfc913.da6408","name":"-----------------------------------------------------------------------------------------  Threshold Parameters  ----------------------------------------------------------------------------------------- ","info":"","x":560,"y":40,"wires":[]},{"id":"9317c769.a7f608","type":"function","z":"75dfc913.da6408","name":"PT100 Parameter Splitter <serialID>","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1LOW = { payload : data[0] };\nvar msg2LOW = { payload : data[1] };\nvar msg3LOW = { payload : data[2] };\nvar msg4LOW = { payload : data[3] };\nvar msg5LOW = { payload : data[4] };\nvar msg6LOW = { payload : data[5] };\nvar msg7LOW = { payload : data[6] };\nvar msg8LOW = { payload : data[7] };\n\nvar msg1HIGH = { payload : data[8] };\nvar msg2HIGH = { payload : data[9] };\nvar msg3HIGH = { payload : data[10] };\nvar msg4HIGH = { payload : data[11] };\nvar msg5HIGH = { payload : data[12] };\nvar msg6HIGH = { payload : data[13] };\nvar msg7HIGH = { payload : data[14] };\nvar msg8HIGH = { payload : data[15] };\n\nreturn [\n[msg1LOW], [msg2LOW], [msg3LOW], [msg4LOW], \n[msg5LOW], [msg6LOW], [msg7LOW], [msg8LOW],\n[msg1HIGH], [msg2HIGH], [msg3HIGH], [msg4HIGH], \n[msg5HIGH], [msg6HIGH], [msg7HIGH], [msg8HIGH]\n] ;\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":16,"noerr":0,"initialize":"","finalize":"","x":490,"y":1200,"wires":[[],[],["a81b80f3.80453"],["739034b6.ccd6cc"],["3dd6fbcd.7c6da4"],["ee01f340.a0343"],["6a1e7174.2801e"],["d3998caf.38ff8"],[],[],["80ab93b7.3850b"],["51244bfe.430a24"],["ad38b82.a135748"],["a53d80b2.7f691"],["6f386a99.8596a4"],["123c7a37.454776"]]},{"id":"6f386a99.8596a4","type":"ui_text","z":"75dfc913.da6408","group":"64e82ef2.ffce3","order":2,"width":0,"height":0,"name":"","label":"AI-01 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1520,"wires":[]},{"id":"a53d80b2.7f691","type":"ui_text","z":"75dfc913.da6408","group":"64e82ef2.ffce3","order":3,"width":0,"height":0,"name":"","label":"AI-02 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1480,"wires":[]},{"id":"ad38b82.a135748","type":"ui_text","z":"75dfc913.da6408","group":"64e82ef2.ffce3","order":4,"width":0,"height":0,"name":"","label":"AI-03 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1440,"wires":[]},{"id":"51244bfe.430a24","type":"ui_text","z":"75dfc913.da6408","group":"64e82ef2.ffce3","order":5,"width":0,"height":0,"name":"","label":"AI-04 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1400,"wires":[]},{"id":"80ab93b7.3850b","type":"ui_text","z":"75dfc913.da6408","group":"64e82ef2.ffce3","order":6,"width":0,"height":0,"name":"","label":"AI-05 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1360,"wires":[]},{"id":"a81b80f3.80453","type":"ui_text","z":"75dfc913.da6408","group":"d6b5f6cc.ac6ab8","order":2,"width":0,"height":0,"name":"","label":"AI-00 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1100,"wires":[]},{"id":"739034b6.ccd6cc","type":"ui_text","z":"75dfc913.da6408","group":"d6b5f6cc.ac6ab8","order":3,"width":0,"height":0,"name":"","label":"AI-01 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1140,"wires":[]},{"id":"3dd6fbcd.7c6da4","type":"ui_text","z":"75dfc913.da6408","group":"d6b5f6cc.ac6ab8","order":4,"width":0,"height":0,"name":"","label":"AI-02 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1180,"wires":[]},{"id":"ee01f340.a0343","type":"ui_text","z":"75dfc913.da6408","group":"d6b5f6cc.ac6ab8","order":5,"width":0,"height":0,"name":"","label":"AI-03 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1220,"wires":[]},{"id":"6a1e7174.2801e","type":"ui_text","z":"75dfc913.da6408","group":"d6b5f6cc.ac6ab8","order":6,"width":0,"height":0,"name":"","label":"AI-04 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1260,"wires":[]},{"id":"d3998caf.38ff8","type":"ui_text","z":"75dfc913.da6408","group":"d6b5f6cc.ac6ab8","order":7,"width":0,"height":0,"name":"","label":"AI-05 HIGH Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1300,"wires":[]},{"id":"c0da46f2.faf568","type":"link in","z":"75dfc913.da6408","name":"","links":["f4a8990d.2cf198"],"x":135,"y":1200,"wires":[["9317c769.a7f608"]]},{"id":"be6e135a.9d331","type":"comment","z":"75dfc913.da6408","name":"PT100 Alarm Flags ----------------------------------","info":"","x":190,"y":1040,"wires":[]},{"id":"2bf228ab.6092b8","type":"mqtt in","z":"75dfc913.da6408","name":"","topic":"MONICON-PLC/STAT/Thresholds_4n20/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":200,"y":160,"wires":[["3bab8ed0.c21b92"]]},{"id":"77a76bc4.fe8e74","type":"link out","z":"75dfc913.da6408","name":"L-Thres_PT100-Para","links":[],"x":535,"y":100,"wires":[]},{"id":"3bab8ed0.c21b92","type":"link out","z":"75dfc913.da6408","name":"L-Thres_4n20-Para","links":["5b63e8f7.9b8bd8"],"x":535,"y":160,"wires":[]},{"id":"f27fcb7c.f39128","type":"mqtt in","z":"75dfc913.da6408","name":"","topic":"MONICON-PLC/STAT/Thresholds/#","qos":"2","datatype":"auto","broker":"89b97fb2.1ec7d","x":180,"y":240,"wires":[["1ae5c5e2.255d3a"]]},{"id":"8a9daa87.087a18","type":"ui_button","z":"75dfc913.da6408","name":"","group":"4952bdf6.d526e4","order":5,"width":0,"height":0,"passthru":false,"label":"Threshold Parameter Request","tooltip":"Enert new equipment ID name","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":340,"wires":[["f592811a.ec26e"]]},{"id":"f592811a.ec26e","type":"function","z":"75dfc913.da6408","name":"Formulate(Threshold Command)","func":"let serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/Thresholds/\" + serialID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":340,"wires":[["1ae5c5e2.255d3a"]]},{"id":"661daf3.d73bc5","type":"ui_switch","z":"947dd654.86f7d8","name":"Parameters","label":"Refresh List (60 Sec timeout)","tooltip":"","group":"4952bdf6.d526e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":240,"wires":[["ba61faf0.d44a88","d58c0089.ac5a6"]]},{"id":"61c14f25.03191","type":"ui_dropdown","z":"947dd654.86f7d8","name":"Parameters","label":"Local Devices","tooltip":"","place":"Select option","group":"4952bdf6.d526e4","order":1,"width":"0","height":"0","passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":510,"y":520,"wires":[["b9e0abbc.c63a98","24f060ac.f1582","fec6166.582a0e8"]]},{"id":"b9e0abbc.c63a98","type":"ui_text","z":"947dd654.86f7d8","group":"4952bdf6.d526e4","order":3,"width":0,"height":0,"name":"","label":"Serial No.","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":640,"wires":[]},{"id":"b0f714d1.fc41c8","type":"ui_text","z":"947dd654.86f7d8","group":"4952bdf6.d526e4","order":3,"width":0,"height":0,"name":"","label":"Equipment ID","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":580,"wires":[]},{"id":"123c7a37.454776","type":"ui_text","z":"75dfc913.da6408","group":"64e82ef2.ffce3","order":1,"width":0,"height":0,"name":"","label":"AI-00 LOW Parameter","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1560,"wires":[]},{"id":"da200cf1.fc46d","type":"ui_button","z":"d371a3fc.ccd77","name":"","group":"d342ae97.3b2ec","order":9,"width":0,"height":0,"passthru":false,"label":"Refresh ","tooltip":"Enter new analog threshold","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":1200,"wires":[["dd415e2a.dd584"]]},{"id":"dd415e2a.dd584","type":"function","z":"d371a3fc.ccd77","name":"Formulate(Request for Single Threshold Parameter)","func":"let serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/Threshold_Single_4n20/\" + serialID\nmsg.payload = flow.get(\"THRES_4n20_ID\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":1200,"wires":[["22f2e177.7fa47e"]]},{"id":"843121f.3c436e","type":"mqtt in","z":"d371a3fc.ccd77","name":"","topic":"MONICON-PLC/STAT/Threshold_Single_4n20/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":200,"y":1080,"wires":[["9b1de69c.a46268"]]},{"id":"9b1de69c.a46268","type":"function","z":"d371a3fc.ccd77","name":"Single Threshold Parameter","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1 = { payload : data[0] };\nvar msg2 = { payload : data[1] };\n\nreturn [\n[msg1], [msg2]\n];\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":580,"y":1080,"wires":[["36d73718.b57198"],["edb34a5b.a9fe68"]]},{"id":"b7ba004a.11c08","type":"mqtt in","z":"d371a3fc.ccd77","name":"","topic":"MONICON-PLC/STAT/Threshold_Single_PT100/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":210,"y":820,"wires":[["b53a6733.85f4c8"]]},{"id":"b53a6733.85f4c8","type":"function","z":"d371a3fc.ccd77","name":"Single Threshold Parameter","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1 = { payload : data[0] };\nvar msg2 = { payload : data[1] };\n\nreturn [\n[msg1], [msg2]\n];\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":580,"y":820,"wires":[["fb759b88.c6bd18"],["4b4ff324.5b6d7c"]]},{"id":"e6f485c9.02d328","type":"ui_button","z":"d371a3fc.ccd77","name":"","group":"d342ae97.3b2ec","order":4,"width":0,"height":0,"passthru":false,"label":"Refresh ","tooltip":"Enter new analog threshold","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":920,"wires":[["1f50a69a.1d8ac9"]]},{"id":"1f50a69a.1d8ac9","type":"function","z":"d371a3fc.ccd77","name":"Formulate(Request for Single Threshold Parameter)","func":"let serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/Threshold_Single_PT100/\" + serialID\nmsg.payload = flow.get(\"THRES_PT100_ID\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":920,"wires":[["b9c43cc0.48907"]]},{"id":"e656643f.fe2108","type":"ui_button","z":"d371a3fc.ccd77","name":"","group":"5d3de38b.30602c","order":7,"width":0,"height":0,"passthru":false,"label":"Refresh ","tooltip":"Enter new parameter","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":660,"wires":[["3548a399.66f25c"]]},{"id":"3548a399.66f25c","type":"function","z":"d371a3fc.ccd77","name":"Formulate(Request for Single Scaling Parameter)","func":"let serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/Scale_Single_4n20/\" + serialID\nmsg.payload = flow.get(\"analogID_4n20\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":660,"wires":[["fd8d831d.4a6af"]]},{"id":"48255537.2fd0cc","type":"function","z":"d371a3fc.ccd77","name":"Single Scaling Parameter","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\nreturn msg\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":580,"wires":[["48f6a095.25091"]]},{"id":"201806bb.cb855a","type":"mqtt in","z":"d371a3fc.ccd77","name":"","topic":"MONICON-PLC/STAT/Scale_Single_4n20/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":190,"y":580,"wires":[["48255537.2fd0cc"]]},{"id":"5a403465.a067bc","type":"function","z":"d371a3fc.ccd77","name":"Formulate(Request for Single Scaling Parameter)","func":"let serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/Scale_Single_PT100/\" + serialID\nmsg.payload = flow.get(\"analogID_PT100\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":460,"wires":[["957212c2.2bc2"]]},{"id":"f9936d07.9d325","type":"ui_button","z":"d371a3fc.ccd77","name":"","group":"5d3de38b.30602c","order":3,"width":0,"height":0,"passthru":false,"label":"Refresh ","tooltip":"Enter new parameter","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":460,"wires":[["5a403465.a067bc"]]},{"id":"3691f92b.4f5136","type":"function","z":"d371a3fc.ccd77","name":"Single Scaling Parameter","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\nreturn msg\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":380,"wires":[["14b0cafb.1ff1a5"]]},{"id":"a10778b.1af7d88","type":"mqtt in","z":"d371a3fc.ccd77","name":"","topic":"MONICON-PLC/STAT/Scale_Single_PT100/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":190,"y":380,"wires":[["3691f92b.4f5136"]]},{"id":"b234131d.b8d3e","type":"comment","z":"947dd654.86f7d8","name":"-----------------------------------------------------------------------------------------  Device Locator  ----------------------------------------------------------------------------------------- ","info":"","x":540,"y":40,"wires":[]},{"id":"cc0d76a.bd1ea88","type":"comment","z":"947dd654.86f7d8","name":"-----------------------------------------------------------------------------------------  System Parameters  ----------------------------------------------------------------------------------------- ","info":"","x":550,"y":760,"wires":[]},{"id":"eaa26ea8.c348d","type":"mqtt in","z":"947dd654.86f7d8","name":"","topic":"MONICON-PLC/Device/Status/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":170,"y":840,"wires":[["e37afd1.9c928"]]},{"id":"e37afd1.9c928","type":"function","z":"947dd654.86f7d8","name":"Device Info","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1 = { payload : data[0] };   // RSSI\nvar msg2 = { payload : data[1] };   // WiFi Diconnection Counter\nvar msg3 = { payload : data[2] };   // MQTT Diconnection Counter\nvar msg4 = { payload : data[3] };   // Device IP\n\nreturn [\n[msg1], [msg2],[msg3], [msg4]\n];\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":490,"y":840,"wires":[["f4e41a20.ee6e08"],["9dd7aece.6af52"],["1ba1aee6.08bbb1"],["500bbbad.abe5b4"]]},{"id":"f4e41a20.ee6e08","type":"ui_text","z":"947dd654.86f7d8","group":"2e9493b.19b276c","order":3,"width":0,"height":0,"name":"","label":"RSSI","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":820,"wires":[]},{"id":"9dd7aece.6af52","type":"ui_text","z":"947dd654.86f7d8","group":"2e9493b.19b276c","order":3,"width":0,"height":0,"name":"","label":"WiFi Disconnect Counter","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":860,"wires":[]},{"id":"1ba1aee6.08bbb1","type":"ui_text","z":"947dd654.86f7d8","group":"2e9493b.19b276c","order":3,"width":0,"height":0,"name":"","label":"MQTT Disconnect Counter","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":900,"wires":[]},{"id":"500bbbad.abe5b4","type":"ui_text","z":"947dd654.86f7d8","group":"2e9493b.19b276c","order":3,"width":0,"height":0,"name":"","label":"Device IP","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":940,"wires":[]},{"id":"2b635e2b.f27e52","type":"ui_text","z":"ab5bce01.6160c","group":"e3d48d50.fae3f","order":3,"width":0,"height":0,"name":"","label":"Total Disk Space (GB)","format":"{{msg.payload}} GB","layout":"row-spread","x":1240,"y":500,"wires":[]},{"id":"46ea8b37.40d974","type":"function","z":"ab5bce01.6160c","name":"Disk Size (GB)","func":"var data = msg.payload.split(',')\n\nvar msg1 = {payload: data[0]}\nvar msg2 = {payload: data[3]}\n\nreturn [[msg1], [msg2]];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":980,"y":520,"wires":[["2b635e2b.f27e52"],["4f4c5246.3c16bc"]]},{"id":"4f4c5246.3c16bc","type":"ui_text","z":"ab5bce01.6160c","group":"e3d48d50.fae3f","order":4,"width":0,"height":0,"name":"","label":"Used Disk Space %","format":"{{msg.payload}} %","layout":"row-spread","x":1240,"y":540,"wires":[]},{"id":"4624289f.bfc628","type":"ui_text","z":"ab5bce01.6160c","group":"e3d48d50.fae3f","order":1,"width":0,"height":0,"name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":560,"wires":[]},{"id":"8e4a004.10d85","type":"ui_text","z":"ab5bce01.6160c","group":"e3d48d50.fae3f","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} ","layout":"row-spread","x":970,"y":600,"wires":[]},{"id":"d7d2af32.4c2ee","type":"exec","z":"3a0b80d5.6c8ce","command":"df -h","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SSID","x":390,"y":240,"wires":[[],[],[]]},{"id":"c4f84c37.d761","type":"inject","z":"3a0b80d5.6c8ce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":240,"wires":[["d7d2af32.4c2ee"]]},{"id":"8cd02740.68cb08","type":"function","z":"3a0b80d5.6c8ce","name":"","func":"var data = global.get('os')\nmsg.payload = data.cpus()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[[]]},{"id":"d0116530.a242a8","type":"inject","z":"3a0b80d5.6c8ce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":360,"wires":[["8cd02740.68cb08"]]},{"id":"8c6cb1a1.cf4f4","type":"function","z":"fb032ae4.cfa398","name":"Remote Database","func":"var output = msg.payload.split(\",\");\nvar topic = msg.topic.split(\"/\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n\n// var msg1 = { payload : data[0] };   // RSSI\n// var msg2 = { payload : data[1] };   // WiFi Diconnection Counter\n// var msg3 = { payload : data[2] };   // MQTT Diconnection Counter\n// var msg4 = { payload : data[3] };   // Device IP\n\nstructureObject();\n\nreturn msg;\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tInfo: msg.topic\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tRSSI: \"\\\"\" + output[0] + \"\\\"\",\n\t\t\t\tWIFI_DC: parseFloat(output[1]),\n    \t\t\tMQTT_DC: parseFloat(output[2]),\n    \t\t\tDEVICE_IP: \"\\\"\" + output[3] + \"\\\"\",\n    \t\t\tserialNo: parseFloat(topic[3]),\n    \t\t\tESP_Temp: parseFloat(output[4]),\n    \t\t\ttwentySecLoop: parseFloat(output[5])\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":660,"wires":[[]]},{"id":"634c387f.0039a8","type":"function","z":"fb032ae4.cfa398","name":"Local Database","func":"var output = msg.payload.split(\",\");\nvar topic = msg.topic.split(\"/\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n// Display data\n// var data = msg.payload.split(',')\n// var msg1 = { payload : data[0] };   // RSSI\n// var msg2 = { payload : data[1] };   // WiFi Diconnection Counter\n// var msg3 = { payload : data[2] };   // MQTT Diconnection Counter\n// var msg4 = { payload : data[3] };   // Device IP\n\n\nmsg.payload = [\n    {\n        measurement: siteID,\n\n        fields: {\n\t\t\tRSSI: parseFloat(output[0]),\n\t\t\tWIFI_DC: parseFloat(output[1]),\n\t\t\tMQTT_DC: parseFloat(output[2]),\n\t\t\tDEVICE_IP: String(output[3]),\n\t\t\tSerialNo: String(topic[3]),\n\t\t\tESP_Temp: parseFloat(output[4]),\n\t\t\ttwentySecLoop: parseFloat(output[5])\n\n\t\t},\n        tags:{\n            Analogs: msg.topic\n        },\n        //timestamp: Date.now()\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":620,"wires":[["54dc5c05.a91cc4"]]},{"id":"35eeb3b6.66ad0c","type":"Stackhero-InfluxDB-v2-write","z":"fb032ae4.cfa398","server":"cb1b82bc.a26ae","name":"SESS_ID001","x":950,"y":660,"wires":[[]]},{"id":"54dc5c05.a91cc4","type":"influxdb batch","z":"fb032ae4.cfa398","influxdb":"a27eb0d8.3c2fa","precision":"","retentionPolicy":"","name":"","x":990,"y":620,"wires":[]},{"id":"204c6a83.dd1f06","type":"mqtt in","z":"fb032ae4.cfa398","name":"","topic":"MONICON-PLC/Device/Status/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":150,"y":640,"wires":[["634c387f.0039a8","8c6cb1a1.cf4f4","a96a23f7.111f5"]]},{"id":"eb7eb93f.f1ed38","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-00 LOW ALARM","tooltip":"","group":"9cc24926.921388","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0,0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":1620,"wires":[["960561cc.19edd"]]},{"id":"a00f26d6.db1268","type":"function","z":"e9f72c5e.22b5c","name":"4n20mA Active Alarm Splitter <serialID>","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\n// Display data\nvar data = msg.payload.split(',')\nvar msg1LOW = { payload : data[0].split('/')[0] + \",\" + data[0].split('/')[1]};\nvar msg2LOW = { payload : data[1].split('/')[0] + \",\" + data[1].split('/')[1]};\nvar msg3LOW = { payload : data[2].split('/')[0] + \",\" + data[2].split('/')[1]};\nvar msg4LOW = { payload : data[3].split('/')[0] + \",\" + data[3].split('/')[1]};\nvar msg5LOW = { payload : data[4].split('/')[0] + \",\" + data[4].split('/')[1]};\nvar msg6LOW = { payload : data[5].split('/')[0] + \",\" + data[5].split('/')[1]};\nvar msg7LOW = { payload : data[6].split('/')[0] + \",\" + data[6].split('/')[1]};\nvar msg8LOW = { payload : data[7].split('/')[0] + \",\" + data[7].split('/')[1]};\n\nvar msg1HIGH = { payload : data[8].split('/')[0] + \",\" + data[8].split('/')[1]};\nvar msg2HIGH = { payload : data[9].split('/')[0] + \",\" + data[9].split('/')[1]};\nvar msg3HIGH = { payload : data[10].split('/')[0] + \",\" + data[10].split('/')[1]};\nvar msg4HIGH = { payload : data[11].split('/')[0] + \",\" + data[11].split('/')[1]};\nvar msg5HIGH = { payload : data[12].split('/')[0] + \",\" + data[12].split('/')[1]};\nvar msg6HIGH = { payload : data[13].split('/')[0] + \",\" + data[13].split('/')[1]};\nvar msg7HIGH = { payload : data[14].split('/')[0] + \",\" + data[14].split('/')[1]};\nvar msg8HIGH = { payload : data[15].split('/')[0] + \",\" + data[15].split('/')[1]};\n\nreturn [\n[msg1LOW], [msg2LOW], [msg3LOW], [msg4LOW], \n[msg5LOW], [msg6LOW], [msg7LOW], [msg8LOW],\n[msg1HIGH], [msg2HIGH], [msg3HIGH], [msg4HIGH], \n[msg5HIGH], [msg6HIGH], [msg7HIGH], [msg8HIGH]\n] ;\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":16,"noerr":0,"initialize":"","finalize":"","x":540,"y":1740,"wires":[["eb7eb93f.f1ed38"],["ad3625cc.e20938"],["9e906527.b430a8"],["9b1bed51.e04ca"],["5d69c6b2.672e78"],["27527bc3.191394"],["4a32ac92.f65264"],[],["93ea69d4.0fe8f8"],["66e685a5.56b50c"],["fa7b181e.f4a2c8"],["2114c17b.f1109e"],["ce39062a.df2cd8"],["4a20cd4a.d0daa4"],["d35b027.d00a6"],[]]},{"id":"ad3625cc.e20938","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-01 LOW ALARM","tooltip":"","group":"9cc24926.921388","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1,0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":1660,"wires":[["960561cc.19edd"]]},{"id":"9e906527.b430a8","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-02 LOW ALARM","tooltip":"","group":"9cc24926.921388","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"2,0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":1700,"wires":[["960561cc.19edd"]]},{"id":"9b1bed51.e04ca","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-03 LOW ALARM","tooltip":"","group":"9cc24926.921388","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"3,0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":1740,"wires":[["960561cc.19edd"]]},{"id":"5d69c6b2.672e78","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-04 LOW ALARM","tooltip":"","group":"9cc24926.921388","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"4,0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":1780,"wires":[["960561cc.19edd"]]},{"id":"27527bc3.191394","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-05 LOW ALARM","tooltip":"","group":"9cc24926.921388","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"5,0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":1820,"wires":[["960561cc.19edd"]]},{"id":"93ea69d4.0fe8f8","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-00 HIGH ALARM","tooltip":"","group":"1c35732b.c16ddd","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"8,0","offvalueType":"str","officon":"","offcolor":"","x":920,"y":1920,"wires":[["960561cc.19edd"]]},{"id":"66e685a5.56b50c","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-01 HIGH ALARM","tooltip":"","group":"1c35732b.c16ddd","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"9,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"9,0","offvalueType":"str","officon":"","offcolor":"","x":920,"y":1960,"wires":[["960561cc.19edd"]]},{"id":"fa7b181e.f4a2c8","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-02 HIGH ALARM","tooltip":"","group":"1c35732b.c16ddd","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"10,0","offvalueType":"str","officon":"","offcolor":"","x":920,"y":2000,"wires":[["960561cc.19edd"]]},{"id":"2114c17b.f1109e","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-03 HIGH ALARM","tooltip":"","group":"1c35732b.c16ddd","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"11,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"11,0","offvalueType":"str","officon":"","offcolor":"","x":920,"y":2040,"wires":[["960561cc.19edd"]]},{"id":"ce39062a.df2cd8","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-04 HIGH ALARM","tooltip":"","group":"1c35732b.c16ddd","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"12,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"12,0","offvalueType":"str","officon":"","offcolor":"","x":920,"y":2080,"wires":[["960561cc.19edd"]]},{"id":"4a20cd4a.d0daa4","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-05 HIGH ALARM","tooltip":"","group":"1c35732b.c16ddd","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"13,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"13,0","offvalueType":"str","officon":"","offcolor":"","x":920,"y":2120,"wires":[["960561cc.19edd"]]},{"id":"97b98027.a8593","type":"mqtt out","z":"e9f72c5e.22b5c","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":1130,"y":800,"wires":[]},{"id":"eaf2866e.ec5948","type":"inject","z":"e9f72c5e.22b5c","name":"MONICON-PLC/CMD/Alarm_Enable/2362665425","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"MONICON-PLC/CMD/Alarm_Enable/2362665425","payload":"","payloadType":"str","x":240,"y":860,"wires":[["97b98027.a8593"]]},{"id":"ffab7105.c0e83","type":"mqtt in","z":"e9f72c5e.22b5c","name":"","topic":"MONICON-PLC/CMD/Alarm_Enable/#","qos":"2","datatype":"auto","broker":"89b97fb2.1ec7d","x":170,"y":800,"wires":[["97b98027.a8593"]]},{"id":"e5b981e1.db3eb","type":"ui_button","z":"e9f72c5e.22b5c","name":"","group":"97964936.2f6b58","order":5,"width":0,"height":0,"passthru":false,"label":"Request Active Alarms","tooltip":"Enert new equipment ID name","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":120,"y":900,"wires":[["89408d27.1ba15"]]},{"id":"89408d27.1ba15","type":"function","z":"e9f72c5e.22b5c","name":"Formulate(Threshold Command)","func":"let serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/Alarm_Enable/\" + serialID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":900,"wires":[["97b98027.a8593"]]},{"id":"b2d281bc.a4a3c","type":"comment","z":"e9f72c5e.22b5c","name":"PT100 Active Alart Alarms ----------------------------------","info":"","x":210,"y":760,"wires":[]},{"id":"9da4954c.cf63c8","type":"mqtt in","z":"e9f72c5e.22b5c","name":"","topic":"MONICON-PLC/STAT/Alarm_En_4n20/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":180,"y":1740,"wires":[["a00f26d6.db1268"]]},{"id":"ccaa75c7.ec42d8","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-00 LOW ALARM","tooltip":"","group":"1f86c7fe.575f98","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0,0","offvalueType":"str","officon":"","offcolor":"","x":890,"y":2240,"wires":[["577b5c03.6022b4"]]},{"id":"adb07bf9.cfb708","type":"function","z":"e9f72c5e.22b5c","name":"PT100 Active Alarm Splitter <serialID>","func":"var serialID = global.get(\"serialID\")\nvar topic = msg.topic.split('/')\n\n// Check serial number matches selected serial number\nif(topic[3] != serialID) {\n    return\n}\n\nvar data = msg.payload.split(',')\nvar msg1LOW = { payload : data[0].split('/')[0] + \",\" + data[0].split('/')[1]};\nvar msg2LOW = { payload : data[1].split('/')[0] + \",\" + data[1].split('/')[1]};\nvar msg3LOW = { payload : data[2].split('/')[0] + \",\" + data[2].split('/')[1]};\nvar msg4LOW = { payload : data[3].split('/')[0] + \",\" + data[3].split('/')[1]};\nvar msg5LOW = { payload : data[4].split('/')[0] + \",\" + data[4].split('/')[1]};\nvar msg6LOW = { payload : data[5].split('/')[0] + \",\" + data[5].split('/')[1]};\nvar msg7LOW = { payload : data[6].split('/')[0] + \",\" + data[6].split('/')[1]};\nvar msg8LOW = { payload : data[7].split('/')[0] + \",\" + data[7].split('/')[1]};\n\nvar msg1HIGH = { payload : data[8].split('/')[0] + \",\" + data[8].split('/')[1]};\nvar msg2HIGH = { payload : data[9].split('/')[0] + \",\" + data[9].split('/')[1]};\nvar msg3HIGH = { payload : data[10].split('/')[0] + \",\" + data[10].split('/')[1]};\nvar msg4HIGH = { payload : data[11].split('/')[0] + \",\" + data[11].split('/')[1]};\nvar msg5HIGH = { payload : data[12].split('/')[0] + \",\" + data[12].split('/')[1]};\nvar msg6HIGH = { payload : data[13].split('/')[0] + \",\" + data[13].split('/')[1]};\nvar msg7HIGH = { payload : data[14].split('/')[0] + \",\" + data[14].split('/')[1]};\nvar msg8HIGH = { payload : data[15].split('/')[0] + \",\" + data[15].split('/')[1]};\n\nreturn [\n[msg1LOW], [msg2LOW], [msg3LOW], [msg4LOW], \n[msg5LOW], [msg6LOW], [msg7LOW], [msg8LOW],\n[msg1HIGH], [msg2HIGH], [msg3HIGH], [msg4HIGH], \n[msg5HIGH], [msg6HIGH], [msg7HIGH], [msg8HIGH]\n] ;\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":16,"noerr":0,"initialize":"","finalize":"","x":530,"y":2360,"wires":[["ccaa75c7.ec42d8"],["328b92a7.f0ccde"],["cb9038a9.8bac88"],["28a3cfa4.478e5"],["d64d1e6b.26e4c"],["c458ae75.a7a94"],[],[],["ea95fdf1.15f3a"],["8524c958.4df648"],["1b5184ea.a5bddb"],["c59d58b8.0b1708"],["356dc7d8.0d7be8"],["c5f0746a.3b3678"],[],[]]},{"id":"328b92a7.f0ccde","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-01 LOW ALARM","tooltip":"","group":"1f86c7fe.575f98","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1,0","offvalueType":"str","officon":"","offcolor":"","x":890,"y":2280,"wires":[["577b5c03.6022b4"]]},{"id":"cb9038a9.8bac88","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-02 LOW ALARM","tooltip":"","group":"1f86c7fe.575f98","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"2,0","offvalueType":"str","officon":"","offcolor":"","x":890,"y":2320,"wires":[["577b5c03.6022b4"]]},{"id":"28a3cfa4.478e5","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-03 LOW ALARM","tooltip":"","group":"1f86c7fe.575f98","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"3,0","offvalueType":"str","officon":"","offcolor":"","x":890,"y":2360,"wires":[["577b5c03.6022b4"]]},{"id":"d64d1e6b.26e4c","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-04 LOW ALARM","tooltip":"","group":"1f86c7fe.575f98","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"4,0","offvalueType":"str","officon":"","offcolor":"","x":890,"y":2400,"wires":[["577b5c03.6022b4"]]},{"id":"c458ae75.a7a94","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-05 LOW ALARM","tooltip":"","group":"1f86c7fe.575f98","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"5,0","offvalueType":"str","officon":"","offcolor":"","x":890,"y":2440,"wires":[["577b5c03.6022b4"]]},{"id":"ea95fdf1.15f3a","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-00 HIGH ALARM","tooltip":"","group":"1053e3d8.f35acc","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"8,0","offvalueType":"str","officon":"","offcolor":"","x":900,"y":2500,"wires":[["577b5c03.6022b4"]]},{"id":"8524c958.4df648","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-01 HIGH ALARM","tooltip":"","group":"1053e3d8.f35acc","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"9,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"9,0","offvalueType":"str","officon":"","offcolor":"","x":900,"y":2540,"wires":[["577b5c03.6022b4"]]},{"id":"1b5184ea.a5bddb","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-02 HIGH ALARM","tooltip":"","group":"1053e3d8.f35acc","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"10,0","offvalueType":"str","officon":"","offcolor":"","x":900,"y":2580,"wires":[["577b5c03.6022b4"]]},{"id":"c59d58b8.0b1708","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-03 HIGH ALARM","tooltip":"","group":"1053e3d8.f35acc","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"11,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"11,0","offvalueType":"str","officon":"","offcolor":"","x":900,"y":2620,"wires":[["577b5c03.6022b4"]]},{"id":"356dc7d8.0d7be8","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-04 HIGH ALARM","tooltip":"","group":"1053e3d8.f35acc","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"12,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"12,0","offvalueType":"str","officon":"","offcolor":"","x":900,"y":2660,"wires":[["577b5c03.6022b4"]]},{"id":"c5f0746a.3b3678","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-05 HIGH ALARM","tooltip":"","group":"1053e3d8.f35acc","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"13,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"13,0","offvalueType":"str","officon":"","offcolor":"","x":900,"y":2700,"wires":[["577b5c03.6022b4"]]},{"id":"dcfd9258.e3b5a","type":"mqtt in","z":"e9f72c5e.22b5c","name":"","topic":"MONICON-PLC/STAT/Alarm_En_PT100/#","qos":"2","datatype":"auto","broker":"11c21f0e.d49831","x":180,"y":2360,"wires":[["adb07bf9.cfb708"]]},{"id":"6ea2b2ef.f00e1c","type":"ui_switch","z":"947dd654.86f7d8","name":"Alarm Config","label":"Refresh List (60 Sec timeout)","tooltip":"","group":"97964936.2f6b58","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":280,"wires":[["d58c0089.ac5a6","ba61faf0.d44a88"]]},{"id":"d7058eca.dee9","type":"ui_dropdown","z":"947dd654.86f7d8","name":"Alarm Config","label":"Local Devices","tooltip":"","place":"Select option","group":"97964936.2f6b58","order":1,"width":"0","height":"0","passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":510,"y":560,"wires":[["fec6166.582a0e8","24f060ac.f1582","d53fced9.5c1c6"]]},{"id":"d53fced9.5c1c6","type":"ui_text","z":"947dd654.86f7d8","group":"97964936.2f6b58","order":3,"width":0,"height":0,"name":"","label":"Serial No.","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":680,"wires":[]},{"id":"a6ed6f4a.076f7","type":"ui_text","z":"947dd654.86f7d8","group":"97964936.2f6b58","order":3,"width":0,"height":0,"name":"","label":"Equipment ID","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":620,"wires":[]},{"id":"960561cc.19edd","type":"function","z":"e9f72c5e.22b5c","name":"Formulate(Alarm Notification Command)","func":"let serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/Alarm_En_4n20/\" + serialID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":1620,"wires":[["c025d9e1.db7888"]]},{"id":"c025d9e1.db7888","type":"mqtt out","z":"e9f72c5e.22b5c","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":1470,"y":1620,"wires":[]},{"id":"577b5c03.6022b4","type":"function","z":"e9f72c5e.22b5c","name":"Formulate(Alarm Notification Command)","func":"let serialID = global.get(\"serialID\")\nmsg.topic = \"MONICON-PLC/CMD/Alarm_En_PT100/\" + serialID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":2240,"wires":[["5469b387.1a91fc"]]},{"id":"5469b387.1a91fc","type":"mqtt out","z":"e9f72c5e.22b5c","name":"","topic":"","qos":"","retain":"","broker":"11c21f0e.d49831","x":1470,"y":2240,"wires":[]},{"id":"4a32ac92.f65264","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-06 LOW ALARM","tooltip":"","group":"9cc24926.921388","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"6,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"6,0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":1860,"wires":[["960561cc.19edd"]]},{"id":"d35b027.d00a6","type":"ui_switch","z":"e9f72c5e.22b5c","name":"","label":"AI-06 HIGH ALARM","tooltip":"","group":"1c35732b.c16ddd","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"14,1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"14,0","offvalueType":"str","officon":"","offcolor":"","x":920,"y":2160,"wires":[["960561cc.19edd"]]},{"id":"152aa6a5.460879","type":"ui_text_input","z":"947dd654.86f7d8","name":"","label":"Site ID:","tooltip":"","group":"2e9493b.19b276c","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":100,"y":1160,"wires":[["13597dee.849f52"]]},{"id":"f0b855d1.5de658","type":"ui_text","z":"947dd654.86f7d8","group":"2e9493b.19b276c","order":5,"width":0,"height":0,"name":"","label":"Site ID","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":1160,"wires":[]},{"id":"13597dee.849f52","type":"function","z":"947dd654.86f7d8","name":"Set Site ID","func":"let siteID = msg.payload\nglobal.set(\"siteID\", siteID)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1160,"wires":[["f0b855d1.5de658"]]},{"id":"5763b769.ae7988","type":"comment","z":"947dd654.86f7d8","name":"-----------------------------------------------------------------------------------------  Set Site ID ----------------------------------------------------------------------------------------- ","info":"","x":520,"y":1100,"wires":[]},{"id":"ff8bc27b.536b4","type":"mqtt in","z":"e92774ea.3697d8","name":"","topic":"MONICON-PLC/CMD/DigitalOutputs/#","qos":"2","datatype":"auto","broker":"89b97fb2.1ec7d","x":170,"y":80,"wires":[["9630b592.6a0218"]]},{"id":"edf50871.9657a8","type":"function","z":"ab5bce01.6160c","name":"Used mem(SSD)","func":"let msg1 = {payload : \"df -h | grep -i sda1 | awk '{print $3\\\"/\\\"}';df -h | grep -i sda1 | awk '{print $2}'\", topic :\"Used mem(SSD)\"}\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":660,"wires":[["35add541.62940a"]]},{"id":"35add541.62940a","type":"exec","z":"ab5bce01.6160c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":660,"wires":[["7d58443f.9379ec","577dc91e.f37248"],[],[]]},{"id":"577dc91e.f37248","type":"ui_text","z":"ab5bce01.6160c","group":"e3d48d50.fae3f","order":4,"width":0,"height":0,"name":"","label":"Used mem(SSD)","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":700,"wires":[]},{"id":"7d58443f.9379ec","type":"function","z":"ab5bce01.6160c","name":"Used mem(SSD)","func":"if(msg.topic != \"Used mem(SSD)\") {\n    return\n}\n\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nlet data = msg.payload.split('/')\n\n//return msg;\n\nvar msg1 = {};\n\n    msg1.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            SSD_Used: data[0],//.replace(/\\D/g,'')), //removes non numerical characters\n            SSD_Total: data[1],//.replace(/\\D/g,'')), //removes non numerical characters\n        },\n        tags:{\n            System: \"SSD\",\n        }\n    }];\n    \nvar msg2 = {};\n\nstructureObject();\n\nreturn [[msg1], [msg2]];\n        \nfunction structureObject() {\n\tmsg2.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"SSD\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tSSD_Used: \"\\\"\" + data[0] + \"\\\"\",\n\t\t\t\tSSD_Total: \"\\\"\" + data[1] + \"\\\"\",\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":990,"y":660,"wires":[["cd518942.cf7028"],[]]},{"id":"6e874a89.d71df4","type":"debug","z":"fb032ae4.cfa398","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":360,"wires":[]},{"id":"88574537.882d98","type":"debug","z":"fb032ae4.cfa398","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":540,"wires":[]},{"id":"283e799e.b3cc56","type":"file in","z":"fec238df.25bb18","name":"","filename":"","format":"","sendError":true,"x":950,"y":40,"wires":[["875331db.10208"]]},{"id":"7347c1a6.ea12a","type":"switch","z":"fec238df.25bb18","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"ESP32-http-Update","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":290,"y":40,"wires":[[],["69eab26b.4c62ac"]]},{"id":"d259a312.6e137","type":"http in","z":"fec238df.25bb18","name":"OTA Request","url":"/firmwareUpdate","method":"get","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["7347c1a6.ea12a"]]},{"id":"b8411e33.06175","type":"debug","z":"fec238df.25bb18","name":"msg.mostRecentFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"mostRecentFile","x":1000,"y":180,"wires":[]},{"id":"875331db.10208","type":"http response","z":"fec238df.25bb18","name":"OTA Response","statusCode":"","headers":{},"x":1120,"y":40,"wires":[]},{"id":"ecf9d3a7.eacdf","type":"function","z":"fec238df.25bb18","name":"","func":"///// \n\n\n//msg.filename = \"/home/pi/Firmware/PowerProV2.3.2.ino.nodemcu.bin\"\n//return msg\n\n//List of files from RPI Github\nvar firmwares = msg.files;\n//TRUC_VERSION DATA from ESP\nvar version = msg.req.headers;\n//Version Data\nvar currentFile = version[\"x-esp32-version\"];\n//Extract Device Type PowerPro or LightPro\nvar deviceType = currentFile.substring(0,currentFile.indexOf(\"V\")+1)\nmsg.deviceType = deviceType;\n\n//Extracts Github file that matches current ESP version ID\nvar existingFile = firmwares.filter(item=> item.includes(currentFile)).pop();\n//Filters out any incorrect device types ie PowerPro or LightPro\nvar firmwareNames = firmwares.filter(item=> item.includes(msg.deviceType));\n//Sorts out list of files\nvar comparer = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});\nfirmwareNames.sort(comparer.compare)[firmwareNames.length-1]\n\nvar mostRecentFile;\n//Pops off most recent file\nmsg.mostRecentFile = firmwareNames.pop();\nmsg.existingFile = existingFile;\n//Compares ESP version to most recent developed file\nif((msg.existingFile.localeCompare(msg.mostRecentFile)) < 0)\n{\n    msg.filename = \"/home/pi/Firmware/\" + msg.mostRecentFile;\n}\nelse\n{\n    msg.filename = undefined;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":40,"wires":[["b8411e33.06175","e57b931d.bd0d8","ecaf01ca.6ddc1","4657369f.c0e9f8","48b1afc5.4aea4","3db481b.77d0f7e","283e799e.b3cc56"]]},{"id":"e57b931d.bd0d8","type":"debug","z":"fec238df.25bb18","name":"msg.filename","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","x":970,"y":220,"wires":[]},{"id":"ecaf01ca.6ddc1","type":"debug","z":"fec238df.25bb18","name":"msg.req.headers.x-esp8266-version","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.headers.x-esp8266-version","x":1050,"y":260,"wires":[]},{"id":"4657369f.c0e9f8","type":"debug","z":"fec238df.25bb18","name":"msg.existingFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"existingFile","x":980,"y":140,"wires":[]},{"id":"48b1afc5.4aea4","type":"debug","z":"fec238df.25bb18","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":100,"wires":[]},{"id":"3db481b.77d0f7e","type":"debug","z":"fec238df.25bb18","name":"msg.deviceType","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"deviceType","x":980,"y":300,"wires":[]},{"id":"7efbea6b.a35414","type":"exec","z":"fec238df.25bb18","command":"sudo rm /home/pi/Firmware -r","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Delete Firmware Dir","x":340,"y":620,"wires":[["6181e039.e177a"],[],[]]},{"id":"6181e039.e177a","type":"exec","z":"fec238df.25bb18","command":" sudo git clone https://github.com/jimmy232/Firmware.git","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Download github bin files","x":590,"y":620,"wires":[["b8692fd3.ce54e"],[],[]]},{"id":"64f150f7.b1b8b","type":"inject","z":"fec238df.25bb18","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":620,"wires":[["7efbea6b.a35414"]]},{"id":"3840ea7b.286f36","type":"debug","z":"fec238df.25bb18","name":"msg.existingFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"files","x":980,"y":340,"wires":[]},{"id":"69eab26b.4c62ac","type":"fs-ops-dir","z":"fec238df.25bb18","name":"","path":"/home/pi/Firmware","pathType":"str","filter":".bin","filterType":"str","dir":"files","dirType":"msg","x":540,"y":40,"wires":[["ecf9d3a7.eacdf","3840ea7b.286f36"]]},{"id":"b8692fd3.ce54e","type":"mqtt out","z":"fec238df.25bb18","name":"","topic":"MONICON-PLC/CMD/UploadFirmware/3369298385","qos":"","retain":"","broker":"11c21f0e.d49831","x":960,"y":540,"wires":[]},{"id":"8355bca6.293e2","type":"inject","z":"fec238df.25bb18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":540,"wires":[["b8692fd3.ce54e"]]},{"id":"418a9f73.5fba8","type":"ui_switch","z":"1580baa6.0458b5","name":"","label":"DO-00","tooltip":"","group":"2753fe30.136152","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":930,"y":1400,"wires":[[]]},{"id":"45406e76.25817","type":"ui_switch","z":"1580baa6.0458b5","name":"","label":"DO-01","tooltip":"","group":"2753fe30.136152","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":930,"y":1500,"wires":[[]]},{"id":"17772028.642f8","type":"ui_switch","z":"1580baa6.0458b5","name":"","label":"DO-02","tooltip":"","group":"2753fe30.136152","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":930,"y":1600,"wires":[[]]},{"id":"a96a23f7.111f5","type":"debug","z":"fb032ae4.cfa398","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":720,"wires":[]}]